<section class="usajobs-canvas">
  <div class="usajobs-content-gutter">
    <div id="registration-error" class="usa-alert usajobs-alert usajobs-alert--error" role="alert" data-object="alert" style="display:none;">
        <div class="usajobs-alert__figure">
          <div class="usajobs-alert__icon">
          </div>
        </div>
        <div class="usajobs-alert__body">
          <p class="usa-alert-text" id="registration-error-text">
          </p>
        </div>
      </div>
    <main id="main-content" role="main" aria-label="Create account">
      <div class="usajobs-open-opps-opportunity usajobs-open-opps-login">
        <form class="usa-form-large" id="registration-form">
          <div id="registration-view">
            <h2>Create account</h2>
            <div id="default-registration-view">

              <div class="form-group">
                <div class="required-input">
                  <label for="rname" class="control-label">Name</label>
                  <span class="field-validation-error error-empty" style="display:none;">Please enter your full name.</span>
                  <span class="field-validation-error error-count60" style="display:none;">Maximum of 60 characters.</span>
                  <span class="field-validation-error error-html" style="display:none;">The special characters '<' or '>' are not allowed.</span>
                  <input type="text" class="form-control validate" id="rname" name="rname" placeholder="Full Name" data-validate="empty,count60,html" autofocus>
                </div>
              </div>

              <div class="form-group">
                <div class="required-input">
                  <label for="rusername" class="control-label">Official government email address</label>
                  <span class="field-validation-error error-empty" style="display:none;">The email address is required.</span>
                  <span class="field-validation-error error-email" style="display:none;">The email address is not valid or is already in use.</span>
                  <input type="text" class="form-control" id="rusername" name="username" placeholder="Email Address" />
              </div>
            </div>
            <div class="password-view">
            </div>
            <div id="optional-registration-view">
              <% if (login.agency.enabled === true) { %>
                  <div class="form-group">
                    <div class="required-input">
                      <label for="ragency" class="control-label">Agency</label>
                      <span class="field-validation-error error-empty" style="display:none;">Please select a valid agency.</span>
                      <input type="hidden" id="ragency" name="ragency" style="width: 100%" data-validate="empty"/>
                    </div>
                  </div>
              <% } %>

              <% if (login.location.enabled === true) { %>
                <div class="form-group">
                    <div class="required-input">
                      <label for="rlocation" class="control-label">Location</label>
                      <span class="field-validation-error error-empty" style="display:none;">Please select a valid location.</span>
                      <input type="hidden" id="rlocation" name="rlocation" style="width: 100%" data-validate="empty"/>
                    </div>
                  </div>
              <% } %>
            </div>
            <div class="required-input checkbox">
                <input type="checkbox" id="rterms" class="validate" data-validate="checked">
                <label for="rterms"><span>I am a federal employee and agree to the </span><a href="<%- login.terms.link %>"><%- login.terms.name %></a>.</label>
                <span class="field-validation-error error-checked" style="display:none;">You must accept the Terms and Conditions to register.</span>
              </div>
            </div>
          </div>
          <div class="usajobs-button_bar--slim">
              <div class="usajobs-button_bar__body">
              <button type="button" id="register-cancel" class="usa-button usa-button-secondary">Cancel</button>
              <button type="submit" class="usa-button usajobs-button-primary">Create account</button>
            </div>
        </div>
        </form>
      </div>
    </main>
  </div>
</section>
