<section class="usajobs-canvas">
  <div class="usajobs-content-gutter">
    <main id="main-content" role="main" aria-label="Create account">
      <div class="usajobs-open-opps-opportunity usajobs-open-opps-login">
        <form class="usa-form-large" id="registration-form">
          <div id="registration-view">
          <h2>Create account</h2>
    
          <div id="default-registration-view">


            <div class="form-group">
              <div class="required-input">
                <label for="rname" class="control-label">Name</label>
                <span class="field-validation-error error-empty" style="display:none;">Please enter your full name.</span>
                <span class="field-validation-error error-count60" style="display:none;">Maximum of 60 characters.</span>
                <span class="field-validation-error error-html" style="display:none;">The special characters '<' or '>' are not allowed.</span>
                <input type="text" class="form-control validate" id="rname" name="rname" placeholder="Full Name" data-validate="empty,count60,html" autofocus>
              </div>
            </div>


            <div class="form-group">
              <div class="required-input">
              <label for="rusername" class="control-label">Official government email address</label>
              <span class="field-validation-error error-button" style="display:none;">The email address is not valid or is already in use.</span>
              <input type="text" class="form-control validate" id="rusername" name="username" placeholder="Email Address" data-validate="button"/>
            </div>
          </div>
    
        <div class="password-view">
        </div>
    
        <div class="checkbox">
          <label>
            <% if (login.terms.enabled === true) { %>
            <input type="checkbox" id="rterms" class="validate" data-validate="checked"> <span>Yes, I agree to the </span><a href="<%- login.terms.link %>"><%- login.terms.name %></a>.
            <span class="field-validation-error error-checked" style="display:none;">You must accept the <%- login.terms.name %> to register.</span>
            <% } %>
          </label>
        </div>
      </div>
    
        <div id="optional-registration-view">
          <% if (login.agency.enabled === true) { %>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="ragency" class="control-label">Agency</label>
                  <input type="hidden" id="ragency" name="ragency" style="width: 100%" data-validate="empty"/>
                  <span class="field-validation-error error-empty" style="display:none;">Please select a valid agency.</span>
                </div>
              </div>
            </div>
          <% } %>
    
          <% if (login.location.enabled === true) { %>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="rlocation" class="control-label">Location</label>
                  <input type="hidden" id="rlocation" name="rlocation" style="width: 100%" data-validate="empty"/>
                  <span class="field-validation-error error-empty" style="display:none;">Please select a valid location.</span>
                </div>
              </div>
            </div>
          <% } %>
        </div>
    
        <div class="form-group margin-bottom-none">
              <div class="alert alert-danger" id="registration-error" style="display:none;"></div>
        </div>
    
        </div>
        <div id="registration-footer">
            <div class="pull-right">
              <button type="button" id="register-cancel" class="usa-button usa-button-secondary">Cancel</button>       
              <button type="submit" id="registration-form" class="usa-button usajobs-button-primary">Create account</button>
            </div>
        </div>
        </form>
      </div>
    </main>
  </div>
</section>  