<section class="usajobs-canvas">
  <div class="usajobs-content-gutter">
    <main id="main-content" role="main" aria-label="Sign In">
      <div class="usajobs-open-opps-opportunity usajobs-open-opps-login">
        <form class="usa-form-large" id="registration-form">
          <div id="registration-view">
          <h2>Create a New Account</h2>
    
          <div id="default-registration-view">
            <div class="row">

            <div class="form-group">
              <label for="rname" class="control-label" data-i18n="loginModal.name">Name</label>
              <input type="text" class="form-control validate" id="rname" name="rname" placeholder="Full Name" data-validate="empty,count60,html" autofocus>
              <span class="help-block error-empty" style="display:none;">Please enter your full name</span>
              <span class="help-block error-count60" style="display:none;">Maximum of 60 characters</span>
              <span class="help-block error-html" style="display:none;">The special characters '<' or '>' are not allowed</span>
            </div>


            <div class="form-group">
              <label for="rusername" class="control-label" data-i18n="loginModal.emailAddress">Email Address</label>
              <div class="input-group">
                <input type="text" class="form-control validate" id="rusername" name="username" placeholder="Email Address" data-validate="button"/>
                <span class="input-group-btn">
                  <span class="btn nohover btn-danger" id="rusername-button" tabindex="-1">
                    <i id="rusername-check" class="fa fa-times"></i>
                  </span>
                </span>
              </div>
              <span class="help-block error-button" style="display:none;">The email address is not valid or is already in use</span>
            </div>

        </div>
    
        <div class="password-view">
        </div>
    
        <div class="checkbox">
          <label>
            <% if (login.terms.enabled === true) { %>
            <input type="checkbox" id="rterms" class="validate" data-validate="checked"> <span data-i18n="loginModal.tosCheckbox">Yes, I agree to the </span><a href="<%- login.terms.link %>"><%- login.terms.name %></a>.
            <span class="help-block error-checked" style="display:none;">You must accept the <%- login.terms.name %> to register.</span>
            <% } %>
          </label>
        </div>
      </div>
    
        <div id="optional-registration-view">
          <% if (login.agency.enabled === true) { %>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="ragency" class="control-label" data-i18n="tag.Agency"></label>
                  <input type="hidden" id="ragency" name="ragency" style="width: 100%" data-validate="empty"/>
                  <span class="help-block error-empty" style="display:none;">Please select a valid agency.</span>
                </div>
              </div>
            </div>
          <% } %>
    
          <% if (login.location.enabled === true) { %>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="rlocation" class="control-label" data-i18n="loginModal.location">Location</label>
                  <input type="hidden" id="rlocation" name="rlocation" style="width: 100%" data-validate="empty"/>
                  <span class="help-block error-empty" style="display:none;">Please select a valid location.</span>
                </div>
              </div>
            </div>
          <% } %>
        </div>
    
        <div class="form-group margin-bottom-none">
              <div class="alert alert-danger" id="registration-error" style="display:none;"></div>
        </div>
    
        </div>
        <div id="registration-footer">
            <div class="pull-right">
              <button type="button" id="register-cancel" class="usa-button usa-button-secondary">Cancel</button>       
              <button type="submit" id="registration-form" class="usa-button usajobs-button-primary">Create account</button>
            </div>
        </div>
        </form>
      </div>
    </main>
  </div>
</section>  