<section class="usajobs-canvas">
  <div class="usajobs-content-gutter login-gutter">
    <main id="main-content" role="main" aria-label="Sign In">
      <div class="usajobs-open-opps-opportunity usajobs-open-opps-login">
        <div class="usa-form-large" id="login-password-form">
          <fieldset class="usajobs-fieldset" id="login-view">
            <% if (message && !_.isUndefined(message.message)) { %>
              <div class="usa-alert usajobs-alert usajobs-alert--warning" role="alert" data-object="alert" id="file-upload-alert" style="display:none;">
                  <div class="usajobs-alert__figure">
                    <div class="usajobs-alert__icon">
                    </div>
                  </div>
                  <div class="usajobs-alert__body">
                    <p class="usa-alert-text"><%= message.message %></p>
                  </div>
              </div>
            <% } %>
            <% if (login.local.enabled === true) { %>
              <div id="login-error" class="usa-alert usajobs-alert usajobs-alert--error" role="alert" data-object="alert" style="display:none;">
                <div class="usajobs-alert__figure">
                  <div class="usajobs-alert__icon">
                  </div>
                </div>
                <div class="usajobs-alert__body">
                  <p class="usa-alert-text" id="login-error-text">
                  </p>
                </div>
              </div>
              <h2>Sign in</h2>
              <div class="required-input">
                <label for="username" class="control-label">Official government email address</label>
                <label class="field-validation-error error-email" style="display:none;">Invalid email address.</label>
                <input type="email" class="form-control" id="username" name="identifier" placeholder="Email address"/>
              </div>
              <div class="required-input">
                <label for="password" class="control-label">Password</label>
                <label class="field-validation-error error-password" style="display:none;">Invalid password.</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password"/>
              </div>
              <a href='#forgot-password' id="forgot-password" class="forgot-password">Forgot your password?</a>
              <div class="usajobs-button_bar--slim">
                <div class="usajobs-button_bar__body">
                  <button type="submit" id="submitLogin" class="usa-button usa-button-primary">Sign in</button>
                </div>
                <h4>Don't have an Open Opportunities account?</h4>
                <button id="login-register" class="usa-button usa-button-secondary">Create a new account</button>
              </div>
            <% } %>
          </fieldset>
        </div>
    </div>
    </main>
  </div>
</section>
