<section class="usajobs-canvas">
  <div class="usajobs-content-gutter">
    <main id="main-content" role="main" aria-label="Sign In">
      <div class="usajobs-open-opps-opportunity usajobs-open-opps-login">
        <form class="usa-form-large" id="login-password-form">
          <fieldset class="usajobs-fieldset" id="login-view">
            <% if (message && !_.isUndefined(message.message)) { %>
            <div class="alert alert-warning">
              <% /* Escaped in calling views */ %>
              <%= message.message %>
            </div>
            <% } %>

            <% if (login.local.enabled === true) { %>
            <div class="alert alert-danger" id="login-error" style="display:none;"></div>
              <h2>Sign in</h2>
                <label for="username" class="control-label">Official government email address</label>
                <input type="email" class="form-control" id="username" name="identifier" placeholder="Email address"/>
                <label for="password" class="control-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password"/>
                <a href='#forgot-password' id="forgot-password" class="forgot-password">Forgot your password?</a>
              
 
                <div class="usajobs-button_bar--slim">
                  <div class="usajobs-button_bar__body">
                    <button type="submit" class="usa-button usa-button-primary">Sign in</button>
                  </div>
                
              <h4>Don't have an Open Opportunities account?</h4>
              <button id="login-register" class="usa-button usa-button-secondary">Create a new account</button>
            </div>
            <% } %>
          </fieldset>
        </form>

    </div>
    </main>
  </div>
</section>
