
    <div class="form-group">
      <div class="required-input">
        <label for="rpassword" class="control-label">Password</label>
        <span class="field-validation-error error-empty" style="display:none;">You must enter a password.</span>
        <span class="field-validation-error error-password" style="display:none;">Your password does not meet password rules.</span>
        <span class="field-validation-error error-html" style="display:none;">The special characters '<' or '>' are not allowed.</span>
        <input type="password" class="form-control" id="rpassword" name="password" placeholder="Password"/>
      </div>
    </div>
    <div class="form-group">
      <div class="required-input">
        <label for="rpassword-confirm" class="control-label">Confirm password</label>
        <span class="field-validation-error error-empty" style="display:none;">You must confirm your password.</span>
        <span class="field-validation-error error-confirm" style="display:none;">Your password does not match the password entered above.</span>
        <input type="password" class="form-control" id="rpassword-confirm" placeholder="Confirm Password"/>
      </div>
    </div>
    <p class="usajobs-form__help-brief">
      Password must contain:
    </p>
    <ul class="password-rules usajobs-form__help-details usa-unstyled-list">
      <li class="success rule-username"><i class="fa fa-check"></i> Not your email</li>
      <li class="error rule-username"><i class="fa fa-times"></i> Not your email</li>
      <li class="success rule-length"><i class="fa fa-check"></i> 8 characters or more</li>
      <li class="error rule-length"><i class="fa fa-times"></i> 8 characters or more</li>
      <li class="success rule-upper"><i class="fa fa-check"></i> Uppercase</li>
      <li class="error rule-upper"><i class="fa fa-times"></i> Uppercase</li>
      <li class="success rule-lower"><i class="fa fa-check"></i> Lowercase</li>
      <li class="error rule-lower"><i class="fa fa-times"></i> Lowercase</li>
      <li class="success rule-number"><i class="fa fa-check"></i> A number</li>
      <li class="error rule-number"><i class="fa fa-times"></i> A number</li>
      <li class="success rule-symbol"><i class="fa fa-check"></i> A symbol</li>
      <li class="error rule-symbol"><i class="fa fa-times"></i> A symbol</li>
    </ul>
