.usajobs-opop-banner {
  background-color: #112E51;
  color: #ffffff;
  min-height: 157px;
  padding-top: 3.3rem;
}

.usajobs-opop-banner__body {
  text-align: center;
  color: #FFFFFF;
  font-family: Merriweather;
  font-size: 2.4rem;
}

@media screen and (min-width: 48em) {
  .usa-button.usa-button-primary-alt {
    width: 29.1rem;
  }
}

.usajobs-opop-dashboard {
background-color: #ffffff;
}

.usajobs-opop-dashboard__body {
  max-width: 102rem;
  margin-left: auto;
  margin-right: auto;
}

.usajobs-opop-dashboard a {
  color: #0071BC;
  text-decoration: none;
}

.usajobs-opop-badges__body {
  max-width: 60rem;
  text-align: left;
}

.activity-feed--badges {
  height: 6rem;
  font-size: 1.6rem;
}

.activity-feed--badge {
  float: left;
  background-position: center;
  background-size: contain;
  min-height: 60px;
  width: 60px;
}

.activity-feed--avatars {
  margin-top: .3em;
}

.activity-feed--avatars::before,
.activity-feed--avatars::after {
  content: " ";
  display: table;
}

.activity-feed--avatars::after {
  clear: both;
}

.activity-feed--avatar {
  background-position: center;
  background-size: contain;
  border-radius: 100%;
  float: left;
  margin-right: .3em;
  min-height: 40px;
  width: 40px;
}

.tasks-completed {
  color: #29863D;
}

.network-stats--heading {
  margin-top: 3.3rem;
  margin-bottom: 3.3rem;
}

.dashboard__task-list__item .usajobs-open-opps-opportunity{
  box-shadow: none;
  padding: 1.5rem;
  border-top: 2px solid #aeb0b5;
  border-bottom: 2px solid #aeb0b5;
  margin: 1.5rem 0;
}

.dashboard__task-list__item .usajobs-open-opps-opportunity .usajobs-open-opps-opportunity__desc {
  position: relative;
  max-height: 12rem;
  overflow: hidden;
}

.dashboard__task-list__item .usajobs-open-opps-opportunity .usajobs-open-opps-opportunity__desc::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  width: 70%;
  height: 1.5em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%);
}


