@import '../../base-shared';

.usajobs-opop-banner {
  background-color: $color-gray-cool-light;
  min-height: 17rem;

}

.usajobs-opop-banner__body {
  max-width: 64.1rem;
  text-align: center;
  margin: auto;
}

@media screen and (min-width: 48em) {
  .usa-button.usa-button-primary-alt {
    width: 29.1rem;
    margin-top: $size-SM;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
  .usajobs-opop-banner__section {
    padding: 3rem 0 1.5rem;
  }
}

@media screen and (max-width: 47.9999em) {

  .usajobs-opop-banner__section {
    padding: 0 0 1.5rem 0;
  }
  .usajobs-opop-banner__body {
    padding: 1.5rem;
  }
}

.usajobs-opop-banner__section {
  font-size: $lead-font-size;
}

.usajobs-grid.usajobs-opop-dashboard {
  background-color: #ffffff;
  max-width: 100%
}

.usajobs-opop-dashboard__body {
  max-width: 102rem;
  margin-left: auto;
  margin-right: auto;

  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

.usajobs-opop-dashboard a {
  color: #0071BC;
  text-decoration: none;
}

.usajobs-opop-announcement { 
  &__body {
    margin: $size-M $size-M $size-M 0;
  }

  &__title {
    color: $color-gray;
    font-size: $lead-font-size;
    margin-bottom: $size-S;
  }

  &__section {
    margin-top: $size-default;
    margin-bottom: $size-default;
  }
}

.usajobs-opop-search__body {
  margin-bottom: $size-M;
  .usajobs-opop-search__button {
    text-align: center;
    margin: $size-M 0;
  }
}

.usajobs-opop-people__body {
  margin-bottom: $size-M;
  .usajobs-opop-people__button {
    text-align: center;
    margin: $size-M 0;
  }
}

// .usajobs-opop-badges__body {
//   max-width: 60rem;
//   text-align: left;
//   margin-top: 0;
//   padding-top: 1.4rem;

//   @include media($M) {
//     margin-top: 0.1rem;
//   }
// }

.usajobs-opop-achievements__body {
  margin-top: 0 0 $size-M 0;
  padding-top: 1.4rem;

  @include media($M) {
    margin-top: 0.1rem;
  }
}

.users-feed {
  margin-top: $size-M;

  .list-unstyled {
    list-style: none;
    padding-left: 0;
  }

  li {
    margin-bottom: 0.2rem;
  }
}

.tasks-completed {
  color: #29863D;
}

.achievements--heading {
  margin-top: 3.3rem;
  margin-bottom: 3.3rem;
}

.dashboard__task-list__item .usajobs-open-opps-opportunity{
  box-shadow: none;
  padding: 1.5rem;
  border-top: 2px solid #aeb0b5;
  border-bottom: 2px solid #aeb0b5;
  margin: 1.5rem 0;
}

.dashboard__task-list__item .usajobs-open-opps-opportunity .usajobs-open-opps-opportunity__desc {
  position: relative;
  max-height: #{$base-line-height * 4}em; // use this to control the number of lines
  overflow: hidden;
}

.dashboard__task-list__item .usajobs-open-opps-opportunity .usajobs-open-opps-opportunity__desc::before {
  content: "";
  width: 100%;
  height: #{$base-line-height * 4}em;
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: block;
  background: linear-gradient(rgba(255,255,255,.001),#fff);
  transition: height .5s;
}
