@import '../../base-shared';

.usajobs-opop-banner {
  background-color: #112E51;
  color: #ffffff;
  min-height: 157px;
  padding-top: 3.3rem;
}

.usajobs-opop-banner__body {
  text-align: center;
  color: #FFFFFF;
  font-family: Merriweather;
  font-size: 2.4rem;

  @include media($M-down) {
    padding-left: $size-default;
    padding-right: $size-default;
  }

  .usa-button {
    @include media($M-down) {
      margin-top: $size-M;
      margin-bottom: $size-M;
    }
  }
}

@media screen and (min-width: 48em) {
  .usa-button.usa-button-primary-alt {
    width: 29.1rem;
    margin-top: $size-SM;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
}

.usajobs-opop-dashboard {
background-color: #ffffff;
}

.usajobs-opop-dashboard__body {
  max-width: 102rem;
  margin-left: auto;
  margin-right: auto;

  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

.usajobs-opop-dashboard a {
  color: #0071BC;
  text-decoration: none;
}

.usajobs-opop-badges__body {
  max-width: 60rem;
  text-align: left;
  margin-top: 0;
  padding-top: 1.4rem;

  @include media($M) {
    margin-top: 0.1rem;
    // padding-top: 0;
  }
}

.activity-feed--badges {
  min-height: 6rem;
  font-size: 1.6rem;
  margin-bottom: $size-SM;
  display: flex;

  a {
    display: inline;
  }
}

.activity-feed--badge {
  float: left;
  background-position: center;
  background-size: contain;
  min-height: 60px;
  height: 60px;
  width: 60px;
  margin-top: -0.5rem;
  margin-right: $size-default;
}

.activity-feed--avatars {
  margin-top: $size-default;
  margin-bottom: $size-default;
}

.activity-feed--avatars::before,
.activity-feed--avatars::after {
  content: " ";
  display: table;
}

.activity-feed--avatars::after {
  clear: both;
}

.activity-feed--avatars a {
  background-position: center;
  background-size: contain;
  background-image: url(/images/default-user-icon-profile.png);
  border-radius: 100%;
  float: left;
  margin-right: 1.4rem;
  margin-bottom: 1.4rem;
  min-height: 44px;
  width: 44px;
}

.activity-feed--avatar {
  background-position: center;
  background-size: contain;
  border-radius: 100%;
  float: left;
  min-height: 44px;
  width: 44px;
}

.users-feed {
  margin-top: $size-M;

  .list-unstyled {
    list-style: none;
    padding-left: 0;
  }

  li {
    margin-bottom: 0.2rem;
  }
}

.tasks-completed {
  color: #29863D;
}

.network-stats--heading {
  margin-top: 3.3rem;
  margin-bottom: 3.3rem;
}

.dashboard__task-list__item .usajobs-open-opps-opportunity{
  box-shadow: none;
  padding: 1.5rem;
  border-top: 2px solid #aeb0b5;
  border-bottom: 2px solid #aeb0b5;
  margin: 1.5rem 0;
}

.dashboard__task-list__item .usajobs-open-opps-opportunity .usajobs-open-opps-opportunity__desc {
  position: relative;
  max-height: #{$base-line-height * 4}em; // use this to control the number of lines
  overflow: hidden;
}

.dashboard__task-list__item .usajobs-open-opps-opportunity .usajobs-open-opps-opportunity__desc::before {
  content: "";
  width: 100%;
  height: #{$base-line-height * 4}em;
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: block;
  background: linear-gradient(rgba(255,255,255,.001),#fff);
  transition: height .5s;
}
