.usajobs-opop {
    margin-bottom: 6rem;
  }

  .usajobs-opop::after {
    clear: both;
    content: "";
    display: table;
  }

  @media screen and (min-width: 48em) {
    .usajobs-opop {
      margin-bottom: 0;
    }
  }

.usajobs-opop-discover {
    background-color: #112e51;
    color: #ffffff;
  }

  .usajobs-opop-discover__body hr {
    height: 1px;
    width: 90%;
    border: 0;
    background: $color-white;

    @include media($M) {
      width: 100%;
    }
  }

  .usajobs-opop-discover__body {
    max-width: 596px;
    margin-left: auto;
    margin-right: auto;
    max-width: 59.6rem;
    text-align: center;
    font-size: 2.0rem;
  }

  .usajobs-opop-discover__body .usajobs-grid div,
  .usajobs-opop-discover__body .usajobs-grid-full div {
    padding-top: 1.15rem;
    padding-bottom: 1.15rem;
  }

  .usajobs-opop-discover__body::after {
    clear: both;
    content: "";
    display: table;
  }

  @media screen and (min-width: 48em) {
    .usajobs-opop-discover__body {
      padding-top: 1.15rem;
      padding-left: 3.3rem;
      padding-bottom: 1.15rem;
      padding-right: 3.3rem;
    }
  }

  .usajobs-opop-discover__body [data-i18n="home.tagline"] {
    font-weight: bold;
  }

  .usajobs-opop-discover__title {
    color: #ffffff;
    font-size: 4.4rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
  }

  @media screen and (min-width: 48em) {
  .usajobs-opop .usa-button.usa-button-red {
    width: 29.1rem;
  }
}

.usajobs-opop-why {
  background-color: #0071BC;
  color: #ffffff;
}

.usajobs-opop-why__body, .usajobs-opop-find__body {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  max-width: 160rem;
  padding: 0 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 3.7rem;
  text-align: center;
  font-size: 1.7rem;
}

.usajobs-opop-work__body {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  max-width: 160rem;
  padding: 1.5rem 0;
  font-size: 1.7rem;

  @include media($M) {
    padding: 1.5rem;
  }
}

.usajobs-opop-why__body::after, .usajobs-opop-work__body::after, .usajobs-opop-find__body::after {
  clear: both;
  content: "";
  display: table;
}

@media screen and (min-width: 48em) {
  .usajobs-opop-why__body, .usajobs-opop-work__body, .usajobs-opop-find__body {
    padding: 3.3rem 3.3rem 6.3rem 3.3rem;
  }
}

.usajobs-opop-why__col {
  max-width: 29.4rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.7rem;
}

.usajobs-opop-why__body > .usajobs-grid .usajobs-opop-why__title h2 {
  color: #ffffff;
  margin-bottom: 3.7rem;
}

.usajobs-opop-why__icon {
  font-size: 4.4rem;
}

.usajobs-opop-why__subtitle {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.usajobs-opop-work {
  background-color: #ffffff;
}

.usajobs-opop-help__link a, .usajobs-opop-help__link a:visited  {
  font-weight: 700;
  text-decoration: none;
  color: #0071bc;
}

.usajobs-opop-help__link {
  margin-bottom: $size-M;
}

.usajobs-opop-work__title {
  text-align: center;
  margin-bottom: $size-M;

  @include media($M) {
    margin-bottom: 4.2rem;
  }
}

.usajobs-opop-work__button {
  margin-left: 0;

  @include media($M) {
    margin-left: 0rem;
  }

  @include media($ML) {
    margin-left: 3rem;
  }

  @include media($L) {
    margin-left: 3rem;
  }

  @include media($XL) {
    margin-left: 3rem;
  }
}

.usajobs-opop-work__body .center {
  text-align: center;
} 

.usajobs-opop-work__body img {
  max-height: 33.2rem;
}

.usajobs-grid .usa-width-one-half.usajobs-opop-work__list ul {
  margin-top: $size-S;

  @include media($M) {
    margin-top: 0;
    margin-left: 0;
  }

  @include media($ML) {
    margin-top: 0;
    margin-left: 1.5rem;
  }

  @include media($L) {
    margin-top: 5%;
    margin-left: 1.5rem;
  }

  @include media($XL) {
    margin-top: 12%;
    margin-left: 1.5rem;
  }
}

.usajobs-opop-find {
  background-color: #fff;
}

.usajobs-opop-find__title {
  max-width: 629px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2.0rem;
}

.usajobs-opop-people__body {
  .no-match {
    font-style: italic;
    color: #757575;
    margin: 0;
    font-weight: bold;

    a:visited {
      color: #0071bc;
    }
  }
}