// Open Opps - Search layout

@import '../../base-shared';

.usajobs-grid.usajobs-open-opps-search__title {
  @include media($L) { 
    padding: 0;
    margin: $size-M 0;
    position: relative;
  }

  .search-icon {
    position: absolute;
    top: 33%;
    right: 15px;
    fill-opacity: .5;
  }
}

.usajobs-open-opps-search__input {
  border: none;
  max-width: 100%;
  float: left;
  height: 4.3rem;
  margin-bottom: 0;
}

.usa-button.usajobs-open-opps-search-button {
  margin: 0;
  height: 4.3rem;
  width: 7.2rem;
}

.usajobs-grid.usajobs-open-opps-search__title .usa-button-gray {
  height: 4.3rem;
}

.usajobs-open-opps-search-results {
  // margin-top: $size-default;

  @include media($L) {
    // margin-top: $size-M;
    display: flex;
    flex-wrap: wrap;
  }

  .usajobs-open-opps-opportunity {
    margin-left: 0;
    margin-right: 0;

    @include media($L) {
      flex: 1 0 calc(50% - 15px);
      margin-right: $size-default;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }

    // Fade the description in search results.
    // Ideally we'd truncate on the way out of the server or
    // ask the user to enter a brief description that would not be truncated.
    &__desc {
      position: relative;
      max-height: #{$base-line-height * 4}em; // use this to control the number of lines
      overflow: hidden;
    }

    &__desc:after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      text-align: right;
      width: 100%;
      height: #{$base-line-height}em;
      background: linear-gradient(#FFF0, #FFF);
    }
  }
}