.tips {
  background-color: #e1f3f8;
  padding: 2rem;
  margin-top: 0;
  margin-right: 1.5rem;

  @include media($ML-down) {
    margin-right: 0;
  }

  a {
    text-decoration: underline;
  }
}

.tips-left {
    @extend .tips;
    width: 100%;
    left: 0;
    top: 0;
    position: relative;

    h4 {
        margin-top: 0;
    }

    a:visited {
      color: $color-primary;
    }
}

@media screen and (min-width: $XXXL-screen) {
  .tips-left {
    background-color: #e1f3f8;
    padding: 2rem;
    margin-top: 0;
    margin-right: 1.5rem;
    width: 32rem;
    left: calc(100% + 6rem);
    top: 0;
    position: absolute;

    h4 {
        margin-top: 0;
    }
  }
}

.usa-form-xl, .usa-form-xl label {
    max-width: 56rem;
}

.task-footer {
    margin-top: $size-XL;
}

.usa-unstyled-list__radio {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    padding-left: 0;
  }

.usa-unstyled-list__radio > li {
    margin-left: $size-XS;
}

.usa-unstyled-list__radio > li, .usa-unstyled-list__radio > li > label {
    margin-top: 0;
    margin-bottom: $size-XS;
}

.select-small {
    max-width: 14.3rem;
}

#headline, #description, #tags, #review {
  position: relative;
}

.no-margin-top {
  margin-top: 0;
}

.checkboxes-horizontal, .checkboxes-horizontal-longtitle {
  display: flex;
  flex-direction: column;

  @include media($M) {
    flex-direction: row;

    label {
      margin-right: $size-default;
    }
  }

  ul {
    display: flex;
    flex-direction: row;

    label {
      margin-right: $size-default;

      @include media($M-down) {
        margin-top: 0;
      }
    }
  }
}

.checkboxes-horizontal-longtitle {
  @include media($M) {
    flex-direction: column;
  }

  ul label {
    margin-right: $size-default;
    margin-top: 0;
  }
}

ul.opportunity-options__list {
  margin-top: $size-S;

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

button.opportunity-options__button {
  background-color: #fff;
  border: 1px solid $color-gray-lightest;
  @include boxShadow(1);
  color: $color-green-light;
  // display: flex;
  // flex-direction: column;
  padding: 0 $size-SM $size-S $size-SM;
  float: left;
  margin: 0 $size-default $size-default 0;
  min-width: 130px;
  min-height: 98px;
  text-align: center;
  width: initial;

  @include media($SM) {
    min-width: 136px;
    margin: 0 $size-default $size-default 0;
  }

  @include media($L) {
    min-width: 126px;
    margin: 0 $size-S $size-S 0;
  }

  &:hover {
    background-color: $color-gray-lighter;
    color: $color-green-light;
    border: 1px solid $color-gray-light;
    box-shadow: none;
  }

  &:active {
    background-color: $color-gray-light;
    color: $color-green;
    border: 1px solid $color-gray;
    box-shadow: none;
  }

  &.selected {
    background-color: $color-gray-lightest;
    color: $color-green-light;
    border: 1px solid $color-gray-lighter;
    box-shadow: none;
  }

  .opportunity-options__icon {
    display: block;
    font-size: 3.5rem;
    text-align: center;
    margin: $size-base auto $size-S auto;

    .fa-clock {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  .opportunity-options__text {
    color: $color-gray;
    max-width: 84px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.expandorama {
  list-style: none;
  padding-left: 0;

  li {
    margin-top: $size-default;
    background-color: $color-white;
  }

  .expandorama-button {
    background-color: $color-white;
    border: 0;
    border-radius: 0;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-align: left;
    -webkit-font-smoothing: auto;
    background-color: $color-white;
    background-image: url(../img/minus-circle-green.png);
    background-image: url(../img/minus-circle-green.svg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 2.8rem;
    color: $color-primary;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    margin: 0;
    padding: 0 2rem 0 4rem;
    width: 100%;

    &:hover {
      background-color: $color-white;
      color: $color-primary;

      h3 {
        color: $color-primary-darker;
      }
    }

    &[aria-expanded=false] {
      background-image: url(../img/plus-circle-green.png);
      background-image: url(../img/plus-circle-green.svg);
      background-repeat: no-repeat;
      background-size: 2.8rem;
    }

    h3 {
      color: $color-primary;
    }
  }

  .expandorama-content {
      background-color: #fff;
      overflow: auto;
      padding: 0;

      &[aria-hidden=true] {
        display: none;
      }
      
      &:not([aria-hidden]) {
        position: absolute;
        left: -999em;
      }
  }
}

.usa-button-left {
  float: left;
}

#step-3 {
  h3 {
    margin-top: $size-default;

    &:first-child {
      @include media($ML) {
        margin-top: 0;
      }
      @include media($L) {
        margin-top: $size-default;
      }
    }
  }
}

.keywords {
  margin-bottom: $size-M;
  padding-top: $size-S;

  &::after {
    content: '';
    clear: both;
    display: block;
  }

  .keyword-label {
      background-color: $color-gray;
      color: $color-white;
      display: inline-block;
      margin: 0 0.5rem 0.8rem 0;
      padding: 0.8rem 1rem;
      font-size: 1.4rem;
      font-weight: 600;
      border-radius: $size-base;

      &:visited {
        color: $color-white;
      }
  }
}

.related-keywords {
  position: relative;
}

.step-3-flex__wrapper {
  display: flex;
  flex-direction: column;

  .step-3-flex__item.paragraphs {
    order: 3;

    @include media($ML) {
      order: 1;
    }
  }

  .step-3-flex__item.personnel {
    order: 1;

    @include media($ML) {
      order: 2;
    }
  }

  .step-3-flex__item.happens-next {
    order: 2;

    @include media($ML) {
      order: 3;
    }
  }
}

.personnel {
  .usajobs-opop__task-intro {
    h4 {
      margin-bottom: 0;
    }

    svg {
      margin-right: $size-base;
    }

    p {
      margin-top: 0;
    }
  }
}
