<section class="usajobs-canvas">
  <div class="usajobs-content-gutter">
    <main class="main-content usajobs-content-well" id="main-content" aria-label="Opportunity">
      <div class="usajobs-open-opps-opportunity usajobs-open-opps-section usajobs-open-opps-profile">
        <h1 class="usajobs-form__title">Create an opportunity <span class="usajobs-form__legend">All fields are required unless otherwise noted</span></h1>
        <form id="task-form" class="usa-form-xl" action="/api/task">
          <fieldset class="usajobs-fieldset">
            <div class="tips">
              First time creating an opportunity? Read our
              <a href="http://www.digitalgov.gov/resources/open-opportunities-task-creator-toolkit/10-tips-for-creating-the-perfect-open-opportunity-task/"
                target="_blank">
                10 Tips for Creating the Perfect Open Opportunity</a>.
            </div>
          </fieldset>
          <fieldset id="step-1" class="usajobs-fieldset">
            <h2>Step 1 - Define who, when, and where</h2>
            <div class="form-group">
              <label for="time-required">
                <h3>What type of effort is needed?</h3>
              </label>
              <ul class="usa-unstyled-list__radio">
                <% _.each(tags['task-time-required'], function (time) { %>
                  <li>
                    <input id="<%- time.id %>" type="radio" name="task-time-required" value="<%- time.id %>" <%- time.name=='One time' ? 'checked' : ''%>>
                    <label for="<%- time.id %>"><%- time.name %><% if (time.description) { %> &mdash;<%= time.description %><% } %></label>
                  </li>
                  <% }); %>
              </ul>
              <% if ( agency ) { %>
                <input type="checkbox" id="task-restrict-agency" name="task-restrict-agency" value="task-restrict-agency">
                <label for="task-restrict-agency">Limit participation to <%- agency.abbr %> employees</label>
              <% } %>
            </div>
            <div class="form-group">
              <label for="participant-location">
                <h3>Where can participants be located?</h3>
              </label>
              <ul class="usa-unstyled-list__radio">
                <li>
                  <input id="anywhere" type="radio" name="participant-location" value="anywhere" checked>
                  <label for="anywhere">Anywhere</label>
                </li>
                <li>
                  <input id="specific-location" type="radio" name="participant-location" value="specific-location" />
                  <label for="specific-location">At specific locations</label>
                </li>
              </ul>
              <input type="hidden" id="js-task-location" name="location" />
            </div>
            <div class="form-group">
                <label for="js-task-time-estimate">
                  <h3>How much time is needed?</h3>
                </label>
                <select id="js-task-time-estimate" class="dropdown">
                    <% _.each(tags['task-time-estimate'], function (timeEstimate) { %>
                      <option value="<%- timeEstimate.id %>"><%- timeEstimate.name %></option>
                    <% }); %>
                  </select>
              </div>
              <div class="form-group" id="time-options-completion-date">
                <label for="estimated-completion-date">Estimated completion date <span class="usa-input-optional"></span></label>
                <input id="estimated-completion-date" type="date">
              </div>
              <div class="form-group" id="time-options-time-frequency">
                <label for="js-time-frequency-estimate">How often is this time needed?</label>
                <select id="js-time-frequency-estimate" class="dropdown">
                    <% _.each(tags['task-length'], function (timeEstimate) { %>
                      <option value="<%- timeEstimate.id %>"><%- timeEstimate.name %></option>
                    <% }); %>
                </select>
              </div>
              <div class="form-group">
                <label for="people">How many people are needed?</label>
                <select id="people" class="dropdown">
                  <% _.each(tags['task-people'], function (t) { %>
                    <option value="<%- t.id %>"><%- t.name %></option>
                  <% }); %>
                </select>
              </div>
          </fieldset>
          <fieldset id="step-2" class="usajobs-fieldset">
            <h2>Step 2 - Create a headline</h2>
            <div class="required-input" id="headline">
              <h3>Headline</h3>
              <span class="field-validation-error error-empty" style="display:none;">You must enter headline for this opportunity.</span>
              <span class="field-validation-error error-count99" style="display:none;">The short description of the problem must be less than 100 characters.</span>
              <span class="field-validation-error error-html" style="display:none;">The special characters '
                < ' or '>' are not allowed</span>
              <p>Write a catchy, but descriptive title. Include a specific skill or outcome to entices participants to click
                on the opportunity.</p>
              <input type="text" id="task-title" class="fullwidth form-control validate" data-validate="empty,count99,html" />
              <p class="usajobs-form__help-brief">Maximum of 100 characters</p>
              <aside class="tips-left" id="tag_headline">
                <h4>Headline examples</h4>
                <p>"Team up to Produce a Set of Videos About the Nat'l Networking for Manufactoring Innovation"</p>
                <p>"Let your inner "Data Detective" Out and Get to Know Arizona"</p>
              </aside>
            </div>
          </fieldset>
          <fieldset id="step-3" class="usajobs-fieldset">
            <h2>Step 3 - Describe the opportunity</h2>
            <div class="required-input" id="description">
              <h3>Description</h3>
              <span class="field-validation-error error-empty" style="display:none;">You must enter a description for this opportunity.</span>
              <span class="field-validation-error error-html" style="display:none;">The special characters '
                < ' or '>' are not allowed.</span>
              <p>Describe the opportunity. Include what people will do, the expected outcome and how their work will make an
                impact. Recommend 200 words or less.</p>
              <span class="show-markdown"></span>
              <div class="markdown-edit"></div>
              <aside id="tag_description" class="tips-left">
                <h4>The description should answer:</h4>
                <ul>
                  <li>Why is this work important?</li>
                  <li>Who will benefit from this work?</li>
                  <li>How does this work fit into the bigger picture?</li>
                  <li>What does success look like?</li>
                </ul>
              </aside>
            </div>
            <div id="tags">
              <label for="skills">
                <h3 class="usajobs-form__title">Tags <span class="usajobs-form__legend"><span class="usa-input-optional"></span></span></h3>
                <span>Use keywords to describe the opportunity, such as the career or focus area, skills and mission of work.</span>
              </label>
              <input type="hidden" id="js-task-tag" name="skills" class="fullwidth" />
              <p class="usajobs-form__help-brief">Put a comma between each one. Example: Cyber Security, Research, employee engagement.</p>
              <div id="tag_tags" class="tips-left">
                <h4>What are tags?</h4>
                <p>Tags are keywords you can add to help describe an opportunity. Tags are also useful for searching topic and
                  interests.
                </p>
              </div>
            </div>
          </fieldset>
          <fieldset id="step-4" class="usajobs-fieldset">
            <h2>Step 4 - Submit for review</h2>
            <div id="review">
              <p>Once you submit your opportunity, we'll review it. We'll email within two business days with recommended edits
                or approval.</p>
              <div id="tag_review" class="tips-left">
                <h4>What happens next?</h4>
                <p>Please see the
                  <a href="http://www.digitalgov.gov/resources/open-opportunities-task-creator-toolkit/" target="_blank">Task creator toolkit</a>.</p>
              </div>
            </div>
            <div class="usajobs-button_bar task-footer">
              <button type="button" id="js-task-draft" class="usa-button usa-button-secondary" data-state="draft">
                Save as draft
              </button>
              <button type="button" id="js-task-create" class="usa-button usa-button-primary" data-state="submit">
                Submit for review
              </button>
            </div>
          </fieldset>
        </form>
      </div>
    </main>
  </div>
</section>
