<section class="usajobs-canvas">
  <div class="usajobs-content-gutter">      
    <main class="main-content usajobs-content-well" id="main-content" aria-label="Opportunity">
      <div class="usajobs-open-opps-opportunity usajobs-open-opps-section usajobs-open-opps-profile">
          
      <form id="task-form" class="usa-form-xl" action="/api/task">
        <h1>Create an opportunity</h1>
        <fieldset>
          <div class="tips">
            First time creating an opportunities? Read our 
            <a href="http://www.digitalgov.gov/resources/open-opportunities-task-creator-toolkit/10-tips-for-creating-the-perfect-open-opportunity-task/" target="_blank">10 Tips for Creating the Perfect Open Opportunity</a>
          </div>
        </fieldset>
        <fieldset id="step-1">
          <h2>Step 1 - Define who, when, and where</h2>
          <div>
              <label for="time-required">
                <h3>What type of effort is needed?</h3>
              </label>
              <ul class="usa-unstyled-list">
                <% _.each(tags['task-time-required'], function (time) { %>
                <li>
                  <input id="<%- time.id %>" type="radio" name="task-time-required" value="<%- time.id %>" <%- time.name == 'One time' ? 'checked' : ''%>>
                  <label for="<%- time.id %>"><%- time.name %><% if (time.description) { %> &mdash; <%= time.description %> <% } %></label>
                </li>
                <% }); %>
              </ul>
              <% if ( agency ) { %>
              <input type="checkbox" id="task-restrict-agency" name="task-restrict-agency" value="task-restrict-agency">
              <label for="task-restrict-agency">Limit Participation to <%- agency.abbr %> Employees</label>
              <% } %>
            </div>
                
          <div>
              <label for="participant-location">
                <h3>Where can participants be located?</h3>
              </label>
              <ul class="usa-unstyled-list"> 
                <li>      
                  <input id="anywhere" type="radio" name="participant-location"  checked>               
                  <label for="anywhere">Anywhere</label>
                </li>
                <li>
                  <input id="specific-location" type="radio" name="participant-location"  />
                  <label>At specific locations</label> 
                  <input type="hidden" id="js-task-location" name="location" />
                </li>
              </ul>
              <label for="participants">
                <h3>How many people are needed?</h3>
              </label>
              <select id="js-participant-selection" class="dropdown">
                <% _.each(tags['task-people'], function (person) { %>
                  <option value="<%- person.id %>"><%- person.name %></option>
                <% }); %>
              </select>
            </div>
        </fieldset>

        <fieldset id="step-2" class="usajobs-fieldset">
            <h2>Step 2 - Create a headline</h2>
            <div class="required-input">
              <label for="task-title">
                <h3>Headline</h3>
                <span>Write a catchy, but descriptive title. Include a specific skill or outcome to entices participants to click on the opportunity.</span>              
              </label>
              <span class="field-validation-error error-empty" style="display:none;">You must enter headline for this opportunity.</span>
              <span class="field-validation-error error-count100" style="display:none;">The short description of the problem must be less than 100 characters.</span>
              <span class="field-validation-error error-html" style="display:none;">The special characters '<' or '>' are not allowed</span>

              <input type="text" id="task-title" class="fullwidth form-control validate" data-validate="empty,count100,html"/>
              <p class="usajobs-form__help-brief">Maximum of 100 characters</p>
            </div>

            <div class="usa-alert usajobs-alert usajobs-alert--warning" role="alert" data-object="alert" style="display:none;">
              <div class="usajobs-alert__figure">
                <div class="usajobs-alert__icon"></div>
              </div>
              <div class="usajobs-alert__body">
                <p class="usa-alert-text" id="title-update-alert"></p>
              </div>
            </div>
                  
          <aside class="tips-left">
              <h4>Headline examples</h4>
              <p>"Team up to Produce a Set of Videos About the Nat'l Networking for Manufactoring Innovation"</p>
              <p>"Let your inner "Data Detective" Out and Get to Know Arizona"</p>
          </aside>
        </fieldset>


        <fieldset id="step-3">
          <h2>Step 3 - Describe the opportunity</span></h2>
          <div class="required-input">
            <label for="task-description">
              <span class="create__label">Description</span>
              <span>Describe the opportunity. Include what people will do, the expected outcome and how their work will make an impact.
                Recommend 200 words or less.</span> 
              <span class="show-markdown"></span>
            </label>
            <span class="field-validation-error error-empty" style="display:none;">You must enter a description for this <span data-i18n="task">opportunity</span></span>
            <span class="field-validation-error error-html" style="display:none;">The special characters '<' or '>' are not allowed</span>
            <div class="markdown-edit"></div>
          </div>

          <!-- <div id="description-update-alert" class="alert alert-warning" style="display:none;"></div> -->
          <div class="usa-alert usajobs-alert usajobs-alert--warning" role="alert" data-object="alert" style="display:none;">
            <div class="usajobs-alert__figure">
              <div class="usajobs-alert__icon">
              </div>
            </div>
            <div class="usajobs-alert__body">
              <p class="usa-alert-text" id="description-update-alert"></p>
            </div>
          </div>
          <aside class="tips-left">
              <h4>The description should answer:</h4>
              <ul>
                <li>Why is this work important?</li>
                <li>Who will benefit from this work?</li>
                <li>How does this work fit into the bigger picture?</li>
                <li>What does success look like?</li>
              </ul>
          </aside>
              
          <div>
            <label for="skills">
              <h4>Tags</h4>
              <span>Use keywords to describe the opportunity, such as the career or focus area, skills and mission of work.</span>                 
            </label>      
            <input type="hidden" id="js-task-tag" name="skills" class="fullwidth" />
            <p class="usajobs-form__help-brief">Put a comma between each one. Example: Cyber Security, Research, employee engagement</p>

            <div class="usa-alert usajobs-alert usajobs-alert--warning" role="alert" data-object="alert" style="display:none;">
              <div class="usajobs-alert__figure">
                <div class="usajobs-alert__icon">
                </div>
              </div>
              <div class="usajobs-alert__body">
                <p class="usa-alert-text" id="tag-update-alert"></p>
              </div>
            </div>
          </div>
          <aside class="tips-left">
            <h4>What are tags?</h4>
            <p>Tags are keywords you can add to help describe an opportunity. 
            Tags are also useful for searching topic and interests.</p>
          </aside>         
        </fieldset>

        <fieldset id="step-4">
          <legend>
            <span>Step 4 - Submit for Review</span>
          </legend>
          <div class="row">
            <div class="col-md-8">
              <p>Once you submit your task, it will be reviewed by Open Opportunities staff. You will receive an email within two business days. We will either send you recommended edits or a notice that your task is approved and live on the website.</p>
              <div class="create__buttons">
                <button type="button" id="js-task-create" class="usa-button wizard-submit" data-state="submit" disabled>
                  Submit for Review
                </button>
                <button type="button" id="js-task-draft" class="usa-button wizard-submit" data-state="draft" disabled>
                  Save as Draft
                </button>
              </div>
              <div class="create__success-message js-success-message">
                <div class="success-message__head">
                  <span class="fa fa-check-circle"></span>
                </div>
                <div class="success-message__body">
                  <h4>Saved</h4>
                  <p>Your draft has been saved. You can find your draft <a class="js-profile-link" target="_blank" href="javascript:void(0);">on your profile page</a>.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <aside>
                <h4>What happens next?</h4>
                <p>Please see the <a href="http://www.digitalgov.gov/resources/open-opportunities-task-creator-toolkit/" target="_blank">Task Creator Toolkit</a>.</p>
              </aside>
            </div>
          </div>
        </fieldset>
      </form>
      </div>
    </main>
  </div>
</section>
