<div class="usajobs-opop-announcement__body">
    <h2>Announcement</h2>
    <div>
        <div class="usajobs-opop-announcement__title">OPM's USAJOBS is proud to announce the launch of Acquisition Open Opportunities.  
        </div>
        <div class="usajobs-opop-announcement__section">
            <p>We’ve partnered with OMB’s Office of Federal Procurement Policy (OFPP) and the Federal Acquisition Institute to launch 
            the new <a href="/tasks?career=Acquisition">Acquisition Open Opportunities</a> portal.  You
            can now search for opportunities within the Acquisitions career field.  <a href="https://youtu.be/6qdmmeB9yIc" target="blank">Check out this 
            video <i class="fas fa-external-link-alt"></i></a> from Lesley Field, Deputy Administrator of OFPP to learn more.
            </p>
        </div>
        <img class="img-responsive" src="/images/home/landing_acquisition.png" alt="Acquisition screenshot">
    </div>
</div>