<main class="usajobs-opop" id="main-content" role="main">
  <div class="usajobs-opop-banner">
    <div class="usajobs-opop-banner__body">
      <div class="usajobs-opop-banner__section">
          Participate in opportunities to gain experience, contribute your expertise and 
          work with others across the Federal Government.
      </div>
      <div>
        <a href="/tasks" class="usa-button usa-button-primary"><span class="fas fa-search fa-fw"></span> Search opportunities</a>
        <a href="/tasks/new" class="usa-button usa-button-primary"><span class="far fa-file-alt"></span> Create opportunity</a>
      </div>
    </div>
  </div>
  <div class="usajobs-grid usajobs-opop-dashboard">
    <div class="usajobs-opop-dashboard__body">
    <section class="usajobs-content-well">
      <div data-target="announcement-feed" class="announcement-feed"></div>
      <div data-target="search-feed" class="search-feed"></div>
      <div data-target="users-feed" class="users-feed"></div>
    </section>
    <aside class="usajobs-rightrail">
      <div data-target="achievements-feed" class="achievements-feed"></div>
    </aside>
  </div>
</div>
</main>
