<main class="usajobs-opop" id="main-content" role="main">
  <div class="usajobs-opop-discover">
    <div class="usajobs-opop-discover__body">
      <div class="usajobs-grid">
        <div class="usajobs-opop-discover__title usa-width-one-whole" data-i18n="home.headline" id="title">Open Opportunities</div>
      </div>
      <div class="usajobs-grid">
        <div class="usa-width-one-whole" data-i18n="home.subhead">Discover opportunities across government that will help
            you build and make connections.</div>
      </div>
        <div class="usajobs-grid-full">
          <div class="usa-width-one-whole"><hr/></div>
        </div>
      <div class="usajobs-grid">
        <div class="usa-width-one-whole" data-i18n="home.tagline">Building a 21st century government, together</div>
      </div>
      <div class="usajobs-grid">
        <div class="usa-width-one-whole">
          <a href="/tasks">
            <button class="usa-button-big usa-button-red" id="btnGetStarted" data-i18n="home.callToAction">Browse opportunities</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="usajobs-opop-why">
    <div class="usajobs-opop-why__body">
      <div class="usajobs-grid">
        <div class="usa-width-one-whole usajobs-opop-why__title">
          <h2>Why do people get involved?</h2>
        </div>
      </div>
      <div class="usajobs-grid">
        <div class="usa-width-one-third">
          <div class="usajobs-opop-why__col">
            <div class="usajobs-opop-why__icon"><i class="fas fa-comments"></i></div>
            <div class="usajobs-opop-why__subtitle">Make connections</div>
            <div>Your new colleagues may be down the hall or across the country.</div>
          </div>
        </div>
        <div class="usa-width-one-third">
          <div class="usajobs-opop-why__col">
            <div class="usajobs-opop-why__icon"><i class="fas fa-cogs"></i></div>
            <div class="usajobs-opop-why__subtitle">Build skills</div>
            <div>Advance your career by developing new skills and experience.</div>
          </div>
        </div>
        <div class="usa-width-one-third">
          <div class="usajobs-opop-why__col">
            <div class="usajobs-opop-why__icon"><i class="fas fa-chart-line"></i></div>
            <div class="usajobs-opop-why__subtitle">Make a difference</div>
            <div>Join a coast-to-coast network solving needs across government.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="usajobs-opop-work">
    <div class="usajobs-opop-work__body">
      <div class="usajobs-grid">
        <div class="usa-width-one-whole usajobs-opop-work__title">
          <h2>How does it work?</h2>
        </div>
      </div>
      <div class="usajobs-grid">
        <div class="usa-width-one-half">
          <img class="img-responsive" src="/images/home/how-to@2x.png">
        </div>
        <div class="usa-width-one-half">
          <ul class="usajobs-opop-work__list">
            <li class="title">Browse opportunities on the site to find the one that is right for you.</li>
            <li class="title">Then just click "Participate" to get started.</li>
            <li class="title">Post a discussion topic if you have questions.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="usajobs-opop-find">
    <div class="usajobs-opop-find__body">
      <div class="usajobs-grid">
        <div class="usa-width-one-whole">
          <a href="/tasks">
            <button class="usa-button-big usa-button-red" id="btnDiscoverMore">Find opportunities</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
