<div class="usajobs-opop-search__body">
    <h2>Search opportunities by</h2>
    <div class="usajobs-grid-full">
        <div class="usa-width-one-third">
            <h3>Career field</h3>
            <ul class="usa-unstyled-list">
                <li class="usajobs-open-opps-search_item">
                    <a href="/tasks?career=Acquisition">Acquisition</a>
                </li>
                <% _.forEach(search.careers, function(career) { %>
                <li class="usajobs-open-opps-search_item">
                    <a href="/tasks?career=<%- career.name %>:<%- career.id %>"><%- career.name %></a>
                </li>
                <% }); %>
            </ul>
        </div>
        <div class="usa-width-one-third">
            <h3>Skill</h3>
            <ul class="usa-unstyled-list">
                <% _.forEach(search.skills, function(skill) { %>
                <li class="usajobs-open-opps-search_item">
                    <a href="/tasks?skill=<%- skill.name %>:<%- skill.id %>"><%- skill.name %></a>
                </li>
                <% }); %>
            </ul>
        </div>
        <div class="usa-width-one-third">
            <h3>Location</h3>
            <ul class="usa-unstyled-list">
                <li class="usajobs-open-opps-search_item">
                    <a href="/tasks?location=virtual">Virtual</a>
                </li>
                <% _.forEach(search.locations, function(location) { %>
                <li class="usajobs-open-opps-search_item">
                    <a href="/tasks?location=<%- location.name %>:<%- location.id %>"><%- location.name %></a>
                </li>
                <% }); %>
            </ul>
        </div>
    </div>
    <div class="usajobs-grid-full usajobs-opop-search__button">
        <a href="/tasks" class="usa-button usa-button-secondary">View all opportunities</a>
    </div>
</div>