<div class="usajobs-opop-annoucement__body">
    <h2>Announcement</h2>
    <div>
        <p>We’ve partnered with the Federal Acquisitions Institute (FAI) to launch the new <a href="/tasks?career=Acquisition">Acquisitions 
            Open Opportunities</a> portal. Starting May 18, 2018, you can search for opportunities 
            within the Acquisitions career field. Check out this <a href="https://youtu.be/6qdmmeB9yIc" target="blank">video</a> to learn more.
        </p> 
        <p>Interested in partnering with us? Contact us at <a href="mailto:openopps@usajobs.gov">OpenOpps@usajobs.gov</a>.
        </p>   
    </div>
</div>