<div class="usajobs-opop-annoucement__body">
    <h2>Announcement</h2>
    <div>
        <p>OPM’s USAJOBS is proud to announce the launch of Acquisition Open Opportunities. 
            Through a partnership with the Office of Federal Procurement Policy (OFPP), the 
            existing Open Opportunities site will now include a portal for acquisition specific 
            opportunities. Through skill sharing opportunities, acquisition personnel can learn 
            new capabilities through hands-on/experiential training. Just search for opportunities 
            by clicking on the “Acquisition” link under the “Career Field” label to get started today!
        </p> 
        <p>Check out this video from Lesley Field, Acting Director of OFPP to learn more:  
            <a href="https://youtu.be/6qdmmeB9yIc" target="blank">https://youtu.be/6qdmmeB9yIc</a>
        </p>   
    </div>
</div>