<h2>Latest achievements</h2>
<ul class="usa-unstyled-list">
  <% _.forEach(achievements, function(b) { %>
    <li>
        <% var ps = b.participants.map(function(p) { %>
          <% return '<a href="/profile/' + _.escape(p.id) + '">' + _.escape(p.name) + '</a>' %>
        <% }); %>
        <% if (b.participants.length === 1) var pText = ps; %>
        <% if (b.participants.length === 2) var pText = ps.join(' and '); %>
        <% if (b.participants.length > 2) { %>
          <% var last  = ps.slice(-1); %>
          <% var rest  = ps.slice(0, -1).join(', '); %>
          <% var pText = [rest, last].join(', and '); %>
        <% } %>
        <a href="/tasks/<%- b.id %>"><%- b.title %></a> was completed with the help of <%= pText %>.
        <div class="activity-feed--avatars">
          <% b.participants.map(function(p, i) { %>
            <a href="/profile/<%- p.id %>">
              <div class="activity-feed--avatar" style="background-image: url(/api/user/photo/<%- p.id %>);left: <%- i * 10 %>px"><span class="sr-only">Profile picture of <%- p.name %></span></div>
            </a>
          <% }); %>
        </div>
    </li>
  <% }); %>
</ul>
