<div id="profile-list">
  <table class="usa-table-borderless" role="presentation">
    <thead>
    <tr class="usajobs-grid open-opps-row header">
      <th scope="col" class="col-name">Name</th>
      <th scope="col" class="col-title">Title</th>
      <th scope="col" class="col-agency">Agency</th>
      <th scope="col" class="col-location">Location</th>
    </tr>
    </thead>
    <tbody>
      <% _.each(people, function(person) { %>
      <% if (!_.isUndefined(person.name)) { %>
      <tr>
        <td class="col-name">
          <a href="/profile/<%= person.id %>">
            <%= person.name %>
          </a>
        </td>
        <td class="col-title">
          <%= person.title %>
        </td>
        <td class="col-agency">
          <% if (!_.isUndefined(person.agency)) { %>
          <%= person.agency.name %>
          <% } %>
        </td>
        <td class="col-location">
          <% if (!_.isUndefined(person.location)) { %>
          <%= person.location.name %>
          <% } %>
        </td>
      </tr>
      <% } %>
      <% }); %>
    </tbody>
  </table>
</div>
