<div class="usajobs-content-gutter usajobs-open-opps-people">
  <h1 class="usajobs-opop-people__section-title">People</h1>
  <div class="usajobs-grid usajobs-open-opps-people-search__title">
    <div class="usa-width-one-half">
      <input type="text" id="search" title="Search" class="usajobs-open-opps-people-search__input" placeholder="Find people by name, title, agency or location">
      <span class="fa fa-search search-icon">
    </div>
  </div>
  <div id="browse-search-spinner" class="fullwidth text-center">
      Loading... <i class="fa fa-spinner fa-spin"></i>
  </div>
  <div class="table-responsive"></div>
</div>
