<div class="usajobs-content-gutter usajobs-open-opps-search">
  <h1 class="usajobs-opop-people__section-title">People</h1>
  <input type="text" id="search" title="Search" class="usajobs-open-opps-search__input" placeholder="Find people by name, title, agency or location">
  <button class="usa-button usajobs-open-opps-search-button">
    <span class="fa fa-search"></span>
  </button>

  <div id="browse-search-spinner" class="fullwidth text-center">
      Loading... <i class="fa fa-spinner fa-spin"></i>
  </div>

  <div class="table-responsive"></div>
</div>
