<div class="usajobs-open-opps-participated__section">
  <div id="<%- handle %>-tab-open">
    <div style="overflow-x:auto;">
      <% if (_.filter(data, function (item) { return item.state != 'archived' }).length > 0) { %>
        <table class="usa-table-borderless" role="presentation">
        	<thead>
        	<tr class="usajobs-grid open-opps-row header">
        		<th scope="col">Opportunity status</th>
        		<th scope="col">Opportunity</th>
        		<th scope="col">Updated date</th>
        	</tr>
        	</thead>
        	<tbody>
            <% for (var i in data) { %>
              <% if (data[i].state == 'archived') { continue; } %>
            	<tr class="usajobs-grid open-opps-row" data-id="<%- data[i].id %>">
            		<td class="your-status">
                  <span  class="usajobs-pill--opportunity-status status-<%= data[ i ].state.charAt( 0 ).toLowerCase() + data[ i ].state.slice( 1 ).replace(' ', '-') %>">
                    <%= data[ i ].state.charAt( 0 ).toUpperCase() + data[ i ].state.slice( 1 ) %>
                  </span>
                </td>
            		<td class="open-opps-title">
                  <% if ( '' === data[ i ].title && 'draft' === data[ i ].state ) {
                    data[ i ].title = 'Untitled draft';
                  } %>
                  <a href="/<%- target %>s/<%- data[i].id %>" class="activity-link" data-id="<%- data[i].id %>"><%- data[i].title %></a>
                </td>
            		<td>
                  <% var updated = new Date(data[i].updatedAt); %>
                  <%- updated.toLocaleDateString() %>
                </td>
            	</tr>
            <% } %>
          </tbody>
        </table>

      <% } else { %>

        <table class="usa-table-borderless" role="presentation">
        	<thead>
        	<tr class="usajobs-grid open-opps-row header">
        		<th scope="col">Opportunity status</th>
        		<th scope="col">Opportunity</th>
        		<th scope="col">Updated date</th>
        	</tr>
        	</thead>
          <tbody>
            <tr>
              <td colspan="3">No <%- targetsFriendly %></td>
            </tr>
          </tbody>
        </table>
      <% } %>
    </div>
  </div>
</div>
