<section class="usajobs-canvas">
    <div class="usajobs-content-gutter">

    <% if (user.id !== data.id) { %>
      <% if (user.isAdmin || user.isAgencyAdmin) { %>
        <div class="usa-alert usajobs-alert usajobs-alert--info" role="alert" data-object="alert">
          <div class="usajobs-alert__figure">
            <div class="usajobs-alert__icon">
            </div>
          </div>
          <div class="usajobs-alert__body">
            <p class="usa-alert-text">
              You are an <% if (user.isAgencyAdmin) { %> agency <% } %> administrator.
              <% if (user.id !== data.id) { %>
                You are viewing another user's profile.
              <% } %>
            </p>
          </div>
        </div>
      <% } %>
    <% } %>

    <div class="usa-alert usajobs-alert usajobs-alert--warning" role="alert" data-object="alert" style="display:none;">
      <div class="usajobs-alert__figure">
        <div class="usajobs-alert__icon">
        </div>
      </div>
      <div class="usajobs-alert__body">
        <p class="usa-alert-text" id="file-upload-alert">

        </p>
      </div>
    </div>

    <% if (saved) { %>
      <div class="usa-alert usajobs-alert usajobs-alert--success" role="alert" data-object="alert">
        <div class="usajobs-alert__figure">
          <div class="usajobs-alert__icon">
          </div>
        </div>
        <div class="usajobs-alert__body">
          <p class="usa-alert-text">
            Your profile has been successfully updated.
          </p>
        </div>
      </div>
      <% } %>


    <main class="main-content usajobs-content-well" id="main-content" aria-label="Opportunity">
      <div class="usajobs-open-opps-opportunity usajobs-open-opps-section usajobs-open-opps-profile">
        <div class="usajobs-open-opps-profile__body usajobs-grid-full">
          <% if (data.isOwner || data.canEditProfile) { %>
          <div class="usajobs-opop-section-edit">
              <% if (login.profile.edit === true) { %>
              <a href="/profile/<%- data.id %>/edit" class="link-backbone"><i class="fas fa-edit"></i> <span>Edit</span></a>
              <% } else if (login.profile.editUrl) { %>
              <a href="<%- login.profile.editUrl %>" target="_blank"><i class="fas fa-edit"></i> <span>Edit</span></a>
              <% } %>
          </div>
          <% } %>
          <div class="usa-width-one-whole">
            <h1 class="usajobs-opop-intro-hiring-paths__section-title">Profile</h1>
          </div>
          <div id="profile" class="usajobs-opop-profile-title usa-width-one-fourth">
              <img class="default-user-icon-profile" src="/api/user/photo/<%- data.id %>">
              <div id="file-upload-progress-container" style="display: none;" class="progress progress-striped active">
                <div id="file-upload-progress" class="progress-bar" style="width: 0"></div>
              </div>
          </div>
          <div class="usajobs-opop-profile-details usa-width-three-fourths">
            <div class="profile-name-role">
              <h2 class="usajobs-opop-profile-name"><% if (data.name) { %><%- data.name %><% } else { %><%- data.username %><% } %></h2>
              <% if (data.isAdmin || data.isAgencyAdmin) { %>
              <span class="role-label"><% if (user.isAgencyAdmin) { %> Agency <% } %> Administrator</span>
              <% } %>
            </div>
            <div class="profile-jobtitle"><% if (data.title) { %><span class="profile-icon"><i class="fa fa-briefcase"></i></span><span><%- data.title %></span><% } %></div>
            <div class="profile-company"><% if (data.agency) { %><span class="profile-icon"><i class="fa fa-university"></i></span><span><%- data.agency.name %></span><% } %></div>
            <div class="profile-location"><% if (data.location) { %><span class="profile-icon"><i class="fa fa-map-marker"></i></span><span><%- data.location.name %></span><% } %></div>
            <div class="profile-email"><% if (email) { %><span class="profile-icon"><i class="far fa-envelope"></i></span><a href='mailto:<%= email %>'><%= email %></a><% } %></div>
            <div class="profile-biography">
                <% if (data.bioHtml) { %>
                  <h3>Biography</h3>
                  <%= data.bioHtml %>
                <% } %>
            </div>






            <div class="profile-share <% if (data.isOwner || user.isAdmin) { %>border-bottom<% } %>">
                <a href="#" id="email"><i class="fas fa-share-alt"></i> <span>Share Profile</span></a>
            </div>
          </div>
        </div>
      </div>
      <% if (tags.length > 0) { %>
      <div class="usajobs-open-opps-opportunity usajobs-open-opps-profile">
        <div class="usajobs-open-opps-participated__body usajobs-grid-full">
          <h2>Skills and interests</h2>
          <div>
            <% _.each(tags, function (t) { %>
              <a class="skill-label" href="/tasks?search=<%= t.name %>"><%= t.name %></a>
            <% }) %>
          </div>
        </div>
      </div>
      <% } %>
      <div class="usajobs-open-opps-opportunity usajobs-open-opps-profile">
        <div class="usajobs-open-opps-participated__body">
          <h2>Opportunities</h2>
          <h3>Participated</h3>
          <div class="task-activity-wrapper"></div>
          <h3>Created</h3>
          <div class="task-createdactivity-wrapper"></div>
        </div>
      </div>
    </main>
    <aside class="usajobs-rightrail" id="rightrail">
      <div class="usajobs-open-opps-opportunity usajobs-open-opps-section usajobs-open-opps-profile">
        <h2>Badges</h2>
        <% if (data.badges.length > 0) { %>
        <ul class="profile-badges">
          <% _.map(data.badges, function (b) { %>
          <li class="profile-badge">
            <% var filename = b.type.replace(' ', '-'); %>
            <img src="/images/badges/<%- filename %>.png" alt="The <%- b.type %> badge is awarded when you <%- b.description %>" title="The <%- b.type %> badge is awarded when you <%- b.description %>">
            <p><%- b.type %></p>
          </li>
          <% }); %>
        </ul>
        <% } %>
      </div>
    </aside>
    </div>
</section>
