<section class="usajobs-canvas">
  <div class="usajobs-content-gutter">
    <div class="usa-alert usajobs-alert usajobs-alert--error" role="alert" data-object="alert" id="profile-reset-check-error" style="display:none;">
        <div class="usajobs-alert__figure">
            <div class="usajobs-alert__icon">
            </div>
        </div>
        <div class="usajobs-alert__body">
            <h3>Invalid reset code</h3>
            <p class="usa-alert-text">
                This is not a valid password reset code.
                Please try resetting your password again and clicking on the link in the email.
            </p>
        </div>
    </div>
    <div class="usa-alert usajobs-alert usajobs-alert--error" role="alert" data-object="alert" id="profile-reset-submit-error" style="display:none;">
        <div class="usajobs-alert__figure">
            <div class="usajobs-alert__icon">
            </div>
        </div>
        <div class="usajobs-alert__body">
            <h3>Password reset error</h3>
            <p class="usa-alert-text">
                An error occurred resetting your password.  Please reload this page and try again.
            </p>
        </div>
    </div>

    <main id="main-content" role="main" aria-label="Reset password">
      <div class="profile-reset center" id="profile-reset-check">
        <i class="fa fa-spin fa-spinner"></i> Looking up password reset code...
      </div>
      <div class="usajobs-open-opps-opportunity usajobs-open-opps-login"  id="profile-reset-dialog" style="display: none;">
        <div class="profile-reset" >
          <form id="form-password-reset" title="Password reset">
            <h2>
              Please set a new password for your account.
            </h2>
            <div class="password-view">
            </div>
            <div>
              <input type="submit" class="usa-button usa-button-primary" value="Reset password"/>
            </div>
          </form>
        </div>
        <div class="center" id="profile-reset-submit" style="display: none;">
          <i class="fa fa-spin fa-spinner"></i> Performing password reset.  Please stand by...
        </div>
      </div>
    </main>
  </div>
</section>
