<section class="usajobs-canvas usajobs-open-opps-profile">
  <main class="main-content usajobs-content-well" id="main-content" aria-label="Opportunity">
    <div class="alert alert-danger" style="display: none;"></div>
    <% if (user.isAdmin || user.isAgencyAdmin) { %>
      <div class="alert alert-info">
        You are an <% if (user.isAdmin) { %> administrator <% } else { %> agency administrator <% } %>.
        <% if (user.id !== data.id) { %>
          <strong>You are editing another user's profile.</strong>
        <% } %>
      </div>
    <% } %>
    <div class="usajobs-open-opps-opportunity">
      <div class="usajobs-open-opps-profile__body">
        <h1 class="usajobs-opop-intro-hiring-paths__section-title">Edit profile</h1>
        <div class="usajobs-form">
          <img class="default-user-icon-profile" src="/api/user/photo/<%- data.id %>">
          <div class="btn btn-c2 fileinput-button" <% if (!(data.isOwner || data.canEditProfile)) { %>style="display:none;"<% } %>>
            <i class="fa fa-camera fa-lg" title="Change Cover Photo" id="fileupload-icon"></i>
            <input id="fileupload" type="file" name="files[]" title="Upload Photo">
          </div>
        </div>
        <div id="file-upload-progress-container" style="display: none;" class="progress progress-striped active">
          <div id="file-upload-progress" class="progress-bar" style="width: 0"></div>
        </div>
        <div id="file-upload-alert" class="alert alert-warning" style="display:none;"> </div>
      </div>
      <form action="" class="usajobs-form--narrow" role="form" id="profile-form">
        <fieldset class="usajobs-fieldset">
          <div class="required-input">
            <label for="name">Name</label>
            <input type="text" class="validate" id="name" name="name" placeholder="Name" value="<%- data.name ? data.name : '' %>"  data-validate="empty,count60,html" autofocus/>
            <span class="help-block error-empty" style="display:none;">Please enter your full name</span>
            <span class="help-block error-count60" style="display:none;">Maximum of 60 characters</span>
            <span class="help-block error-html" style="display:none;">The special characters '<' or '>' are not allowed</span>
            <div id="name-update-alert" class="alert alert-warning" style="display:none;"></div>
          </div>
          <div class="required-input">
            <label for="title">Title</label>
            <input type="text" class="validate" id="title" name="title" placeholder="Title" value="<%- data.title ? data.title : '' %>" data-validate="count150,html"/>
            <span class="help-block error-count150" style="display:none;">Maximum of 150 characters</span>
            <span class="help-block error-html" style="display:none;">The special characters '<' or '>' are not allowed</span>
            <div id="title-update-alert" class="alert alert-warning" style="display:none;"></div>
          </div>
          <div class="required-input">
            <label for="company" data-i18n="tag.Agency"></label>
            <input type="hidden" id="company" name="company"/>
          </div>
          <div class="required-input">
            <label for="location">Location</label>
            <input type="hidden" id="location" name="location"/>
          </div>
          <div class="required-input">
            <label for="bio">Biography</label>
            <div class="markdown-edit"></div>
            <span class="help-block error-html" style="display:none;">The special characters '<' or '>' are not allowed</span>
            <div id="bio-update-alert" class="alert alert-warning" style="display:none;"></div>
          </div>
        </fieldset>

        <fieldset class="usajobs-fieldset skills-interests">
          <div class="tag-wrapper"></div>
          <div id="tag-update-alert" class="alert alert-warning" style="display:none;"></div>
          <aside class="skill-aside">
            <p class="skills">List the skills you have and the skills you want to develop.</p>
            <p class="interests">List career areas, agencies, and other topics that you interest you.</p>
          </aside>
        </fieldset>

        <fieldset class="usajobs-fieldset">
          <h2 class="acct-info"> Account Information </h2>
          <div class="required-input">
            <label for="profile-email">Email</label>
            <input type="text" class="validate" id="profile-email" name="username" placeholder="Email" value="<%- email %>" data-validate="email,count60,html">
            <span class="help-block error-email" style="display:none;">Must be a valid email address</span>
            <span class="help-block error-count60" style="display:none;">Maximum of 60 characters</span>
            <span class="help-block error-html" style="display:none;">The special characters '<' or '>' are not allowed</span>
            <div id="email-update-alert" class="alert alert-warning" style="display:none;">
            </div>
          </div>
        </fieldset>

        <div class="usajobs-button_bar--slim">
          <div class="usajobs-button_bar__body">
            <a href="#" class="btn btn-c0 usa-button usa-button-secondary" id="profile-cancel">Discard Changes</a>
            <button id="profile-save" type="submit" class="btn btn-c2 disable usa-button" disabled="disabled" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Saving..." data-success-text="Saved!" data-fail-text="Save Failed.">Save Profile</button>
          </div>
        </div>

      </form>
    </div>
  </main>
  <aside class="usajobs-rightrail" id="rightrail">
    <div class="usajobs-open-opps-opportunity">
      <h2>Badges</h2>
      <% if (data.badges.length > 0) { %>
      <ul class="profile-badges">
        <% _.map(data.badges, function (b) { %>
        <li class="profile-badge">
          <% var filename = b.type.replace(' ', '-'); %>
          <img src="/images/badges/<%- filename %>.png" alt="The <%- b.type %> badge is awarded when you <%- b.description %>" title="The <%- b.type %> badge is awarded when you <%- b.description %>">
          <p><%- b.type %></p>
        </li>
        <% }); %>
      </ul>
      <% } %>
    </div>
  </aside>
</section>
