<div class="usajobs-open-opps-participated__section">
  <div id="<%- handle %>-tab-open">
    <div>
      <% if ( count.open > 0 || count.assigned > 0 || count.draft > 0 || count.submitted > 0 || count.completed > 0) { %>
        <div class="usajobs-grid open-opps-row header">
          <div class="usa-width-one-fourth">Opportunity status</div>
          <div class="usa-width-one-half">Opportunity</div>
          <div class="usa-width-one-fourth">Updated date</div>
        </div>

        <% for (var i in data) { %>
        <div class="usajobs-grid open-opps-row">
          <% if (data[i].state == 'archived') { continue; } %>
          <div data-id="<%- data[i].id %>">
            <div class="usa-width-one-fourth">
              <span  class="usajobs-pill--opportunity-status status-<%= data[ i ].state.charAt( 0 ).toLowerCase() + data[ i ].state.slice( 1 ).replace(' ', '-') %>">
                <%= data[ i ].state.charAt( 0 ).toUpperCase() + data[ i ].state.slice( 1 ) %>
              </span>
            </div>

            <div class="usa-width-one-half open-opps-title">
              <% if ( '' === data[ i ].title && 'draft' === data[ i ].state ) {
                data[ i ].title = 'Untitled draft';
              } %>
              <a href="/<%- target %>s/<%- data[i].id %>" class="activity-link" data-id="<%- data[i].id %>"><%- data[i].title %></a>
            </div>
            <div class="usa-width-one-fourth">
              <% var created = new Date(data[i].createdAt); %>
              <%- created.toLocaleDateString() %></div>

          </div>
        </div>
        <% } %>

      <% } else { %>
        <div class="usajobs-grid open-opps-row header">
            <div class="usa-width-one-fourth">Opportunity status</div>
            <div class="usa-width-one-half">Opportunity</div>
            <div class="usa-width-one-fourth">Updated date</div>
        </div>
        <div class="usajobs-grid open-opps-row">
          <div>
            <div>No <%- targetsFriendly %></div>
          </div>
        </div>
      <% } %>
      </div>
  </div>
</div>
