<div class="alert alert-danger" style="display:none;">
</div>
<div id="reset-password-container"></div>
<h2>Users</h2>
<div class="usajobs-grid-full user-filter">
  <div class="usa-width-one-half">
    <label class="sr-only" for="user-filter">Filter</label>
    <input type="text" class="" id="user-filter" placeholder="Filter by name or agency">
  </div>
  <div class="usa-width-one-fourth">
    <div class="export-button tip" data-toggle="tooltip" data-placement="bottom"
         title="Download list of all users as a comma-separated file ready for import into Excel">
      <a href="/api/admin/export">
        <i class="fa fa-download"></i><span class="box-icon-text">Download list (.csv)</span>
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 sm-nopadding md-nopadding">
    <div class="fullwidth text-center spinner">
      Loading... <i class="fa fa-spinner fa-spin"></i>
    </div>
  </div>
</div>
<div id="user-table" class="table-responsive"></div>
<div class="" id="user-page"></div>
