<div class="usa-alert usajobs-alert usajobs-alert--error" role="alert" data-object="alert" style="display:none;">
  <div class="usajobs-alert__figure">
    <div class="usajobs-alert__icon">
    </div>
  </div>
  <div class="usajobs-alert__body">
    <p class="usa-alert-text">

    </p>
  </div>
</div>

<h2>Agency dashboard</h2>
<div class="agency-details">
  <% if (!agency.data) { %>
  <p>Agency not set up.</p>
  <% } else { %>
    <h3><%= agency.name %></h3>
    <p>Domain: <%= agency.data.domain %></p>
    <p>
      <a class="link" data-target="users" href="/admin/users/<%=agency.id %>"><%= agency.data.abbr ? agency.data.abbr : agency.name %> Users</a>
    </p>
    <p>
      <a class="link" data-target="tasks" href="/admin/tasks/<%=agency.id %>"><%= agency.data.abbr ? agency.data.abbr : agency.name %> Opportunities</a>
    </p>
  <% } %>
</div>
