<table class="usa-table-borderless task-table" role="presentation">
  <thead>
    <tr>
      <th>State</th>
      <th>Title</th>
      <th>Author</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% if (tasks.length === 0) { %>
      <tr class="empty-row">
        <td colspan="4">No tasks</td>
      </tr>
    <% } %>
    <% _.each(tasks, function (task) { %>
      <tr>
        <td class="metrics-table__label">
          <div class="usajobs-pill--opportunity-status status-<%= task.state.toLowerCase().replace(' ', '-') %>">
            <%=
              task.state.charAt( 0 ).toUpperCase() + task.state.slice( 1 )
            %>
          </div>
        </td>
        <td class="metrics-table__title">
          <a href="/tasks/<%- task.id %>"><%- task.title %></a>
          <% if ( task.volunteers.length ) { %>
          <div class="sign-ups">Sign-ups:
             <% _( task.volunteers ).forEach( function( vol ) { %>
               <a href="/profile/<%- vol.id %>"><%-vol.name || 'Unnamed'%></a><%-(vol == task.volunteers[task.volunteers.length-1]) ? '' : ', ' %>
             <% } ); %>
          </div>
          <% } %>
        </td>
        <td class="metrics-table__author">
          <% if (!task.owner) { console.log('no owner for task', task) } else { %>
          <a href="/profile/<%- task.owner.id %>">
            <%- task.owner.name || task.owner.username %>
          </a>
          <% } %>
        </td>
        <td class="metrics-table__button">
          <% if (_.contains(['draft', 'submitted'], task.state.toLowerCase())) { %>
            <a href="#open/<%- task.id %>"
              data-task-id="<%- task.id %>"
              data-task-title="<%- task.title %>"
              class="task-open"
              alt="Publish Task"
              title="Publish Task">
              <span class='fa fa-check'></span>
            </a>
            <a href="#delete/<%- task.id %>"
              data-task-id="<%- task.id %>"
              data-task-title="<%- task.title %>"
              class="delete-task"
              alt="Delete Task"
              title="Delete Task">
              <span class='fa fa-times'></span>
            </a>
          <% } else if (_.contains(['open', 'in progress'], task.state.toLowerCase())) { %>
            <a href="#change-owner/<%- task.id %>"
              data-task-id="<%- task.id %>"
              data-task-title="<%- task.title %>"
              class="task-change-owner"
              alt="Change Owner"
              title="Change Owner">
              <i class="fas fa-user-cog"></i>
            </a>
            <% if (window.cache.currentUser && window.cache.currentUser.isAdmin) { %>
            <a href="#add-participant/<%- task.id %>"
              data-task-id="<%- task.id %>"
              data-task-title="<%- task.title %>"
              class="task-add-participant"
              alt="Add participant"
              title="Add participant">
              <i class="fas fa-user-plus"></i>
            </a>
            <% } %>
          <% } %>    
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>
