<table class="usa-table-borderless task-table">
  <thead>
    <tr>
      <th>State</th>
      <th>Title</th>
      <th>Author</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% if (tasks.length === 0) { %>
      <tr class="empty-row">
        <td colspan="10">No tasks</td>
      </tr>
    <% } %>
    <% _.each(tasks, function (task) { %>
      <tr>
        <td class="metrics-table__label">
          <div class="usajobs-pill--opportunity-status status-<%= task.state.toLowerCase() %>">
            <%=
              task.state.charAt( 0 ).toUpperCase() + task.state.slice( 1 )
            %>
          </div>
        </td>
        <td class="metrics-table__title">
          <a href="/tasks/<%- task.id %>"><%- task.title %></a>
          <% if ( task.volunteers.length ) { %>
          <div>Sign-ups:
             <% _( task.volunteers ).forEach( function( vol ) { %>
               <a href="/profile/<%- vol.id %>"><%-vol.name || 'Unnamed'%></a><%-(vol == task.volunteers[task.volunteers.length-1]) ? '' : ', ' %>
             <% } ); %>
          </div>
          <% } %>
        </td>
        <td class="metrics-table__author">
          <% if (!task.owner) { console.log('no owner for task', task) } else { %>
          <a href="/profile/<%- task.owner.id %>">
            <%- task.owner.name || task.owner.username %>
          </a>
          <% } %>
        </td>
        <td class="metrics-table__button">
          <a href="#open/<%- task.id %>"
             data-task-id="<%- task.id %>"
             data-task-title="<%- task.title %>"
             class="js-tip task-open"
             data-toggle="tooltip"
             data-placement="top"
             data-original-title="Publish Task">
            <span class='fa fa-check'></span>
          </a>
          <a href="#delete/<%- task.id %>"
             data-task-id="<%- task.id %>"
             data-task-title="<%- task.title %>"
             class="js-tip delete-task"
             data-toggle="tooltip"
             data-placement="top"
             data-original-title="Delete Task">
            <span class='fa fa-times'></span>
          </a>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>
