<form class="usajobs-form">
  <div class="usajobs-grid-full">
    <div class="usa-width-three-fourths type">
      <label for="filter">Type:</label>
      <select id="filter" name="filter" class="filter">
        <option value="">All</option>
        <option value="One time">One time</option>
        <option value="Ongoing">Ongoing</option>
      </select>
    </div>
    <div class="usa-width-one-fourth period">
      <label for="group">Period:</label>
      <select id="group" name="group" class="group">
        <option value="week">Week</option>
        <option value="month">Month</option>
        <option value="quarter">Quarter</option>
        <option value="year">Year</option>
        <option value="fyquarter">Fiscal Quarter</option>
        <option value="fy">Fiscal Year</option>
      </select>
    </div>
  </div>
</form>

<div class="overflow-x">
  <h3>Completed Opportunities</h3>
  <table class="usa-table-borderless task-metrics-table" role="presentation">
    <thead>
      <tr>
        <th scope="col"><span class="sr-only">Type</span></th>
        <% _.each(range, function(key) { %>
        <th scope="col"><%- label(key) %></th>
        <% }); %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Carryover <small>(still published or assigned)</small></th>
        <% _.each(range, function(key) { %>
        <td><%- tasks.carryOver[key] || 0 %></td>
        <% }); %>
      </tr>
      <tr>
        <th scope="row">Published</th>
        <% _.each(range, function(key) { %>
        <td><%- tasks.published[key] || 0 %></td>
        <% }); %>
      </tr>
      <tr>
        <th scope="row">Completed</th>
        <% _.each(range, function(key) { %>
          <td><%- tasks.completed[key] || 0 %></td>
        <% }); %>
      </tr>
      <tr>
        <th scope="row">Completed by Admin</th>
        <% _.each(range, function(key) { %>
          <td><%- tasks.completedByAdmin[key] || 0 %></td>
        <% }); %>
      </tr>
      <tr>
        <th scope="row">Completed by Opportunity Creator</th>
        <% _.each(range, function(key) { %>
          <td><%- tasks.completedByCreator[key] || 0 %></td>
        <% }); %>
      </tr>
      <tr>
        <th scope="row">Percentage Completed</th>
        <% _.each(range, function(key) { %>
        <td><%- Math.round(tasks.completed[key] / tasks.published[key] * 100, 4) || 0 %>%</td>
        <% }); %>
      </tr>
    </tbody>
  </table>
</div>
<div class="overflow-x">
  <table class="usa-table-borderless task-metrics-table" role="presentation">
    <thead>
      <tr>
        <th scope="col">Participants</th>
        <% _.each(range, function(key) { %>
        <th scope="col"><%- label(key) %></th>
        <% }); %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Participants <small>(people who have signed up for tasks)</small></th>
        <% _.each(range, function(key) { %>
        <td><%- volunteers[key] || 0 %></td>
        <% }); %>
      </tr>
    </tbody>
  </table>
</div>

<div class="overflow-x">
  <table class="usa-table-borderless task-metrics-table" role="presentation">
    <thead>
      <tr>
        <th scope="col" data-i18n="tag.AgencyPlural" ></th>
        <% _.each(range, function(key) { %>
        <th scope="col"><%- label(key) %></th>
        <% }); %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><span data-i18n="tag.AgencyPlural"></span> <small>(with people who have signed up for tasks)</small></th>
        <% _.each(range, function(key) { %>
        <td><%- agencies[key] || 0 %></td>
        <% }); %>
      </tr>
    </tbody>
  </table>
</div>
