<table class="usa-table-borderless user-table" role="presentation">
  <thead>
    <tr>
      <th class="admin-user-id">#</th>
      <th>Name</th>
      <th>Email</th>
      <th>Created At</th>
      <!-- <th><span data-i18n="ProjectPlural">Projects</span> (open / closed)</th> -->
      <th><span data-i18n="TaskPlural">Tasks</span></th>
      <th>Participant</th>
      <th class="admin-user-checkbox">Enabled</th>
      <% if (login.local.enabled === true) { %>
        <th class="admin-user-checkbox">Reset<br/>Password</th>
      <% } %>
      <% if (user.isAdmin) { %>
        <th class="admin-user-checkbox">Admin</th>
      <% } %>
      <th class="admin-user-checkbox">Agency<br/>Admin</th>
    </tr>
  </thead>
  <tbody>
    <% if (users.length === 0) { %>
      <tr class="empty-row">
        <td colspan="10">
          No users found.
        </td>
      </tr>
    <% } %>
    <% _.each(users, function (u) { %>
      <tr data-id="<%- u.id %>">
        <td>
          <%- u.id %>
        </td>
        <td class="admin-table-name">
          <%- u.name %>
        </td>
        <td class="admin-table-username">
          <a class="link-backbone" href="/profile/<%- u.id %>"><%- u.username %></a>
        </td>
        <td class="admin-table-createdat">
          <!-- day -->
          <% var created = new Date(u.createdAt); %>
          <%- created.toLocaleDateString() %><br/>
          <!-- time -->
          <%- created.toLocaleTimeString() %>
        </td>
        <td class="admin-table-tasks">
          <% if (u.tasksCreatedOpen > 0) { %>Open: <%- u.tasksCreatedOpen %><br/><% } %>
          <% if (u.tasksCreatedAssigned > 0) { %>Assigned: <%- u.tasksCreatedAssigned %><br/><% } %>
          <% if (u.tasksCreatedCompleted > 0) { %>Completed: <%- u.tasksCreatedCompleted %><br/><% } %>
          <% if (u.tasksCreatedArchived > 0) { %>Archived: <%- u.tasksCreatedArchived %><br/><% } %>
        </td>
        <td class="admin-table-volunteer">
          <% if (u.volCountOpen > 0) { %>Open: <%- u.volCountOpen %><br/><% } %>
          <% if (u.volCountAssigned > 0) { %>Assigned: <%- u.volCountAssigned %><br/><% } %>
          <% if (u.volCountCompleted > 0) { %>Completed: <%- u.volCountCompleted %><br/><% } %>
          <% if (u.volCountArchived > 0) { %>Archived: <%- u.volCountArchived %><br/><% } %>
        </td>
        <td>
          <% if (user.isAdmin || (user.isAgencyAdmin && !u.isAdmin)) { %>
            <input class="user-enable" id="user-enable-<%- u.id %>" type="checkbox" data-action='user' <% if (!u.disabled) { %> checked <% } %> />
            <label class="no-label" for="user-enable-<%- u.id %>"><span class="sr-only">Enable</span></label>
            <div class="icon-spin" style="display:none;"><i class="fa-spin fa fa-spinner"></i></div>
          <% } %>
        </td>
        <% if (login.local.enabled === true) { %>
          <td class="pull-center">
            <% if (user.isAdmin || (user.isAgencyAdmin && !u.isAdmin)) { %>
              <i class="user-reset fa fa-sync-alt"></i>
              <span class="sr-only">Reset password</span>
            <% } %>
          </td>
        <% } %>
        <% if (user.isAdmin) { %>
          <td>
            <input class="user-admin" id="user-admin-<%- u.id %>" type="checkbox" data-action='admin' <% if (u.isAdmin) { %> checked <% } %> />
            <label class="no-label" for="user-admin-<%- u.id %>"><span class="sr-only">Admin</span></label>
            <div class="icon-spin" style="display:none;"><i class="fa-spin fa fa-spinner"></i></div>
          </td>
        <% } %>
        <td>
          <% if (user.isAdmin || (user.isAgencyAdmin && !u.isAdmin)) { %>
            <input class="user-agency-admin" id="user-agency-admin-<%- u.id %>" type="checkbox" data-action='agencyAdmin' <% if (u.isAgencyAdmin) { %> checked <% } %> />
            <label class="no-label" for="user-agency-admin-<%- u.id %>"><span class="sr-only">Agency Admin</span></label>
            <div class="icon-spin" style="display:none;"><i class="fa-spin fa fa-spinner"></i></div>
          <% } %>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>
