<section class="usajobs-canvas usajobs-open-opps-admin-dashboard">
  <main class="main-content">
    <h1>Administration</h1>
    <nav class="usajobs-nav-secondary" role="navigation" data-object="nav-secondary" data-target="#usajobs-nav-secondary-menu--administration">
      <div class="usajobs-nav-secondary__body" id="usajobs-menu-administration">
        <ul class="usajobs-nav-secondary__menu">
          <li class="usajobs-nav-secondary__container">
            <a class="usajobs-nav-secondary__item is-active" href="/admin/dashboard" data-target="dashboard">
              Dashboard
            </a>
          </li>
          <li class="usajobs-nav-secondary__container">
            <a class="usajobs-nav-secondary__item" href="/admin/agencies" data-target="agencies">
              Agency dashboard
            </a>
          </li>
          <li class="usajobs-nav-secondary__container">
            <a class="usajobs-nav-secondary__item" href="/admin/users" data-target="users">
              Users
            </a>
          </li>
          <li class="usajobs-nav-secondary__container">
            <a class="usajobs-nav-secondary__item" href="/admin/tasks" data-target="tasks">
              Tasks
            </a>
          </li>
          <% if (window.cache.currentUser && window.cache.currentUser.isAdmin) { %>
            <li class="usajobs-nav-secondary__container">
              <a class="usajobs-nav-secondary__item" href="/admin/announcement" data-target="announcement">
                Announcement
              </a>
            </li>
          <% } %>
          <li class="usajobs-nav-secondary__container more is-hidden" style="display: none;">
            <a id="more-menu" class="usajobs-nav-secondary__more-toggle" href="javascript:void(0)" data-behavior="nav-secondary.toggle" data-target="#usajobs-nav-secondary-menu--administration">
              <svg class="svg-inline--fa fa-plus fa-w-14" aria-hidden="true" data-fa-processed="" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M448 294.2v-76.4c0-13.3-10.7-24-24-24H286.2V56c0-13.3-10.7-24-24-24h-76.4c-13.3 0-24 10.7-24 24v137.8H24c-13.3 0-24 10.7-24 24v76.4c0 13.3 10.7 24 24 24h137.8V456c0 13.3 10.7 24 24 24h76.4c13.3 0 24-10.7 24-24V318.2H424c13.3 0 24-10.7 24-24z"></path></svg><!-- <span class="fas fa-plus"></span> -->
            </a>
            <ul class="usajobs-nav-secondary__more-container" id="usajobs-nav-secondary-menu--administration" data-state="is-closed">
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <div class="content">
      <div class="admin-container" id="admin-dashboard"></div>
      <div class="admin-container" id="admin-agencies"></div>
      <div class="admin-container" id="admin-user"></div>
      <div class="admin-container" id="admin-tag"></div>
      <div class="admin-container" id="admin-task">
        <h2>Tasks</h2>
      </div>
      <div class="admin-container" id="admin-participants">
        <div class="fullwidth text-center spinner">
          Loading... <i class="fa fa-spinner fa-spin"></i>
        </div>
      </div>
      <div class="admin-container" id="admin-announcement"></div>
    </div>
  </main>
</section>
