<div class="alert alert-danger" style="display:none;">
</div>
<h2>Tasks</h2>
<div class="task-filters">
  <div class="filter">
    <input id="submitted" type="checkbox" class="filter-ckbx" checked />
    <label for="submitted">Submitted: (<%- submitted.length %>)</label>
  </div>
  <div class="filter">
    <input id="open" type="checkbox" class="filter-ckbx" />
    <label for="open">Open: (<%- open.length %>)</label>
  </div>
  <div class="filter">
    <input id="assigned" type="checkbox" class="filter-ckbx" />
    <label for="assigned">In progress: (<%- assigned.length %>)</label>
  </div>
  <div class="filter">
    <input id="completed" type="checkbox" class="filter-ckbx" />
    <label for="completed">Completed: (<%- completed.length %>)</label>
  </div>
  <div class="filter">
    <input id="draft" type="checkbox" class="filter-ckbx" />
    <label for="draft">Draft: (<%- draft.length %>)</label>
  </div>
  <div class="export-button tip" data-toggle="tooltip" data-placement="left"
       title="Download list of tasks as a comma-separated file ready for import into Excel">
    <a href="/api/task/export">
      <i class="fa fa-download"></i><span class="box-icon-text">Download list (.csv)</span>
    </a>
  </div>
</div>
<div class="table-responsive"></div>
