<div class="usa-alert usajobs-alert usajobs-alert--error" role="alert" data-object="alert" style="display:none;">
  <div class="usajobs-alert__figure">
    <div class="usajobs-alert__icon">
    </div>
  </div>
  <div class="usajobs-alert__body">
    <p class="usa-alert-text"></p>
  </div>
</div>
<h2>Edit announcement</h2>
<form action="" class="usa-form-xl" role="form" id="announcement-form">
  <fieldset class="usajobs-fieldset edit">
    <div class="required-input" id="title">
      <label for="announcement-title">
        <h3>Announcement title</h3>
      </label>
      <span class="field-validation-error error-empty" style="display:none;">You must enter a title for the announcement.</span>
      <span class="field-validation-error error-count100" style="display:none;">The title must be no more than 100 characters.</span>
      <span class="field-validation-error error-html" style="display:none;">The special characters '
        < ' or '>' are not allowed</span>
      <!-- <input type="text" id="announcement-title" class="fullwidth form-control validate" value="<%- announcement.title %>" data-validate="empty,count100,html" /> -->
      <textarea id="announcement-title" class="fullwidth form-control validate" data-validate="empty,count100,html"><%- announcement.title %></textarea>
      <p class="usajobs-form__help-brief">Maximum of 100 characters</p>
    </div>
    <div class="required-input">
      <label for="announcement-description">
        <h3>Announcement description</h3>
      </label>
      <span class="field-validation-error error-empty" style="display:none;">You must enter a description for this announcement.</span>
      <span class="field-validation-error error-html" style="display:none;">The special characters '
        < ' or '>' are not allowed.</span>
      <p>Describe the announcement. Limit to 700 characters or less.</p>
      <textarea id="announcement-description" class="announcement-description"><%- announcement.description %></textarea>
    </div>
  </fieldset>
  <fieldset class="usajobs-fieldset preview" style="display:none;">
    <div class="usajobs-opop-announcement__body">
      <h2>Announcement</h2>
      <div>
        <div class="usajobs-opop-announcement__title"></div>
        <div class="usajobs-opop-announcement__section"></div>
      </div>
    </div>
  </fieldset>
  <div class="usajobs-button_bar--slim">
    <div class="usajobs-button_bar__body">
      <button id="preview-btn" class="usa-button">Preview Changes</button>
      <button id="edit-btn" class="usa-button-secondary usa-button-left" style="display:none;">Make Changes</button>
      <button id="save-btn" class="usa-button" style="display:none;">Save Changes</button>
    </div>
  </div>
</form>
