<section class="usajobs-canvas usajobs-open-opps-admin-dashboard">
  <main class="main-content">
    <h1>Administration</h1>
    <nav class="usajobs-nav-secondary" role="navigation" data-object="nav-secondary" data-target="#usajobs-nav-secondary-menu--administration">
      <div class="usajobs-nav-secondary__body" id="usajobs-menu-administration">
        <ul class="usajobs-nav-secondary__menu">
          <li class="usajobs-nav-secondary__container">
            <a class="usajobs-nav-secondary__item is-active" href="/admin/dashboard" data-target="dashboard">
              Dashboard
            </a>
          </li>
          <li class="usajobs-nav-secondary__container">
            <a class="usajobs-nav-secondary__item" href="/admin/agencies" data-target="agencies">
              Agency dashboard
            </a>
          </li>
          <li class="usajobs-nav-secondary__container">
            <a class="usajobs-nav-secondary__item" href="/admin/users" data-target="users">
              Users
            </a>
          </li>
          <li class="usajobs-nav-secondary__container">
            <a class="usajobs-nav-secondary__item" href="/admin/tasks" data-target="tasks">
              Tasks
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="content">
      <div class="admin-container" id="admin-dashboard"></div>
      <div class="admin-container" id="admin-agencies"></div>
      <div class="admin-container" id="admin-user"></div>
      <div class="admin-container" id="admin-tag">
      </div>
      <div class="admin-container" id="admin-task">
        <h2>Tasks</h2>
      </div>
      <div class="admin-container" id="admin-participants">
        <div class="fullwidth text-center spinner">
          Loading... <i class="fa fa-spinner fa-spin"></i>
        </div>
      </div>
    </div>
  </main>
</section>
