<div class="usajobs-grid usa-grid-example usajobs-grid-text">
  <div class="usa-width-one-fourth">
    <h3><i class="fa fa-user"></i><span class="box-icon-text">Users</span></h3>
    <ul class="usajobs-unstyled-list">
      <li>Quantity: <%- users.count %></li>
      <li>Who have created tasks: <%- users.withTasks %></li>
    </ul>
  </div>
  <div class="usa-width-one-fourth">
    <h3><i class="fa fa-chart-line"></i><span class="box-icon-text" data-i18n="InteractionPlural">Interactions</span></h3>
    <ul class="usajobs-unstyled-list">
      <li>Total Interactions: <%- interactions.count %></li>
      <li><span data-i18n="Task">Task</span> Signups: <%- interactions.signups %></li>
      <li>Assignments: <%- interactions.assignments %></li>
      <li>Discussion Posts: <%- interactions.posts %></li>
      <li>Completed Tasks: <%- interactions.completions %></li>
      <li>Draft Tasks: <%- interactions.drafts %></li>
      <li>Published Tasks: <%- interactions.publishes %></li>
    </ul>
  </div>
  <div class="usa-width-one-fourth">
    <h3><i class="fa fa-rocket"></i><span class="box-icon-text" data-i18n="TaskPlural">Tasks</span></h3>
    <ul class="usajobs-unstyled-list">
      <li>Total Created: <%- tasks.count %></li>
      <li>Draft: <%- tasks.draft %></li>
      <li>Submitted: <%- tasks.submitted %></li>
      <li>Open: <%- tasks.open %></li>
      <li>Assigned: <%- tasks.assigned %></li>
      <li>Completed: <%- tasks.completed %></li>
      <li>Archived: <%- tasks.archived %></li>
    </ul>
  </div>
</div>
