<div class="title-change-owner">
    <p>Who would you like the new owner of this opportunity to be?</p>
    <div class="form-group">
      <input type="text" id="task-change-owner" class="fullwidth validate form-control" data-validate="empty,count99,html" name="task-change-owner" placeholder="Opportunity owner" value=""/>
      <span class="help-block error-empty" style="display:none;">You must enter a name for the new <span data-i18n="task">owner</span></span>
      <span class="help-block error-count99" style="display:none;">The name must be less than 100 characters.</span>
      <span class="help-block error-html" style="display:none;">The special characters '<' or '>' are not allowed</span>
    </div>
  </div>
  