<div id="login-wrapper"></div>
<nav class="usajobs-nav usajobs-nav--openopps" role="navigation" aria-label="main navigation">
  <div class="usajobs-nav__body usajobs-nav--openopps">
    <div  class="usajobs-nav__header-container">
      <div class="usajobs-nav__header usajobs-nav--openopps">
        <div class="usajobs-nav__brand-container usajobs-nav--openopps__brand-container">
          <a class="usajobs-nav__brand usajobs-nav--openopps__brand" href="/" title="Open Opportunities - Home">
            <img src="/img/logo/svg/open-opportunities.svg" alt="Open Opportunities logo">
        </a>
    </div>
    <div class="usajobs-nav__menu" id="usajobs-menu">
          <ul>
            <% if (user) { %>
              <li class="usajobs-nav__menu-container usajobs-nav__account usajobs-nav--openopps__menu-container" data-state="is-closed">
                <a class="usajobs-nav__section-link usajobs-nav--openopps__section-link menu-toggle toggle-one" href="#" title="Account" aria-haspopup="true" aria-controls="section-one">
                  <span class="usajobs-nav--openopps__section">
                    <span class="fas fa-user fa-fw" focusable="false"></span>
                  <% if (user.name) { %>
                    <span class="usajobs-nav__first_name usajobs-nav--openopps__first-name"><%- user.name %></span>
                    <span class="usajobs-nav__initials usajobs-nav--openopps__initials"><%- user.initials %></span>
                  <% } else { %>
                    <span class="usajobs-nav__account_name"><%- user.username %></span>
                  <% } %>
                  </span>
                </a>
                <ul id="section-one" class="usajobs-nav__secondary-menu" aria-expanded="false" aria-label="submenu" role="menu">
                  <li role="menuitem">
                    <a href="/profile/<%- user.id %>" id="profileLink">Profile</a>
                  </li>
                  <li role="menuitem">
                    <a href="/profiles" title="People">People</a>
                  </li>
                  <li role="menuitem">
                      <a href="/tasks/new" title="Create Opportunity">Create Opportunity</a>
                    </li>
                  <% if (user.isAdmin === true || user.isAgencyAdmin === true) { %>
                  <li role="menuitem"><a href="/admin">Administration</a></li>
                  <% } %>
                  <% if (login.local.logout) { %>
                  <li role="menuitem"><a href="/auth/logout" class="logout">Sign Out</a></li>
                  <% } %>
                </ul>
              </li>
              
              <li class="usajobs-nav__menu-container usajobs-nav__menu-search usajobs-nav--openopps__menu-container mobile" data-state="is-closed">
                <a class="usajobs-nav__section-link usajobs-nav--openopps__section-link menu-toggle toggle-two" href="#" title="Search Opportunities" aria-haspopup="true" aria-controls="section-two">
                  <span class="usajobs-nav--openopps__section">
                    <span class="fas fa-search fa-fw" focusable="false"></span>Search
                  </span>
                </a>
                <ul id="section-two" class="usajobs-nav__secondary-menu" aria-expanded="false" aria-label="submenu" role="menu">
                  <li role="menuitem"><a href="/tasks">Opportunities</a></li>
                  <li role="menuitem"><a href="https://usajobs.github.io/openopps-help/" title="Help" target="blank">Help</a></li>
                </ul>
              </li>
              <li class="usajobs-nav__menu-container usajobs-nav__menu-search desktop">
                  <a class="usajobs-nav__section-link usajobs-nav--openopps__section-link" href="https://usajobs.github.io/openopps-help/" title="Help" target="blank">
                    <span class="usajobs-nav--openopps__section">
                      <span class="fas fa-question-circle" title="Help"></span>Help
                    </span>
                  </a>
                </li>
              <li class="usajobs-nav__menu-container usajobs-nav__menu-search desktop">
                <a class="usajobs-nav__section-link usajobs-nav--openopps__section-link" href="/tasks" title="Search Opportunities">
                  <span class="usajobs-nav--openopps__section">
                    <span class="fas fa-search fa-fw" style="margin-top:0.5rem;" focusable="false"></span>Search
                  </span>
                </a>
              </li>
            <% } else { %>
              <% if (login.signin !== false) { %>
                <li class="usajobs-nav__menu-container usajobs-nav__account">
                  <a href="/login" class="usajobs-nav__section-link usajobs-nav--openopps__section-link">
                    <span class="fas fa-sign-in-alt fa-fw" data-fa-transform="right-6" focusable="false"></span>
                    Sign In
                  </a>
                </li>
                <li class="usajobs-nav__menu-container usajobs-nav__menu-search">
                  <a class="usajobs-nav__section-link usajobs-nav--openopps__section-link" href="/tasks" title="Search Opportunities">
                    <span class="usajobs-nav--openopps__section">
                      <span class="fas fa-search fa-fw" style="margin-top:0.5rem;" focusable="false"></span>Search
                    </span>
                  </a>
                </li>
              <% } %>
            <% }; %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
