@import '../../base-shared';

// .usajobs-opop-actions__col-sub-actions .usajobs-opop-actions__share {
//     padding: .25rem 0;
// }

@media screen and (min-width: 37.5em) {
    .usajobs-opop-actions__col-sub-actions .usajobs-opop-actions__duplicate, 
    .usajobs-opop-actions__col-sub-actions .usajobs-opop-actions__share, 
    .usajobs-opop-actions__col-sub-actions .usajobs-opop-actions__save {
    margin-top: 1.5rem;
    }
}

.usajobs-opop-actions__col-sub-actions .usajobs-opop-actions__duplicate, 
.usajobs-opop-actions__col-sub-actions .usajobs-opop-actions__share, 
.usajobs-opop-actions__col-sub-actions .usajobs-opop-actions__save {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 31.7615653177%;
    padding: 1rem 0;
    text-align: center;
    color: #0D71B9;
    text-decoration: none;
}

.usajobs-opop-actions-share {
    position: relative;
}

.usajobs-opop-actions {
    @include clearfix();
    margin-bottom: $size-M;
    padding: $size-default $size-default 0;
    text-align: center;
    background-color: $color-gray-lightest;
  
    @include media($M) {
      padding-bottom: $size-default;
      text-align: left;
    }
  
    &__apply {
      @include media($SM) {
        width: 80%;
      }
  
      @include media($L) {
        width: 100%;
      }
    }
  
    &__col-apply,
    &__col-sub-actions {
      @include media($M) {
        @include span-columns(3, 6);
      }
  
      @include media($L) {
        @include span-columns(4, 12);
      }
    }
  
    &__col-sub-actions {
      @include media($L) {
        min-width: rem(275px);
      }
    }
  
    &__col-apply {
      @include media($M) {
        float: right;
        @include omega();
      }
    }
  
    &__col-sub-actions:last-child {
      @include media($M) {
        margin-right: 4.8291579146%;
      }
    }
  
    &__col-sub-actions &__duplicate,
    &__col-sub-actions &__share,
    &__col-sub-actions &__save {
      @include span-columns(4, 12);
      padding: $size-S 0;
      text-align: center;
      text-decoration: none;
  
      @include media($M) {
        margin-top: $size-default;
      }
  
      &:hover {
        text-decoration: none;
      }
    }
  
    &__col-sub-actions &__duplicate {
      padding-top: $size-S + rem(1px);
    }
  
    &__col-sub-actions &__share {
      padding: rem(2.5px) 0;
    }
  
    &__save {
      min-width: rem(73px);
  
      &::before {
        padding-right: $size-XS;
        font-size: $base-font-size;
        vertical-align: top;
      }
    }
  
    &__save[data-state=is-saved] {
      &::before {
        @include icon-content("job/star", 2.4rem, 2.4rem);
      }
    }
  
    &__save[data-state=is-unsaved] {
      &::before {
        @include icon-content("job/star-o", 2.4rem, 2.4rem);
      }
    }
  }
  
  .usajobs-opop-actions--v1-5 {
    margin: $size-default 0;
  
    @include media($M) {
      background-color: $color-white;
    }
  
    @include media($L) {
      margin-bottom: 0;
    }
  
    &__col-apply,
    &__col-sub-actions {
      @include media($L) {
        float: none;
        width: 100%;
      }
    }
  
    &__col-sub-actions,
    &__numbers {
      @include row();
    }
  
    &__numbers {
      @include media($L) {
        margin-top: $size-default;
        border-top: 1px solid $color-gray-lighter;
      }
    }
  
    &__number-container {
      @include media($SM) {
        @include span-columns(1,2);
      }
  
      @include media($M) {
        @include span-columns(3, 6);
      }
  
      @include media($L) {
        float: none;
        width: 100%;
      }
    }
  
    &__number {
      margin: 0;
    }
  }
  
//   .usajobs-joa-actions-share {
//     @include actionShare();
//   }