/*****************
=  PROFILES
******************/

.profile-badges {
  list-style-type: none;
  padding: 0;
}

.profile-badges::after {
  clear: both;
  content: "";
  display: block;
}

.profile-badge {
  display: inline-block;
  text-align: center;
  text-transform: capitalize;
  float: left;
  margin-right: 1.5rem;

  img {
    min-height: 70px;
    width: 9.2rem;
    height: 9.2rem;
  }

  p {
    max-width: 10rem;
    margin-top: 0;
  }
}

.profile-reset h1 {
  font-size: 1.8em;
}

.profile-reset.error {
  color: #c12e2a;
}

.custom-popup .leaflet-popup-content-wrapper {
  background: #89a6c7;
  color: #333333;
  opacity: 0.8;
  border-radius: 10%;
}

.custom-popup .leaflet-popup-tip-container {
  display: none;
}

.clickable-row {
  cursor: pointer;
}
