<div class="btn-toolbar" role="toolbar">
  <div class="btn-group btn-group-sm">
    <button type="button" class="btn btn-c0" data-edit="heading" title="Heading" tabindex="-1"><i class="fa fa-heading" alt="Heading"></i></button>
  </div>
  <div class="btn-group btn-group-sm">
    <button type="button" class="btn btn-c0" data-edit="bold" title="Bold" tabindex="-1"><i class="fa fa-bold" alt="Bold"></i></button>
    <button type="button" class="btn btn-c0" data-edit="italic" title="Italic" tabindex="-1"><i class="fa fa-italic" alt="Italic"></i></button>
    <button type="button" class="btn btn-c0" data-edit="strikethrough" title="Strikethrough" tabindex="-1"><i class="fa fa-strikethrough" alt="Strikethrough"></i></button>
    <button type="button" class="btn btn-c0" data-edit="code" title="Code" tabindex="-1"><i class="fa fa-code" alt="Code"></i></button>
  </div>
  <div class="btn-group btn-group-sm">
    <button type="button" class="btn btn-c0" data-edit="link" title="Link" tabindex="-1"><i class="fa fa-link" alt="Link"></i></button>
    <button type="button" class="btn btn-c0" data-edit="list-ul" title="Unordered List" tabindex="-1"><i class="fa fa-list-ul" alt="Unordered List"></i></button>
    <button type="button" class="btn btn-c0" data-edit="list-ol" title="Ordered List" tabindex="-1"><i class="fa fa-list-ol" alt="Ordered List"></i></button>
  </div>
  <!-- <div class="btn-group btn-group-sm">
    <button type="button" class="btn btn-c0" data-edit="help" tabindex="-1"><i class="fa fa-question-circle" alt="Help"></i> Help</button>
  </div>-->

  <% if (preview) { %>
    <div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-c1 btn-preview" data-edit="preview" tabindex="-1"><i class="fa fa-eye" alt="Open"></i> Preview</button>
    </div>
    <div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-c1 btn-edit" data-edit="edit" style="display: none;" tabindex="-1"><i class="fa fa-pencil-alt" alt="Edit"></i> Edit</button>
    </div>
  <% } %>
</div>

<textarea
  <%if (!_.isUndefined(maxlength)) { %>maxlength="<%- maxlength %>"<% } %>
  <% if (!_.isUndefined(rows)) { %>rows="<%- rows %>"<% } %>
  class="form-control validate"
  id="<%- id %>"
  data-validate="<% if (!_.isUndefined(validate)) { %><%- validate.join(',') %><% } %>"
  <% if (!_.isUndefined(placeholder)) { %>placeholder="<%- placeholder %>"<% } %>
  <% if (!_.isUndefined(title)) { %>title="<%- title %>"<% } %>
  ><%- data %></textarea>
  <p class="usajobs-form__help-brief">
      You can use any <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown <span class="sr-only">Opens in a new window</span></a> or <a href="https://help.github.com/articles/github-flavored-markdown" target="_blank">GitHub Flavored Markdown <span class="sr-only">Opens in a new window</span></a> syntax in this text box.
  </p>

<div class="preview" style="display: none;"></div>
