<div class="usajobs-modal" id="<%- id %>" role="dialog" aria-hidden="true" tabindex="-1">
  <div class="usajobs-modal__dialog">
    <div class="usajobs-modal__content">
      <div class="usajobs-modal__header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="usajobs-modal__title"><%- modalTitle %></h4>
      </div>

      <div class="usajobs-modal__body">

      </div>

      <div class="usajobs-modal__footer">
        <button type="button" id="wizard-cancel-button" class="btn btn-c0 wizard-cancel" data-dismiss="modal">
          Cancel
        </button>
        <% if (draft) { %>
        <button type="button" id="wizard-draft-button" class="btn btn-c0 wizard-submit" data-state="draft">
          Save Draft
        </button>
        <% } %>
        <button type="button" id="wizard-backward-button" class="usa-button wizard-backward">
          <i class="fa fa-chevron-left"></i> Back
        </button>
        <button type="button" id="wizard-forward-button" class="usa-button wizard-forward">
          Next <i class="fa fa-chevron-right"></i>
        </button>
        <button type="button" id="wizard-create-button" class="usa-button wizard-submit">
          Create
        </button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
