<div class="usajobs-modal" id="<%- id %>" role="dialog" data-state="is-open" aria-hidden="false" aria-labelledby="usajobs-modal-heading" aria-describedby="usajobs-modal-description">
  <div class="usajobs-modal__dialog">
    <div class="usajobs-modal__content">

      <div class="usajobs-modal__header">
        <h2 class="usajobs-modal__title"><%- modalTitle %></h2>
      </div>

      <div class="usajobs-modal__body">
        <%= modalBody %>
      </div>

      <div class="usajobs-modal__footer">
          <% if (secondary && secondary.text) { %>
            <button id="secondary-btn" class="usa-button-big usa-button-secondary" data-behavior="modal.close"><%- secondary.text %></button>
          <% } %>
          <button id="primary-btn" class="usa-button-big usa-button-primary" data-behavior="modal.close"><%- primary.text %></button>
        </div>

      <% if (!disableClose) { %>
        <div class="usajobs-modal__actions">
          <button class="usajobs-modal__close" data-behavior="modal.close">
            <span class="usajobs-assistive-text">Close</span>
          </button>
        </div>
      <% } %>
    </div>
  </div>
</div>
