<div class="usajobs-modal" id="<%- id %>" role="dialog" aria-hidden="true" tabindex="-1">
  <div class="usajobs-modal__dialog">
    <div class="usajobs-modal__content">

      <div class="usajobs-modal__header">
        <h4 class="usajobs-modal__title"><%- modalTitle %></h4>
      </div>

      <div class="usajobs-modal__body">
        <p>
          Your Open Opportunities session will expire due to inactivity in three minutes.
          Any unsaved data will be lost if you allow the session to expire.
          Click the button below to continue your session.
        </p>
      </div>

      <div class="modal-footer modal-footer-grey">
        <button type="button" id="idle-logout-button" class="usa-button idle-logout">
          Logoff
        </button>
        <button type="button" id="idle-reset-button" class="usa-button idle-reset">
          Stay Logged In
        </button>
      </div>

    </div>
  </div>
</div>
