<div class="usajobs-modal"
  id="<%- id %>"
  role="dialog"
  tabindex="-1"
  <% if (disableClose === true) { %>
  data-backdrop="static"
  data-keyboard="false"
  <% } %>
  >
  <div class="usajobs-modal__dialog">
    <div class="usajobs-modal__content">
      <div class="usajobs-modal__header">
        <% if (disableClose !== true) { %>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <% } %>
        <h4 class="usajobs-modal__title"><%- modalTitle %></h4>
      </div>

      <div class="modal-template">

      </div>
    </div>
  </div>
</div>
