<div class="modal fade" id="<%- id %>" role="dialog" aria-hidden="true" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title"><%- modalTitle %></h4>
      </div>

      <div class="modal-body">
        <p>
          Your Open Opportunities session will expire due to inactivity in three minutes.
          Any unsaved data will be lost if you allow the session to expire.
          Click the button below to continue your session.
        </p>
      </div>

      <div class="modal-footer modal-footer-grey">
        <button type="button" id="idle-logout-button" class="btn btn-c2 idle-logout">
          Logoff
        </button>
        <button type="button" id="idle-reset-button" class="btn btn-c2 idle-reset">
          Stay Logged In
        </button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
