// Let's see if it's just our copy of the font
// @import url(//fonts.googleapis.com/css?family=Source+Sans+Pro);
@import 'bourbon';

@include font-face(
  'Merriweather',
  '#{$font-path}/merriweather-regular-webfont',
  400,
  normal,
  $file-formats: eot woff2 woff ttf
);

@include font-face(
  'Source Sans Pro',
  '#{$font-path}/sourcesanspro-regular-webfont',
  400,
  normal,
  $file-formats: eot woff2 woff ttf
);
