<div class="check-list">
    <div class="check"><span class="fa fa-check"></span></div>
    <div>I have my supervisor’s approval to apply to this opportunity.</div>
</div>
<div class="check-list">
    <div class="check"><span class="fa fa-check"></span></div>
    <div>I am a federal employee (not a contractor).</div>
</div>
<div class="check-list">
    <div class="check"><span class="fa fa-check"></span></div>
    <div>If this opportunity is for a specific location (i.e. it is not a virtual opportunity), I am located within the same commuting area.</div>
</div>
