<section class="usajobs-canvas">
  <div class="usajobs-content-gutter">
    <div class="usa-alert usajobs-alert usajobs-alert--error" role="alert" data-object="alert"  id="alert-closed" style="<% if (model.state != 'closed') { %>display: none;<% } %>">
      <div class="usajobs-alert__figure">
        <div class="usajobs-alert__icon">
        </div>
      </div>
      <div class="usajobs-alert__body">
        <p class="usa-alert-text">
          This <span data-i18n="task">opportunity</span> is <strong>closed</strong>.  It is no longer active, and no more modifications may be made.
        </p>
      </div>
      <% if (alert.dismiss) { %>
      <button class="usajobs-alert__close" data-behavior="alert.close">
        <span class="usajobs-assistive-text">Close</span>
      </button>
      <% } %>
    </div>
    <div class="edit-task-container edit-task-section"></div>



    <main class="main-content usajobs-content-well" id="main-content" aria-label="Opportunity">
      <div class="usajobs-open-opps-opportunity usajobs-open-opps-section usajobs-open-opps-profile">
        <div class="usajobs-grid-full">
          <div class="usajobs-width-five-sixths">
            <h1 class="usajobs-open-opps-opportunity-item__title"><%- model.title %></h1>
            <span class="usajobs-pill--opportunity-status opportunity-page status-<%- state.value %>"><%- state.humanReadable %></span>
            <% if (madlibTags['skill']) { %>
            <div class="py1">
              <% _.each(madlibTags['skill'], function (t) { %>
                <a class="px2 bg-yellow black rounded" href="/tasks?search=<%= t.name %>"><%= t.name %></a>
              <% }) %>
            </div>
            <% } %>
          </div>

          <div class="usajobs-width-one-sixth">
          <% if (user) { %>
            <div class="center" data-userid="<%- model.userId %>">
          <% } else { %>
            <div class="center">
          <% } %>
              <img class="circle" width="50" src="/api/user/photo/<%- model.userId %>" alt="Profile pic of <%- model.owner.name %>"/>
              <p>Posted by</p>
              <div><%- model.owner.name %></div>
              <div><%- model.publishedAt ? moment(model.publishedAt).format('MM/DD/YY') : '-/-/-' %></div>
          <% if (user) { %>
            </div>
          <% } else { %>
            </div>
          <% } %>
          </div>
        </div>

        <div class="usajobs-grid-full">
          <div class="usajobs-opop-task-tags usajobs-width-two-thirds">
            <% _.each(tags, function (t) { %>
              <a class="skill-label" href="/tasks?search=<%= t.name %>"><%= t.name %></a>
            <% }) %>
          </div>

          <div class="usajobs-opop-actions usajobs-opop-actions--v1-5 usajobs-width-one-third">
            <div class="usajobs-opop-actions__col-sub-actions usajobs-opop-actions--v1-5__col-sub-actions">
              <a class="usajobs-opop-actions__duplicate" href="#duplicate"><i class="fa fa-copy"></i> Duplicate</a>
              <a class="usajobs-opop-actions__save" href="#save" data-behavior="opop-actions.toggle-save" data-state="is-unsaved"><i class="fa fa-bookmark"></i> Save</a>
              <a class="usajobs-opop-actions__share usajobs-opop-actions-share" href="#" id="email"><i class="fa fa-share-alt"></i> Share</a>
            </div>
          </div>
        </div>
      </div>


      <div class="usajobs-open-opps-opportunity usajobs-open-opps-profile">
        <div class="usajobs-grid-full">
          <div class="usa-width-two-thirds">
            <div class="usajobs-open-opps-opportunity__desc">
              <%= model.descriptionHtml %>
            </div>
          </div>
          <div class="usa-width-one-third">
            <div class="usajobs-opop__task-intro">
              <h4>Personnel Needed</h4>
              <div>
                <% if (madlibTags['task-people']) { %>
                  <%= madlibTags['task-people'][0].name %>
                <% } else { %>
                  None
                <% } %>
              </div>
              <h4>Time Commitment</h4>
              <div>
                <% if (madlibTags['task-time-required']) { %>
                  <%= madlibTags['task-time-required'][0].name %>
                <% } %>
                <% if (madlibTags['task-time-estimate'] &&
                      !(madlibTags['task-time-required'] && madlibTags['task-time-required'][0].name === 'Full Time Detail')) { %>
                  &mdash;
                  <%- madlibTags['task-time-estimate'][0].name %>
                <% } %>
                <% if (madlibTags['task-time-required'] && madlibTags['task-length']) { %>
                  <% if (madlibTags['task-time-required'][0].name === "Ongoing") { %>
                    <%- madlibTags['task-length'][0].name.toLowerCase() %>
                  <% } %>
                <% } %>
              </div>
              <% if (model.completedBy) { %>
              <h4>Target Date</h4>
              <div>
                  <%= moment(model.completedBy).format('ddd, MMM D, YYYY') %>
              </div>
              <% } %>
              <h4>Duty Location</h4>
              <div>
                <% if (madlibTags.location) { %>
                  <% _.each(madlibTags.location, function (s, i) { %>
                    <% if (i > 0) { %>, <% } %><%- s.name %>
                  <% }) %>
                <% } else { %>
                  Anywhere
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="usajobs-open-opps-opportunity usajobs-open-opps-profile">
        <div class="comment-list-wrapper">
          <% if (user) { %>
          <button class="file-add new-topic" id="project-topic-new">New Topic</button>
          <% } %>
          <div class="topic-form-wrapper"></div>
          <ul id="comment-list-null"></ul>
        </div>
        <div class="usajobs-grid-full">
          <div class="usajobs-width-one-whole"></div>
        </div>
      </div>
    </main>

    <aside class="usajobs-rightrail" id="rightrail">
      <div class="usajobs-open-opps-opportunity usajobs-open-opps-section usajobs-open-opps-profile">
        <div class="p2 mb3 bg-white">
          <div <% if (!vol) {%>style="display: none;"<%}%>>
            <div id="modal-volunteer"></div>
            <ul class="nav nav-pills nav-stacked">
              <li>
                <a href="#" id="volunteered" class="volunteer-true btn btn-c1" style="display: none;cursor: default;"><i class="fa fa-thumbs-up"></i> <span class="box-icon-text" data-i18n="taskPage.volunteeredButton">Application received</span></a>
                <a href="#" id="volunteer" class="usa-button usa-button-primary"><span class="box-icon-text" data-i18n="taskPage.volunteerButton">Apply</span></a>
              </li>
              <li>

              </li>
            </ul>
          </div>
          <% if (model.canEditTask) { %>
          <div>
            <div id="modal-close"></div>
            <div id="modal-copy"></div>
            <ul class="nav nav-pills nav-stacked">
              <li class="li-task-edit">
                <a href="#" id="task-edit"><i class="fa fa-pencil"></i> <span class="box-icon-text">Edit <span data-i18n="Task">Opportunity</span></span></a>
              </li>
              <li class="li-task-view" style="display: none;">
                <a href="#" id="task-view"><i class="fa fa-pencil"></i> <span class="box-icon-text">View <span data-i18n="Task">Opportunity</span></span></a>
              </li>
              <% if (!draftAdminOnly || model.state !== 'draft' || (user && user.isAdmin)) { %>
              <li id="li-task-close" style="<% if (model.state == 'closed') { %>display: none;<% } %>">
                <a href="#" id="task-close"><i class="fa fa-times-circle"></i> <span class="box-icon-text">Change <span data-i18n="Task">Opportunity</span> State</span></a>
              </li>
              <% } else {%>
                <li><span class="no-link">This draft <span data-i18n="task">opportunity</span> is awaiting approval from an administrator.</span></li>
              <% } %>
              <li id="li-task-reopen" style="<% if (model.state != 'closed') { %>display: none;<% } %>">
                <a href="#" id="task-reopen"><i class="fa fa-share"></i> <span class="box-icon-text">Reopen</span></a>
              </li>
              <% if (user) { %>
              <li class="li-task-copy">
                <a href="#" id="task-copy"><i class="fa fa-files-o"></i><span class="box-icon-text">Copy Opportunity</span></a>
              </li>
              <% } %>
            </ul>
          </div>
          <% } %>
        </div>
        <% if (model.volunteers) { %>
          <div>
            <h4>Participants</h4>
            <div>
            <% if (model.volunteers.length > 0) { %>
              <% _.each(model.volunteers, function (v) { %>
                <% if (user) { %>
                  <div class="project-people-show-div" data-userid="<%- v.userId %>" data-voluserid="<%- v.userId %>">
                <% } else { %>
                  <div style="width: 70px; position: relative; display: inline-block; text-align: center; padding: 0 3px;">
                <% } %>
                <img src="/api/user/photo/<%- v.userId %>" alt="<%- v.name %>" class="project-people" />
                <label class="project-people-show-label"><%- v.name %></label>
              </div>
              <% }); %>
            <% } else { %>
              None assigned
            <% } %>
            </div>
            <h4>Progress</h4>
            <ul class="usajobs-uns">
              <li id="task-length-empty" style="display: none;">None</li>
              <li>Published: <%- model.publishedAt ? moment(model.publishedAt).format('ddd, MMM D, YYYY') : '--' %></li>
              <li>Assigned: <%- model.assignedAt ? moment(model.assignedAt).format('ddd, MMM D, YYYY') : '--' %></li>
              <li>Completed: <%- model.completedAt ? moment(model.completedAt).format('ddd, MMM D, YYYY') : '--' %></li>
            </ul>
          </div>
        </div>
      <% } %>
      </div>
    </aside>

  </div>
</section>
