<section class="usajobs-canvas">
  <div class="usajobs-content-gutter opportunity-gutter">
    <div class="usa-alert usajobs-alert usajobs-alert--error" role="alert" data-object="alert"  id="alert-closed" <% if (model.state != 'closed') { %>style="display: none;"<% } %>>
      <div class="usajobs-alert__figure">
        <div class="usajobs-alert__icon">
        </div>
      </div>
      <div class="usajobs-alert__body">
        <p class="usa-alert-text">
          This opportunity is <strong>closed</strong>.  It is no longer active, and no more modifications may be made.
        </p>
      </div>
      <% if (alert.dismiss) { %>
      <button class="usajobs-alert__close" data-behavior="alert.close">
        <span class="usajobs-assistive-text">Close</span>
      </button>
      <% } %>
    </div>
    <div id="task-search-spinner" class="fullwidth text-center">
        Loading... <i class="fa fa-spinner fa-spin"></i>
    </div>
    <main class="main-content usajobs-content-well" id="main-content" aria-label="Opportunity">
      <div class="usajobs-open-opps-opportunity usajobs-open-opps-section usajobs-open-opps-profile">
        <div class="usajobs-grid-full usajobs-open-opps-opportunity-item__header">
          <div class="usajobs-width-two-thirds">
            <h1 class="usajobs-open-opps-opportunity-item__title"><%- model.title %></h1>
            <span class="usajobs-pill--opportunity-status opportunity-page status-<%- state.value.replace(' ', '-') %>"><%- state.humanReadable %></span>
            <div class="skills">
              <div>Desired skills:</div>
              <% _.each(madlibTags['skill'], function (t) { %>
                <a class="skill-label" href="/tasks?search=<%= t.name %>"><%= t.name %></a>
              <% }) %>
            </div>
          </div>

          <div class="usajobs-width-one-third">
            <div class="usajobs-open-opps-opportunity-requestor__wrapper">
              <div class="usajobs-open-opps-opportunity-requestor">
                <div class="usajobs-open-opps-opportunity-requestor__figure-body">
                  <div class="usajobs-open-opps-opportunity-requestor__figure <% if (user) { %><%- getInitialsColor(model.owner.id) %><% } %>" <% if (user) { %> data-userid="<%- model.userId %>" <% } %>>
                    <% if (model.owner.photoId) { %>
                      <img src="/api/user/photo/<%- model.owner.id %>" alt="Profile picture of <%- model.owner.name %>">
                    <% } else { %>
                      <div class="usajobs-open-opps-opportunity-requestor__initials" title="<%- model.owner.name %>"><%- getInitials(model.owner.name) %></div>
                    <% } %>
                  </div>
                  <div class="usajobs-open-opps-opportunity-requestor__body">
                    <p class="usajobs-open-opps-opportunity-requestor__name">
                      <a href="/profile/<%- model.owner.id %>"><%- model.owner.name %> <% if(model.owner.agency && model.owner.agency.data) { %>(<%- model.owner.agency.data.abbr %>)<% } %></a>
                    </p>
                    <span class="usajobs-open-opps-opportunity-requestor__on">
                       Posted on
                       <span><%- model.publishedAt ? moment(model.publishedAt).format('MM/DD/YY') : '-/-/-' %></span>
                    </span class="usajobs-open-opps-opportunity-requestor__date">
                  </div>
                </div>
              </div>
            </div>
            <div class="usajobs-opop-actions__col-sub-actions usajobs-opop-actions--v1-5__col-sub-actions">
              <% if (user) { %>
                <div><a class="usajobs-opop-actions__duplicate" href="#duplicate" id="task-copy"><i class="fa fa-copy"></i> Duplicate</a></div>
              <% } %>
              <% if (model.canEditTask && model.state != 'completed') { %>
                <div><a class="usajobs-opop-actions__save" href="#edit" id="task-edit"><i class="fas fa-edit"></i> <% if (model.state != 'canceled') { %>Edit<% } else { %>Reopen<% } %></a></div>
              <% } %>
              <div><a class="usajobs-opop-actions__share usajobs-opop-actions-share" href="#" id="email"><i class="fa fa-share-alt"></i> Share</a></div>
            </div>
          </div>

        </div>
      </div>


      <div class="usajobs-open-opps-opportunity usajobs-open-opps-profile overview">
        <div class="usajobs-grid-full">
          <div class="usa-width-one-third personnel-needed mobile">
            <div class="usajobs-opop__task-intro">
              <h4>Personnel needed</h4>
              <div>
                <% if (madlibTags['task-people']) { %>
                  <%= madlibTags['task-people'][0].name %>
                <% } else { %>
                  None
                <% } %>
              </div>
              <h4>Time commitment</h4>
              <div>
                <% if (madlibTags['task-time-required']) { %>
                  <%= madlibTags['task-time-required'][0].name %>
                <% } %>
                <% if (madlibTags['task-time-estimate'] &&
                      !(madlibTags['task-time-required'] && madlibTags['task-time-required'][0].name === 'Full Time Detail')) { %>
                  &mdash;
                  <%- madlibTags['task-time-estimate'][0].name %>
                <% } %>
                <% if (madlibTags['task-time-required'] && madlibTags['task-length']) { %>
                  <% if (madlibTags['task-time-required'][0].name === "Ongoing") { %>
                    <%- madlibTags['task-length'][0].name.toLowerCase() %>
                  <% } %>
                <% } %>
              </div>
              <% if (model.completedBy) { %>
              <h4>Due date</h4>
              <div>
                  <%= moment(model.completedBy).format('MM/DD/YY') %>
              </div>
              <% } %>
              <h4>Location</h4>
              <div>
                <% if (madlibTags.location) { %>
                  <% _.each(madlibTags.location, function (s, i) { %>
                    <% if (i > 0) { %>, <% } %><%- s.name %>
                  <% }) %>
                <% } else { %>
                  Anywhere
                <% } %>
              </div>              
              <% if (madlibTags.career) { %>
                <h4>Career field</h4>
                <div>
                  <% _.each(madlibTags.career, function (s, i) { %>
                    <% if (i > 0) { %>, <% } %><%- s.name %>
                  <% }) %>
                </div>
              <% } %>
              <% if (madlibTags.series) { %>
                <h4>Series</h4>
                <div>
                  <% _.each(madlibTags.series, function (s, i) { %>
                    <% if (i > 0) { %>, <% } %><%- s.name %>
                  <% }) %>
                </div>
              <% } %>
            </div>
          </div>
          <div class="usa-width-two-thirds opportunity-description">
            <div class="usajobs-open-opps-opportunity__desc">
              <h3>Introduction</h3>
              <%= model.descriptionHtml %>
              <% if (model.details) { %>
                <h3>What you'll do</h3>
                <%= model.detailsHtml %>
              <% } %>
              <% if (model.outcome) { %>
                <h3>What you'll learn</h3>
                <%= model.outcomeHtml %>
              <% } %>
              <% if (model.about) { %>
                <h3>Who we are</h3>
                <%= model.aboutHtml %>
              <% } %>
              <% if (madlibTags['keywords']) { %>
                <h3>Related keywords</h3>
                <div class="keywords">
                <% _.each(madlibTags['keywords'], function (t) { %>
                  <a class="keyword-label" href="/tasks?search=<%= t.name %>"><%= t.name %></a>
                <% }) %>
                </div>
              <% } %>
            </div>
          </div>
          <div class="usa-width-one-third personnel-needed desktop">
            <div class="usajobs-opop__task-intro">
              <h4>Personnel needed</h4>
              <div>
                <% if (madlibTags['task-people']) { %>
                  <%= madlibTags['task-people'][0].name %>
                <% } else { %>
                  None
                <% } %>
              </div>
              <h4>Time commitment</h4>
              <div>
                <% if (madlibTags['task-time-required']) { %>
                  <%= madlibTags['task-time-required'][0].name %>
                <% } %>
                <% if (madlibTags['task-time-estimate'] &&
                      !(madlibTags['task-time-required'] && madlibTags['task-time-required'][0].name === 'Full Time Detail')) { %>
                  &mdash;
                  <%- madlibTags['task-time-estimate'][0].name %>
                <% } %>
                <% if (madlibTags['task-time-required'] && madlibTags['task-length']) { %>
                  <% if (madlibTags['task-time-required'][0].name === "Ongoing") { %>
                    <%- madlibTags['task-length'][0].name.toLowerCase() %>
                  <% } %>
                <% } %>
              </div>
              <% if (model.completedBy) { %>
              <h4>Due date</h4>
              <div>
                  <%= moment(model.completedBy).format('MM/DD/YY') %>
              </div>
              <% } %>
              <h4>Location</h4>
              <div>
                <% if (madlibTags.location) { %>
                  <% _.each(madlibTags.location, function (s, i) { %>
                    <% if (i > 0) { %>, <% } %><%- s.name %>
                  <% }) %>
                <% } else { %>
                  Anywhere
                <% } %>
              </div>
              <% if (madlibTags.career) { %>
                <h4>Career field</h4>
                <div>
                  <% _.each(madlibTags.career, function (s, i) { %>
                    <% if (i > 0) { %>, <% } %><%- s.name %>
                  <% }) %>
                </div>
              <% } %>
              <% if (madlibTags.series) { %>
                <h4>Series</h4>
                <div>
                  <% _.each(madlibTags.series, function (s, i) { %>
                    <% if (i > 0) { %>, <% } %><%- s.name %>
                  <% }) %>
                </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>

      <div class="usajobs-open-opps-opportunity usajobs-open-opps-profile discussion">
        <div class="comment-list-wrapper">
          <% if (user) { %>
          <button class="file-add new-topic" id="project-topic-new">New Topic</button>
          <% } %>
          <div class="topic-form-wrapper"></div>
          <ul id="comment-list-null"></ul>
        </div>
        <div class="usajobs-grid-full">
          <div class="usajobs-width-one-whole"></div>
        </div>
      </div>
    </main>

    <aside class="usajobs-rightrail" id="rightrail">
    </aside>

  </div>
</section>
