<div class="usajobs-open-opps-opportunity usajobs-open-opps-section usajobs-open-opps-profile">
  <h3>Progress</h3>
  <div class="usajobs-open-opps-opportunity-progress__container">
    <div class="usajobs-open-opps-opportunity-progress__step">
      <div class="usajobs-open-opps-opportunity-progress__assigned <% if (hasStep('assigning')) { %>has-step<% } %>">
        <span class="progress-icon"><i class="fas fa-user-plus"></i></span>
        <span class="usajobs-assistive-text">Assigning</span>
      </div>
      <label class="progress-label">Assigning</label>
    </div>

    <span class="progress-spacer"></span>

    <div class="usajobs-open-opps-opportunity-progress__step">
      <div class="usajobs-open-opps-opportunity-progress__in-progress <% if (hasStep('inProgress')) { %>has-step<% } %>">
        <span class="progress-icon"><i class="fas fa-sync"></i></span>
        <span class="usajobs-assistive-text">In progress</span>
      </div>
      <label class="progress-label">In progress</label>
    </div>

    <span class="progress-spacer"></span>

    <div class="usajobs-open-opps-opportunity-progress__step">
      <div class="usajobs-open-opps-opportunity-progress__completed <% if (hasStep('complete')) { %>has-step<% } %>">
        <span class="progress-icon"><i class="fas fa-check"></i></span>
        <span class="usajobs-assistive-text">Complete</span>
      </div>
      <label class="progress-label">Complete</label>
    </div>
  </div>

  <% if (model.canEditTask && !_.contains(['draft', 'submitted'], state.value)) { %>
  <div class="continue-accepting-applicants">
    <div class="continue-accepting-applicants__toggle">
      <span class="continue-accepting-applicants__label">Continue accepting applicants</span>
      <div id="accept-toggle" class="continue-accepting-applicants__toggle-container <% if (!model.acceptingApplicants) { %>toggle-off<% } %>">
        <span class="continue-accepting-applicants__toggle-labeloff">Off</span>
        <span class="continue-accepting-applicants__toggle-labelon">On</span>
      </div>
    </div>
  </div>
  <% } %>

  <div id="participants">
    <% if (!user || (model.owner.id !== user.id)) { %>
      <% if (user && _.findWhere(model.volunteers, { userId: user.id })) { %>
        <div id="apply-thanks">
          <h3>Thanks for applying</h3>
          <div>We’ll email you with next steps. You can also check your profile for status updates.</div>
          <a href="javascript:void(0);" id="apply-cancel">Cancel your application</a>
        </div>
      <% } else if (model.acceptingApplicants) { %>
        <a href="javascript:void(0);" id="apply" class="usa-button-big usa-button-primary"><span class="box-icon-text">Apply</span></a>
      <% } %>
    <% } %>

    <% if (model.volunteers) { %>
      <h3>Assigned Participants</h3>
      <div class="assigned-participants-wrapper project-people__wrapper">
        <% if (_.contains(['draft', 'submitted'], state.value)) { %>
          <p class="project-people__not-available">Not available</p>
        <% } else { %>
          <% if (_.where(model.volunteers, { assigned: true }).length > 0) { %>
            <% _.each(_.where(model.volunteers, { assigned: true }), function (v) { %>
              <div class="project-people-show-div" data-userid="<%- v.userId %>" data-voluserid="<%- v.userId %>">
                <img src="/api/user/photo/<%- v.userId %>" alt="<%- v.name %>" class="project-people" />
                <label class="project-people-show-label"><%- v.name %></label>
                <% if (model.canEditTask) { %>
                  <button class="project-people__remove" data-volunteerid="<%- v.id %>" data-behavior="remove">
                    <span class="usajobs-assistive-text">Remove participant</span>
                  </button>
                <% } %>
              </div>
            <% }); %>
          <% } else { %>
            <p class="project-people__assign-instruction">
              <% if (model.volunteers.length > 0) { %>
                <% if (model.canEditTask) { %>
                  Click
                  <button class="project-people__assign-empty" data-behavior="">
                    <span class="usajobs-assistive-text">Assign participant</span>
                  </button>
                  to assign participants
                <% } else { %>
                  None assigned
                <% } %>
              <% } else { %>
                <p class="project-people__not-available">None applied</p>
              <% } %>
            </p>
          <% } %>
        <% } %>
      </div>

      <% if (model.canEditTask) { %>
        <a href="javascript:void(0);" id="nextstep" class="usa-button-big usa-button-primary <% if (_.where(model.volunteers, { assigned: true }).length < 1) { %>disabled<% } %>"><span class="box-icon-text">Next step</span></a>
        <a href="javascript:void(0);" id="complete" class="usa-button-big usa-button-primary disabled"><span class="box-icon-text">Complete opportunity</span></a>
      <% } %>

      <h3>Applicants</h3>
      <div class="project-people__wrapper">
        <% if (_.contains(['draft', 'submitted'], state.value)) { %>
          <p class="project-people__not-available">Not available</p>
        <% } else { %>
          <% if (model.volunteers.length > 0) { %>
            <% _.each(_.where(model.volunteers, { assigned: false }), function (v) { %>
              <div class="project-people-show-div" data-userid="<%- v.userId %>" data-voluserid="<%- v.userId %>">
                <img src="/api/user/photo/<%- v.userId %>" alt="<%- v.name %>" class="project-people" />
                <label class="project-people-show-label"><%- v.name %></label>
                <% if (model.canEditTask) { %>
                  <button class="project-people__assign" data-volunteerid="<%- v.id %>" data-behavior="assign">
                    <span class="usajobs-assistive-text">Assign participant</span>
                  </button>
                <% } %>
              </div>
            <% }); %>
          <% } else { %>
            <p class="project-people__not-available">None applied</p>
          <% } %>
        <% } %>
      </div>
    <% } %>
  </div>

  <% if (model.canEditTask) { %>
    <a class="usajobs-open-opps-opportunity__cancel" href="javascript:void();">Cancel this opportunity</a>
  <% } %>
</div>
