<section class="usajobs-canvas">
  <div class="usajobs-content-gutter">
    <div class="usa-alert usajobs-alert usajobs-alert--error" role="alert" data-object="alert"  id="alert-closed" style="<% if (model.state != 'closed') { %>display: none;<% } %>">
      <div class="usajobs-alert__figure">
        <div class="usajobs-alert__icon">
        </div>
      </div>
      <div class="usajobs-alert__body">
        <p class="usa-alert-text">
          This <span data-i18n="task">opportunity</span> is <strong>closed</strong>.  It is no longer active, and no more modifications may be made.
        </p>
      </div>
      <% if (alert.dismiss) { %>
      <button class="usajobs-alert__close" data-behavior="alert.close">
        <span class="usajobs-assistive-text">Close</span>
      </button>
      <% } %>
    </div>
    <div class="edit-task-container edit-task-section"></div>



    <main class="main-content usajobs-content-well" id="main-content" aria-label="Opportunity">
      <div class="usajobs-open-opps-opportunity usajobs-open-opps-section usajobs-open-opps-profile">
        <div class="usajobs-grid-full">
          <div class="usajobs-width-five-sixths">
            <h1 class="usajobs-open-opps-opportunity-item__title"><%- model.title %></h1>
            <span class="usajobs-pill--opportunity-status opportunity-page status-<%- state.value %>"><%- state.humanReadable %></span>
            <% if (madlibTags['skill']) { %>
            <div class="py1">
              <% _.each(madlibTags['skill'], function (t) { %>
                <a class="px2 bg-yellow black rounded" href="/tasks?search=<%= t.name %>"><%= t.name %></a>
              <% }) %>
            </div>
            <% } %>
          </div>

          <div class="usajobs-width-one-sixth">
          <% if (user) { %>
            <div class="center" data-userid="<%- model.userId %>">
          <% } else { %>
            <div class="center">
          <% } %>
              <img class="circle" width="50" src="/api/user/photo/<%- model.userId %>" alt="Profile pic of <%- model.owner.name %>"/>
              <p>Posted by</p>
              <div><%- model.owner.name %></div>
              <div><%- model.publishedAt ? moment(model.publishedAt).format('MM/DD/YY') : '-/-/-' %></div>
          <% if (user) { %>
            </div>
          <% } else { %>
            </div>
          <% } %>
          </div>
        </div>

        <div class="usajobs-grid-full">
          <div class="usajobs-opop-task-tags usajobs-width-two-thirds">
            <% _.each(tags, function (t) { %>
              <a class="skill-label" href="/tasks?search=<%= t.name %>"><%= t.name %></a>
            <% }) %>
          </div>

          <div class="usajobs-opop-actions usajobs-opop-actions--v1-5 usajobs-width-one-third">
            <div class="usajobs-opop-actions__col-sub-actions usajobs-opop-actions--v1-5__col-sub-actions">
              <a class="usajobs-opop-actions__duplicate" href="#duplicate"><i class="fa fa-copy"></i> Duplicate</a>
              <a class="usajobs-opop-actions__save" href="#save" data-behavior="opop-actions.toggle-save" data-state="is-unsaved"><i class="fa fa-bookmark"></i> Save</a>
              <a class="usajobs-opop-actions__share usajobs-opop-actions-share" href="#" id="email"><i class="fa fa-share-alt"></i> Share</a>
            </div>
          </div>
        </div>
      </div>


      <div class="usajobs-open-opps-opportunity usajobs-open-opps-profile">
        <div class="usajobs-grid-full">
          <div class="usa-width-two-thirds">
            <div class="usajobs-open-opps-opportunity__desc">
              <%= model.descriptionHtml %>
            </div>
          </div>
          <div class="usa-width-one-third">
            <div class="usajobs-opop__task-intro">
              <h4>Personnel Needed</h4>
              <div>
                <% if (madlibTags['task-people']) { %>
                  <%= madlibTags['task-people'][0].name %>
                <% } else { %>
                  None
                <% } %>
              </div>
              <h4>Time Commitment</h4>
              <div>
                <% if (madlibTags['task-time-required']) { %>
                  <%= madlibTags['task-time-required'][0].name %>
                <% } %>
                <% if (madlibTags['task-time-estimate'] &&
                      !(madlibTags['task-time-required'] && madlibTags['task-time-required'][0].name === 'Full Time Detail')) { %>
                  &mdash;
                  <%- madlibTags['task-time-estimate'][0].name %>
                <% } %>
                <% if (madlibTags['task-time-required'] && madlibTags['task-length']) { %>
                  <% if (madlibTags['task-time-required'][0].name === "Ongoing") { %>
                    <%- madlibTags['task-length'][0].name.toLowerCase() %>
                  <% } %>
                <% } %>
              </div>
              <% if (model.completedBy) { %>
              <h4>Target Date</h4>
              <div>
                  <%= moment(model.completedBy).format('ddd, MMM D, YYYY') %>
              </div>
              <% } %>
              <h4>Duty Location</h4>
              <div>
                <% if (madlibTags.location) { %>
                  <% _.each(madlibTags.location, function (s, i) { %>
                    <% if (i > 0) { %>, <% } %><%- s.name %>
                  <% }) %>
                <% } else { %>
                  Anywhere
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="usajobs-open-opps-opportunity usajobs-open-opps-profile">
        <div class="comment-list-wrapper">
          <% if (user) { %>
          <button class="file-add new-topic" id="project-topic-new">New Topic</button>
          <% } %>
          <div class="topic-form-wrapper"></div>
          <ul id="comment-list-null"></ul>
        </div>
        <div class="usajobs-grid-full">
          <div class="usajobs-width-one-whole"></div>
        </div>
      </div>
    </main>

    <aside class="usajobs-rightrail" id="rightrail">
      <div class="usajobs-open-opps-opportunity usajobs-open-opps-section usajobs-open-opps-profile">
        <h3>Progress</h3>
        <div class="usajobs-open-opps-opportunity-progress__step">
          <div class="usajobs-open-opps-opportunity-progress__assigned">
            <span class="usajobs-assistive-text">Assigned</span>
          </div>
          <label class="progress-label">Assigned</label>
        </div>

        <span class="progress-spacer"></span>

        <div class="usajobs-open-opps-opportunity-progress__step">
          <div class="usajobs-open-opps-opportunity-progress__in-progress">
            <span class="usajobs-assistive-text">In progress</span>
          </div>
          <label class="progress-label">In progress</label>
        </div>

        <span class="progress-spacer"></span>

        <div class="usajobs-open-opps-opportunity-progress__step">
          <div class="usajobs-open-opps-opportunity-progress__completed">
            <span class="usajobs-assistive-text">Completed</span>
          </div>
          <label class="progress-label">Completed</label>
        </div>

        <div class="continue-accepting-applicants">
          <a href="javascript:void(0);" class="continue-accepting-applicants__toggle">
            <span class="continue-accepting-applicants__label">Continue accepting applicants</span>
            <div class="continue-accepting-applicants__toggle-container">
              <span class="continue-accepting-applicants__toggle-labeloff">Off</span>
              <span class="continue-accepting-applicants__toggle-labelon">On</span>
            </div>
          </a>
        </div>


        <% if (model.volunteers) { %>
          <div>
            <h3>Assigned Participants</h3>
            <div class="assigned-participants-wrapper">
              <p class="project-people__assign-instruction">
                Click
                <button class="project-people__assign-empty" data-behavior="">
                  <span class="usajobs-assistive-text">Assign participant</span>
                </button>
                 to assign participants
              </p>
              <a href="javascript:void(0);" id="nextstep" class="usa-button-big usa-button-primary disabled"><span class="box-icon-text" data-i18n="taskPage.nextStep">Next step</span></a>
            </div>

            <h3>Applicants</h3>
            <div class="project-people__wrapper">
            <% if (model.volunteers.length > 0) { %>
              <% _.each(model.volunteers, function (v) { %>
                <% if (user) { %>
                  <div class="project-people-show-div" data-userid="<%- v.userId %>" data-voluserid="<%- v.userId %>">
                <% } else { %>
                  <div style="width: 70px; position: relative; display: inline-block; text-align: center; padding: 0 3px;">
                <% } %>
                <img src="/api/user/photo/<%- v.userId %>" alt="<%- v.name %>" class="project-people" />
                <label class="project-people-show-label"><%- v.name %></label>
                <button class="project-people__assign" data-behavior="participant.assign">
                  <span class="usajobs-assistive-text">Assign participant</span>
                </button>
              </div>
              <% }); %>
            <% } else { %>
              None assigned
            <% } %>
              <a class="usajobs-open-opps-opportunity__cancel" href="javascript:void();">Cancel this opportunity</a>
            </div>
          </div>
        </div>
      <% } %>
      </div>
    </aside>

  </div>
</section>
