<p>In order to introduce you as part of the sign up process, we would like to fill in your profile. Please enter your name:</p>
<div class="form-group">
  <input type="text" class="form-control validate" id="update-name-field" name="update-name-field" placeholder="Full Name" data-validate="empty,html">
  <span class="help-block error-empty" style="display:none;">Please enter your full name.</span>
  <span class="help-block error-html" style="display:none;">The special characters '<' or '>' are not allowed</span>
</div>
