.hide {
  display: none;
}

.usajobs-search-tab-bar {
  // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 6.4rem;
  background-color: #323a45;
  border-top: 2.2px solid #ffffff;
  z-index: 1000;
}

.usajobs-search-tab-bar::after {
  clear: both;
  content: "";
  display: block;
}

@media screen and (min-width: 62em) {
  .usajobs-search-tab-bar, .usajobs-search-filter-nav {
    display: none;
  }

  #title, .navigation, #footer, #task-filters, .find-people {
    display: block !important;
  }
}

/*CUSTOM*/
@media screen and (max-width: 61.9999em) {
  #footer, #task-filters {
    display: none;
  }

  .edit-view-container {
    display: block !important;
  }
}

.usajobs-search-tab-bar__body, .usajobs-search-tab-bar__filter-controls {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: flex-start;
  -moz-align-content: flex-start;
  align-content: flex-start;
  -ms-flex-line-pack: start;
  text-rendering: optimizeSpeed;
}

.usajobs-search-tab-bar__filters-default {
  width: 100%;
}

.usajobs-search-tab-bar__body[aria-hidden=true], .usajobs-search-tab-bar__filter-controls[aria-hidden=true],
.usajobs-search-tab-bar__filters-default[aria-hidden=true] {
  display: none;
}

.usajobs-search-tab-bar__body .usajobs-search-tab-bar__link {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 1 auto;
  -moz-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  display: inline-block;
  width: 100%;
  padding: 0 1.5rem 0 1.5rem;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}

.usajobs-search-tab-bar__filters-default > span{
  vertical-align: middle;
}

.usajobs-search-tab-bar__body .usajobs-search-tab-bar__link:visited {
  color: #ffffff;
  text-decoration: none;
}

.usajobs-search-tab-bar__body .usajobs-search-tab-bar__link[aria-expanded=true], .usajobs-search-tab-bar__body .usajobs-search-tab-bar__link[aria-expanded=true]:visited {
  background-color: #d6d7d9;
  color: #212121;
  height: 6.4rem;
}

.usajobs-search-tab-bar__body .usajobs-search-tab-bar__link .fa {
  display: block;
  padding: 0.5rem;
}

.usajobs-search-tab-bar__filters {
  position: relative;
}

.usajobs-search-tab-bar__filter-count-container {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #fdb81e;
  box-shadow: 0 0 0 2px none inset;
  color: #212121;
}

.usajobs-search-tab-bar__filter-count-container[aria-hidden=true],
.usajobs-search-filter-nav[aria-hidden=true] {
  display: none;
}

.usajobs-search-tab-bar__filter-count {
  font-size: 1.7rem;
  font-weight: 600;
  margin-top: -.1rem;
}

.usajobs-filter {
  font-size: 1.9rem;
  margin-right: 1rem;
  margin-left: .3rem;
}

.usajobs-search-tab-bar__filters-expanded {
  display: none;
  width: 100%;
  background-color: #0071bc;
  color: #fff;
  font-weight: bold;
  height: 4.4rem;
}

.usajobs-search-tab-bar__filters-expanded[aria-expanded=true]{
  display: inline-block;
}

.usajobs-search-tab-bar__filters-expanded[aria-expanded=false]{
  .usajobs-search-filter-nav {
    display: none;
  }
}

.usajobs-search-tab-bar__filter-controls .usa-button.usa-button-outline,
.usajobs-search-tab-bar__filter-controls .usa-button {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 1 auto;
  -moz-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 100%;
}

@media screen and (min-width: 48em) {
  .usajobs-search-filters {
    margin-top: 1.5rem;
    background-color: inherit;
  }
}

@media screen and (max-width: 61.999em) {
.usajobs-search-filter-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
}

@media screen and (min-width: 62em) {
  .usajobs-search-filters {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 61.999em) {
  .usajobs-search-filters {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 900;
      height: 100%;
      visibility: hidden;
      background-color: #fff;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all .3s;
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-transform: translate3d(0,100%,0);
      -moz-transform: translate3d(0,100%,0);
      -ms-transform: translate3d(0,100%,0);
      -o-transform: translate3d(0,100%,0);
      transform: translate3d(0,100%,0);
  }

  .usajobs-search-filters__container {
    margin-top: 5rem;

    h3 {
      display: none;
    }

    .usajobs-opop-section__help {
      margin: -1.5rem -1.5rem 0;
    }
  }
}

.usajobs-search-filters__container {
  position: relative;
}

@media screen and (min-width: 62em) {
  .usajobs-search-filters__container {
    height: 100%;
    z-index: 5;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
  }
  .usajobs-search-filters__container[aria-hidden=true] {
    -webkit-transform: translate3d(0, 0.7rem, 0);
    -moz-transform: translate3d(0, 0.7rem, 0);
    -ms-transform: translate3d(0, 0.7rem, 0);
    -o-transform: translate3d(0, 0.7rem, 0);
    transform: translate3d(0, 0.7rem, 0);
  }
}

.usajobs-search-filters__section-title, .usajobs-search-filters__section-sub-title {
  padding: 0 1.5rem;
}

@media screen and (min-width: 62em) {
  .usajobs-search-filters__section-title, .usajobs-search-filters__section-sub-title {
    display: none;
  }
}

.usajobs-search-filter-nav {
  background-color: #112e51;

}

.usajobs-search-filter-nav::after {
  clear: both;
  content: "";
  display: block;
}


.usajobs-search-filter-nav__body, .usajobs-search-save-nav__body {
  font-family: "Source Sans Pro","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: .5rem;
  margin-top: 1.5rem;
  font-size: 19px;
  font-size: 1.9rem;
  display: block;
  margin: 0;
  padding: 1rem 1.5rem;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.usajobs-search-filter-nav__back:visited, .usajobs-search-filter-nav__back:active,
.usajobs-search-filter-nav__back:hover, .usajobs-search-filter-nav__header-back:visited,
.usajobs-search-filter-nav__header-back:active, .usajobs-search-filter-nav__header-back:hover,
.usajobs-search-save-nav__header-back:visited,
.usajobs-search-save-nav__header-back:active, .usajobs-search-save-nav__header-back:hover {
    color: #ffffff;
    text-decoration: none;
}
.usajobs-search-filter-nav__back {
    float: right;
}
.usajobs-search-filter-nav__back, .usajobs-search-filter-nav__header-back,
.usajobs-search-save-nav__header-back {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

.fa.fa-w-12 {
  width: .75em;
}

.fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -.125em;
}

.usajobs-search-filter-nav__results {
  font-weight: normal;
}
