<% for (var i = 0; i < tags.length; i++) { %>
  <div class="tag-title <%- tags[i]['class'] %>" id="<%- tags[i].id %>">
    <h2>
      <% if (showTags) { %><i class="<%- tags[i].icon %>"></i> <span><% } %>
      <%- tags[i].profileEdit %>
      <% if (showTags) { %></span><% } %>
      <span class="usajobs-form__legend"><span class="usa-input-optional"></span></span>
    </h2>
    <% if ((data.isOwner || data.canEditProfile) && edit) { %>
      <div>
        <input type="text" id="tag_<%- tags[i].id.toLowerCase() %>" class="fullwidth" name="tag_<%- tags[i].name.toLowerCase() %>"/>
      </div>
    <% } %>
  </div>
<% } %>
