<h3>Discussion</h3>
<div class="comment-spinner center">
  Loading discussion... <i class="fa fa-spinner fa-spin"></i>
</div>
<div id="comment-form-target" class="usajobs-grid-full"></div>
<div class="usajobs-grid-full">
  <ul id="comment-list" class="usajobs-width-one-whole">
    <% if ( user ) { %>
    <li class="comment-item" id="comment-empty" style="display:none;">
      No discussion yet.  Start one!
    </li>
    <% } else { %>
    <li class="comment-item clearfix border-left box-pad-lr" id="comment-empty" style="display:none;">
      Sign in to start the discussion!
    </li>
    <% } %>
  </ul>
</div>
<div class="topic-form-wrapper"></div>
