<section class="usajobs-canvas">
  <div class="usajobs-content-gutter">
    <main class="main-content usajobs-content-well" id="main-content" aria-label="Opportunity">
      <div class="usajobs-open-opps-opportunity usajobs-open-opps-section usajobs-open-opps-profile">
        <h1 class="usajobs-form__title">Edit opportunity <span class="usajobs-form__legend">All fields are required unless otherwise noted</span></h1>
        <form id="task-edit-form" class="usa-form-xl" action="">
          <fieldset class="usajobs-fieldset">
            <div class="tips">
              First time creating an opportunity? Read our
              <a href="http://www.digitalgov.gov/resources/open-opportunities-task-creator-toolkit/10-tips-for-creating-the-perfect-open-opportunity-task/"
                target="_blank">
                10 Tips for Creating the Perfect Open Opportunity</a>.
            </div>
          </fieldset>
          <fieldset id="step-1" class="usajobs-fieldset">
            <h2>Step 1 - Define who, when, and where</h2>
            <div class="form-group">
              <label for="time-required">
                <h3>What type of effort is needed?</h3>
              </label>
              <ul class="usa-unstyled-list__radio">
                <% _.each(tagTypes['task-time-required'], function (t) { %>
                  <li>
                    <% var selected = madlibTags['task-time-required'] && (madlibTags['task-time-required'][0].id == t.id); %>
                      <input id="<%- t.id %>" type="radio" name="task-time-required" value="<%- t.id %>" data-descr="<%- t.name %>"
                      <% if (selected) { %>checked<% } %> />
                        <label for="<%- t.id %>">
                          <%- t.name %>
                            <% if (t.description) { %> &mdash;
                              <%= t.description %>
                                <% } %>
                        </label>
                  </li>
                  <% }); %>
              </ul>
              <% if ( agency ) { %>
                <input type="checkbox" id="task-restrict-agency" name="task-restrict-agency" value="task-restrict-agency" <% if (agency.projectNetwork ) { %> checked="checked" <% } %> >
                <label for="task-restrict-agency"> Limit Participation to <%- agency.abbr %> Employees</label>
              <% } %>
            </div>
            <div class="form-group" id="time-options-time-required">
              <label for="time-estimate">
                <h3>How much time is needed?</h3>
              </label>
              <select id="time-estimate" class="dropdown">
                <% _.each(tagTypes['task-time-estimate'], function (t) { %>
                  <% var selected = madlibTags['task-time-estimate'] && (madlibTags['task-time-estimate'][0].id == t.id); %>
                  <option value=<%- t.id %> <% if (selected) { %>selected<% } %>><%- t.name %></option>
                <% }); %>
              </select>
            </div>
            <div class="form-group" id="time-options-completion-date">
              <label for="estimated-completion-date">Estimated completion date (optional)</label>
              <input id="estimated-completion-date" type="date" <% if (data.completedBy) { %> value="<%- moment(data.completedBy).format('YYYY-MM-DD') %>" <% } %> >
            </div>
            <div class="form-group" id="time-options-time-frequency">
              <label for="js-time-frequency-estimate">How often is this time needed?</label>
              <select id="js-time-frequency-estimate" class="dropdown">
                <% _.each(tagTypes['task-length'], function (timeEstimate) { %>
                  <option value="<%- timeEstimate.id %>"><%- timeEstimate.name %></option>
                <% }); %>
              </select>
            </div>
            <div class="form-group">
              <label for="participant-location">
                <h3>Where can participants be located?</h3>
              </label>
              <ul class="usa-unstyled-list__radio">
                <li>
                    <% var somewhere = madlibTags['location']; %>
                    <input type="radio" name="participant-location" id="anywhere" value="anywhere" <% if (_.isUndefined(somewhere)) { %> checked <% } %> />
                    <label for="anywhere">Anywhere</label>
                </li>
                <li>
                  <input type="radio" name="participant-location" id="specific-location" value="specific-location" <% if (somewhere) { %> checked <% } %> />
                  <label for="specific-location">At specific locations</label>
                </li>
              </ul>
              <input type="hidden" id="task_tag_location" name="location" />
            </div>
            <div class="form-group">
              <label for="people">How many people are needed?</label>
              <select id="people" class="dropdown">
                <% _.each(tagTypes['task-people'], function (t) { %>
                  <% var selected = madlibTags['task-people'] && (madlibTags['task-people'][0].id == t.id); %>
                    <option value=<%- t.id %>
                      <% if (selected) { %>selected<% } %>>
                          <%- t.name %>
                    </option>
                    <% }); %>
              </select>
            </div>
          </fieldset>
          <fieldset id="step-2" class="usajobs-fieldset">
            <h2>Step 2 - Create a headline</h2>
            <div id="headline"></div>
            <div class="required-input">
              <h3>Headline</h3>
              <span class="field-validation-error error-empty" style="display:none;">You must enter headline for this opportunity.</span>
              <span class="field-validation-error error-count99" style="display:none;">The short description of the problem must be less than 100 characters.</span>
              <span class="field-validation-error error-html" style="display:none;">The special characters '
                < ' or '>' are not allowed</span>
              <p>Write a catchy, but descriptive title. Include a specific skill or outcome to entices participants to click
                on the opportunity.</p>
              <input type="text" id="task-title" class="fullwidth form-control validate" value="<%- data.title %>" data-validate="empty,count99,html" />
              <p class="usajobs-form__help-brief">Maximum of 100 characters</p>
            </div>
            <aside class="tips-left" id="tag_headline">
                <h4>Headline examples</h4>
                <p>"Team up to Produce a Set of Videos About the Nat'l Networking for Manufactoring Innovation"</p>
                <p>"Let your inner "Data Detective" Out and Get to Know Arizona"</p>
              </aside>
          </fieldset>
          <fieldset id="step-3" class="usajobs-fieldset">
            <h2>Step 3 - Describe the opportunity</h2>
            <div id="description"></div>
            <div class="required-input">
              <h3>Description</h3>
              <span class="field-validation-error error-empty" style="display:none;">You must enter a description for this opportunity.</span>
              <span class="field-validation-error error-html" style="display:none;">The special characters '
                < ' or '>' are not allowed.</span>
              <p>Describe the opportunity. Include what people will do, the expected outcome and how their work will make an
                impact. Recommend 200 words or less.</p>
              <span class="show-markdown"></span>
              <div class="markdown-edit"></div>
            </div>
            <aside id="tag_description" class="tips-left">
              <h4>The description should answer:</h4>
              <ul>
                <li>Why is this work important?</li>
                <li>Who will benefit from this work?</li>
                <li>How does this work fit into the bigger picture?</li>
                <li>What does success look like?</li>
              </ul>
            </aside>
            <label for="skills">
              <div id="tags"></div>
              <h3 class="usajobs-form__title">Tags <span class="usajobs-form__legend"><span class="usa-input-optional"></span></span></h3>
              <span>Use keywords to describe the opportunity, such as the career or focus area, skills and mission of work.</span>
            </label>
            <input type="hidden" id="task_tag_skills" name="skills" class="fullwidth" />
            <p class="usajobs-form__help-brief">Put a comma between each one. Example: Cyber Security, Research, employee engagement.</p>
            <aside id="tag_tags" class="tips-left">
              <h4>What are tags?</h4>
              <p>Tags are keywords you can add to help describe an opportunity. Tags are also useful for searching topic and
                interests.
              </p>
            </aside>
          </fieldset>
          <fieldset id="step-4" class="usajobs-fieldset">
            <h2>Step 4 - Submit for review</h2>
            <div id="review"></div>
            <p>Once you submit your opportunity, we'll review it. We'll email within two business days with recommended edits
                or approval.</p>
            <div class="usajobs-button_bar task-footer">
                <button class="usa-button usa-button-secondary" id="task-view">Discard Changes</button>
                <% if (data.state === 'draft') { %>
                  <button class="usa-button usa-button-primary draft-button" data-state="save">Save as draft</button>
                  <button class="usa-button usa-button-primary draft-button" data-state="submit">Submit for review</button>
                <% } else { %>
                  <button type="submit" class="usa-button usa-button-primary" data-state="submit">Save</button>
                <% } %>
            </div>
            <aside id="tag_review" class="tips-left">
              <h4>What happens next?</h4>
              <p>Please see the
                <a href="http://www.digitalgov.gov/resources/open-opportunities-task-creator-toolkit/" target="_blank">Task creator toolkit</a>.</p>
            </aside>
            <!-- <% if ( 'draft' === data.state ) { %>
              <div class="create__success-message js-success-message">
                <div class="success-message__head">
                  <span class="fa fa-check-circle"></span>
                </div>
                <div class="success-message__body">
                  <h4>Saved</h4>
                  <p>
                    Your draft has been saved. You can find your draft
                    <a class="js-profile-link" target="_blank" href="/profile/<%= data.userId %>"> on your profile page</a>.
                  </p>
                </div>

                <% } %>
              </div> -->
          </fieldset>
        </form>
      </div>
    </main>
  </div>
</section>
