<section class="usajobs-canvas">
  <div class="usajobs-content-gutter opportunity-gutter">
    <main class="main-content usajobs-content-well" id="main-content" aria-label="Opportunity">
      <div class="usajobs-open-opps-opportunity usajobs-open-opps-section usajobs-open-opps-profile">
        <h1 class="usajobs-form__title"><% if(data.id) { %>Edit<% } else {%>Create an<% } %> opportunity <span class="usajobs-form__legend">All fields are required unless otherwise noted</span></h1>
        <form id="task-edit-form" class="usa-form-xl" action="javascript:void(0)">
          <fieldset class="usajobs-fieldset">
            <div class="tips">
              First time creating an opportunity? Read our
              <a href="https://usajobs.github.io/openopps-help/getting-started/top-10-tips/"
                target="_blank">
                Top 10 tips for creating an ideal opportunity<span class="sr-only">Opens in a new window</span></a>.
            </div>
          </fieldset>
          <fieldset id="step-1" class="usajobs-fieldset">
            <h2>Step 1 - Define who, when, and where</h2>
            <label for="DefineWho">
              <h3>Who</h3>
            </label>
            <div class="form-group required-input">
              <label for="people" class="no-margin-top">How many people do you need?</label>
              <span class="field-validation-error error-empty" style="display:none;">You must select the number of people needed for this opportunity.</span>
              <select id="people" class="dropdown validate" data-validate="empty">
                <option></option>
                <% _.each(tagTypes['task-people'], function (t) { %>
                  <% var selected = madlibTags['task-people'] && (madlibTags['task-people'][0].id == t.id); %>
                    <option value=<%- t.id %>
                      <% if (selected) { %>selected<% } %>>
                          <%- t.name %>
                    </option>
                    <% }); %>
              </select>
            </div>
            <div class="form-group required-input checkboxes-horizontal-longtitle">
              <label for="CareerField" class="usajobs-profile-question__title">
                Are you looking for someone in a specific career field? <span class="usa-input-optional"></span>
              </label>
              <ul class="usa-unstyled-list" id="career-field">
                <li>
                  <input id="career-field-yes" name="CareerField" type="radio" value="true">
                  <label for="career-field-yes">Yes</label>
                </li>
                <li>
                  <input id="career-field-no" name="CareerField" type="radio" value="false">
                  <label for="career-field-no">No</label>
                </li>
              </ul>
              <label for="opportunity-career-field" class="sr-only">Career field</label>
              <span class="field-validation-error error-empty" style="display:none;">You must select a career field for this opportunity.</span>
              <select id="opportunity-career-field" class="dropdown validate" data-validate="empty">
                <option></option>
                <% _.each(tagTypes['career'], function (t) { %>
                  <% var selected = madlibTags['career'] && (madlibTags['career'][0].id == t.id); %>
                  <option value=<%- t.id %> <% if (selected) { %>selected<% } %>><%- t.name %></option>
                <% }); %>
              </select>
            </div>
            <div class="form-group">
              <label for="opportunity-series">Series <span class="usa-input-optional"></span></label>
              <input type="text" class="fullwidth form-control" id="opportunity-series" name="opportunity-series">
            </div>
            <div id="form-group" class="required-input">
              <label for="skills">What skills are you looking for?</label>
              <span class="field-validation-error error-empty" style="display:none;">You must select at least one skill for this opportunity.</span>
              <input type="hidden" id="task_tag_skills" name="skills" class="fullwidth validate" data-validate="empty" />
            </div>
            <label for="DefineWhen">
              <h3>When</h3>
            </label>
            <div class="form-group">
              <label for="time-required" class="no-margin-top">What is the time commitment?</label>
              <ul class="usa-unstyled-list opportunity-options__list">
                  <li>
                    <button type="button" class="opportunity-options__button time-options-time-required" id="one-time" value="One time">
                      <span class="opportunity-options__icon">
                        1
                      </span>
                      <span class="opportunity-options__text">One time</span>
                    </button>
                  </li>
                  <li>
                    <button type="button" class="opportunity-options__button time-options-time-required" id="ongoing" value="Ongoing">
                      <span class="opportunity-options__icon">
                        <i class="fas fa-redo"></i>
                      </span>
                      <span class="opportunity-options__text">Ongoing</span>
                    </button>
                  </li>
                  <li>
                    <button type="button" class="opportunity-options__button time-options-time-required" id="full-time" value="Full Time Detail">
                      <span class="opportunity-options__icon">
                        <i class="fas fa-clock"></i>
                      </span>
                      <span class="opportunity-options__text">Full time detail</span>
                    </button>
                  </li>
              </ul>
              <p class="time-required-description" id="one-time-description"><em>A one time task with a defined timeline</em></p>
              <p class="time-required-description" id="ongoing-description"><em>Requires up to 20% of a participant's work time until goal is reached</em></p>
              <p class="time-required-description" id="full-time-description"><em>Restricted to opportunity creator's agency</em></p>
              <!-- <% if ( agency ) { %> -->
                <input type="checkbox" id="task-restrict-agency" name="task-restrict-agency" value="task-restrict-agency" <% if (data.restrict.projectNetwork ) { %> checked="checked" <% } %> >
                <label for="task-restrict-agency">Limit participation to <%- agency.abbr ? agency.parentAbbr ? agency.parentAbbr : agency.abbr : agency.name %> employees</label>
              <!-- <% } %> -->
            </div>

            <div class="form-group required-input" id="time-options-time-required">
              <label for="time-estimate">How many hours do you need?</label>
              <span class="field-validation-error error-empty" style="display:none;">You must select the number of hours needed for this opportunity.</span>
              <select id="time-estimate" class="dropdown validate" data-validate="empty">
                <option></option>
                <% _.each(tagTypes['task-time-estimate'], function (t) { %>
                  <% var selected = madlibTags['task-time-estimate'] && (madlibTags['task-time-estimate'][0].id == t.id); %>
                  <option value=<%- t.id %> <% if (selected) { %>selected<% } %>><%- t.name %></option>
                <% }); %>
              </select>
            </div>
            <div class="form-group" id="time-options-completion-date">
              <label class="estimated-completion-date-label">What is the estimated due date? <span class="usa-input-optional"></span></label>
              <span class="field-validation-error" style="display:none;" data-valmsg-for="estimated-completion-date" data-valmsg-replace="true">Please enter a valid completion date</span>
              <div class="estimated-completion-date">
                <div class="usa-form-group usa-form-group-month">
                  <label for="estimated-completion-date-1">Month</label>
                  <input class="usa-input-inline" aria-describedby="dateHint" id="estimated-completion-date-1" name="estimated-completion-date-1" type="number" min="1" max="12" <% if (data.completedBy) { %> value="<%- moment(data.completedBy).format('MM') %>" <% } %> >
                </div>
                <div class="usa-form-group usa-form-group-day">
                  <label for="estimated-completion-date-2">Day</label>
                  <input class="usa-input-inline" aria-describedby="dateHint" id="estimated-completion-date-2" name="estimated-completion-date-2" type="number" min="1" max="31" <% if (data.completedBy) { %> value="<%- moment(data.completedBy).format('DD') %>" <% } %> >
                </div>
                <div class="usa-form-group usa-form-group-year">
                  <label for="estimated-completion-date-3">Year</label>
                  <input class="usa-input-inline" aria-describedby="dateHint" id="estimated-completion-date-3" name="estimated-completion-date-3" type="number" min="2008" max="2043" <% if (data.completedBy) { %> value="<%- moment(data.completedBy).format('YYYY') %>" <% } %> >
                </div>
              </div>
              <span class="usajobs-form__help-brief" id="dateHint">For example: 03 09 2018</span>
            </div>
            <div class="form-group required-input" id="time-options-time-frequency">
              <label for="js-time-frequency-estimate">How often do you need this time?</label>
              <span class="field-validation-error error-empty" style="display:none;">You must select how often the time is needed for this opportunity.</span>
              <select id="js-time-frequency-estimate" class="dropdown validate" data-validate="empty">
                <option></option>
                <% _.each(tagTypes['task-length'], function (t) { %>
                  <% var selected = madlibTags['task-length'] && (madlibTags['task-length'][0].id == t.id); %>
                  <option value=<%- t.id %> <% if (selected) { %>selected<% } %>><%- t.name %></option>
                <% }); %>
              </select>
            </div>
            <label for="WhereLocated">
              <h3>Where</h3>
            </label>
            <div class="form-group">
              <label for="time-required" class="no-margin-top">Where can participants be located?</label>
              <ul class="usa-unstyled-list opportunity-options__list">
                <li>
                  <button type="button" class="opportunity-options__button opportunity-location" id="anywhere" value="anywhere">
                    <span class="opportunity-options__icon">
                      <i class="fas fa-tv"></i>
                    </span>
                    <span class="opportunity-options__text">Virtual</span>
                  </button>
                </li>
                <li>
                  <button type="button" class="opportunity-options__button opportunity-location" id="specific-location" value="specific-location">
                    <span class="opportunity-options__icon">
                      <i class="fas fa-users"></i>
                    </span>
                    <span class="opportunity-options__text">In person</span>
                  </button>
                </li>
              </ul>
              <input type="hidden" id="task_tag_location" name="location" />
            </div>
          </fieldset>
          <fieldset id="step-2" class="usajobs-fieldset">
            <h2>Step 2 - Describe the opportunity</h2>
            <div class="required-input" id="headline">
              <label for="task-title">
                <h3>Headline</h3>
              </label>
              <span class="field-validation-error error-empty" style="display:none;">You must enter a headline for this opportunity.</span>
              <span class="field-validation-error error-count100" style="display:none;">The headline must be no more than 100 characters.</span>
              <span class="field-validation-error error-html" style="display:none;">The special characters '
                < ' or '>' are not allowed</span>
              <p>Write a catchy, but descriptive title. Include a specific skill or outcome to entice participants to click
                on the opportunity.</p>
              <input type="text" id="task-title" class="fullwidth form-control validate" value="<%- data.title %>" data-validate="empty,count100,html" />
              <p class="usajobs-form__help-brief">Maximum of 100 characters</p>
            </div>
            <div class="required-input" id="introduction">
              <label for="opportunity-introduction">
                <h3>Introduction</h3>
              </label>
              <span class="field-validation-error error-empty" style="display:none;">You must enter an introduction for this opportunity.</span>
              <span class="field-validation-error error-html" style="display:none;">The special characters '
                < ' or '>' are not allowed.</span>
              <p>Describe the opportunity. Include how their work will make an impact. Recommend 100 words or less.</p>
              <span class="show-markdown-introduction"></span>
              <div class="markdown-edit markdown-edit-introduction"></div>
            </div>
            <div class="required-input" id="details">
              <label for="opportunity-details">
                <h3>What you'll do</h3>
              </label>
              <span class="field-validation-error error-empty" style="display:none;">You must enter details for this opportunity.</span>
              <span class="field-validation-error error-html" style="display:none;">The special characters '
                < ' or '>' are not allowed.</span>
              <p>List specific tasks the participant will work on. Be concise, but offer enough details so the participant
              knows what's involved.</p>
              <span class="show-markdown-details"></span>
              <div class="markdown-edit markdown-edit-details"></div>
            </div>
            <ul class="expandorama">
              <li>
                <label for="opportunity-skills" class="expandorama-button expandorama-button-skills" aria-controls="skills">
                  <!-- <i class="fas fa-minus-circle"></i> -->
                  <h3>What you'll learn <span class="usa-input-optional"></span></h3>
                </label>
                <div class="required-input expandorama-content" id="skills">
                  <span class="field-validation-error error-html" style="display:none;">The special characters '
                    < ' or '>' are not allowed.</span>
                  <p>List the types of skills the participant will learn and other benefits.</p>
                  <span class="show-markdown-skills"></span>
                  <div class="markdown-edit markdown-edit-skills"></div>
                </div>
              </li>
              <li>
                <label for="opportunity-team" class="expandorama-button expandorama-button-team" aria-controls="team">
                  <h3>Who we are <span class="usa-input-optional"></span></h3>
                </label>
                <div class="required-input expandorama-content" id="team">
                  <span class="field-validation-error error-html" style="display:none;">The special characters '
                    < ' or '>' are not allowed.</span>
                  <p>Briefly describe your team, department, or agency.</p>
                  <span class="show-markdown-team"></span>
                  <div class="markdown-edit markdown-edit-team"></div>
                </div>
              </li>
              <li>
                <label for="task_tag_keywords" class="expandorama-button expandorama-button-keywords" aria-controls="keywords">
                  <h3>Related keyword <span class="usa-input-optional"></span></h3>
                </label>
                <div class="required-input expandorama-content" id="keywords">
                  <span class="field-validation-error error-html" style="display:none;">The special characters '
                    < ' or '>' are not allowed.</span>
                  <p>List the keywords to help describe an opportunity.</p>
                  <input type="hidden" id="task_tag_keywords" name="task_tag_keywords" class="fullwidth" />
                </div>
              </li>
            </ul>
          </fieldset>
          <fieldset id="step-3" class="usajobs-fieldset" style="display:none"></fieldset>
          <fieldset class="usajobs-fieldset">
            <div class="usajobs-button_bar--slim task-footer">
              <div class="usajobs-button_bar__body">
                <button class="usa-button usa-button-secondary usa-button-left" data-state="cancel" id="cancel">Cancel</button>
                <button class="usa-button usa-button-secondary usa-button-left" data-state="edit" id="edit" style="display:none">Make changes</button>
                <% if (data.state === 'draft' || data.state === 'canceled') { %>
                  <button class="usa-button usa-button-secondary" data-state="draft">Save for later</button>
                <% } %>
                <button class="usa-button usa-button-primary" data-state="preview" id="preview">Preview</button>
                <% if (_.contains(['draft', 'canceled', 'submitted'], data.state)) { %>
                  <button class="usa-button usa-button-primary" data-state="submit" id="save" style="display:none">Submit</button>
                <% } else { %>
                  <button class="usa-button usa-button-primary" data-state="save" id="save" style="display:none">Save</button>
                <% } %>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </main>
  </div>
</section>
