// Alerts

@import 'media-object';

@mixin alert($color, $icon) {
  background-color: $color;
  border-color: $color;

  &:before {
    content: none;
  }

  .usajobs-alert__icon:after {
    @include icon-content("alerts/#{$icon}", rem(30px), rem(30px));
  }
}

.usajobs-alert {
  @include mediaObject();

  .usa-alert-text {
    max-width: inherit;
  }
}

.usajobs-alert--success {
  @include alert($color-green-dark, 'check');

  .usajobs-alert__icon::after {
    margin-left: -#{$size-default};
  }
}

.usajobs-alert--info {
  @include alert($color-primary-darker, 'info');
}

.usajobs-alert--warning {
  @include alert($color-gold, 'exclamation-yellow');
}

.usajobs-alert--error {
  @include alert($color-secondary-dark, 'exclamation-red');
}

.usajobs-alert--tip {
  @include alert($color-primary-alt-dark, 'lightbulb');

  .usajobs-alert__icon::after {
    margin-left: -0.8rem;
  }

  .usajobs-alert__count {
    margin: 0;
    font-size: $small-font-size;
  }

  .usa-button-primary {
    color: $color-white;
  }
}
