.usajobs-open-opps-opportunity-requestor__figure {
  &.initials-color-1 {
    background: $color-cool-blue-lightest;
    .usajobs-open-opps-opportunity-requestor__initials {
      color: $color-cool-blue;
    }
  }

  &.initials-color-2 {
    background: $color-gold-lightest;
    .usajobs-open-opps-opportunity-requestor__initials {
      color: $color-gray;
    }
  }

  &.initials-color-3 {
    background: $color-secondary-lightest;
    .usajobs-open-opps-opportunity-requestor__initials {
      color: $color-secondary-darkest;
    }
  }

  &.initials-color-4 {
    background: $color-primary-alt-lightest;
    .usajobs-open-opps-opportunity-requestor__initials {
      color:  $color-primary-alt-darkest;
    }
  }

  &.initials-color-5 {
    background: $color-green-lightest;
    .usajobs-open-opps-opportunity-requestor__initials {
      color: $color-gray;
    }
  }
}