// Navigation

@import '../base-shared';

.usajobs-nav-secondary {
  position: relative;
  margin-bottom: $size-M;
  background-color: $color-white;

  &.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: $layer-panel;
    @include boxShadow(2);
  }

  // http://caniuse.com/#feat=css-sticky
  // Long story short, once IE11 supports sticky we can get rid of the is-fixed class
  &[data-behavior=is-fixed-nav] {
    position: sticky;
    z-index: $layer-panel;
  }

  &__body {
    @include outer-container();
    max-width: $site-max-width;
    border-bottom: 1px solid $color-gray-light;

    a {
      // Another override of the base styles just to be certain we don't have
      // underlined links in the nav
      text-decoration: none;
    }
  }

  &__menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
  }

  &__container {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;

    &::before,
    &::after {
      content: none;
    }

    &.is-hidden {
      display: none;
    }
  }

  &__item,
  &__more-toggle {
    display: block;
    padding: $size-S $size-default;
    font-size: $base-font-size;
    line-height: 1;
    color: $color-primary;
    text-align: center;
    text-decoration: none;

    @include media($ML) {
      padding: $size-default $size-M;
    }

    &:visited {
      color: $color-primary;
    }

    &:hover {
      color: $color-primary-darker;
      text-decoration: underline;
    }

    &.is-active,
    &[data-state="is-active"] {
      font-weight: bold;
      color: $color-primary-darkest;
      border-bottom: 3px solid $color-primary-alt-darkest;
    }

    .fa-check {
      color: $color-green;
    }

    .usajobs-icon {
      width: 1.7rem;
      height: 1.7rem;
      color: $color-primary;
    }
  }

  &__more-toggle {
    border-left: 1px solid $color-gray-lighter;
  }

  &__more-container {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    margin: 0;
    background-color: $color-gray-warm-light;
    @include boxShadow(1);
    z-index: 1;

    &[data-state="is-open"] {
      display: block;
    }

    li {
      width: 100%;

      a {
        text-align: left;
        white-space: nowrap;
      }

      a:hover {
        background-color: $color-gray-lighter;
        text-decoration: underline;
      }
    }
  }
}
