/*****************
= Admin Dashboard
******************/

.usajobs-open-opps-admin-dashboard {
  max-width: 154rem;
  min-height: 84rem;
  margin: auto;
  margin-top: 3rem;
  background: #ffffff;
  padding: 1rem 3rem 3rem 3rem;

  @include media($M-down) {
    padding: 1.5rem;
    margin-top: 0;
  }

  hr {
    border-top: 1px solid #212121;
  }

  .box-icon-text {
    margin-left: 0.5rem;
  }

  .overflow-x {
    overflow-x: auto;
  }

  .task-metrics {
    .usajobs-form {
      text-align: right;

      label {
        display: inline-block;
        margin: 0 1rem;
      }

      select {
        display: inline-block;
        width: 21rem;
      }
    }
  }

  .task-metrics-table {
    width: 100%;
    margin: 0;

    :first-child {
      margin-top: 0;
    }

    th {
      font-weight: bold;

      small {
        display: block;
        font-size: 80%;
        font-weight: normal;
      }
    }
  }

  .activity-feed {
    li {
      margin-bottom: 1.5em;
    }
  }

  .agency-details {
    p {
      margin: 0.5rem 0rem;
    }
    a, a:visited {
      color: #0071BA;
    }
  }

  .user-filter {
    input {
      max-width: initial;
    }

    .export-button {
      margin-top: 1rem;

      a, a:visited {
        color: #0071BA;
      }
    }
  }

  .user-table {
    width: 100%;

    th {
      vertical-align: bottom;
    }

    .admin-user-checkbox {
      text-align: center;
    }

    .pull-center {
      text-align: center;
    }

    .icon-spin {
      text-align: center;
    }

    .user-reset {
      cursor: pointer;
    }

    .no-label {
      margin: auto;
      width: 1.8rem;
    }
  }

  .filter.usa-width-one-sixth {
    white-space: nowrap; 
    width: auto;
    margin-right: 3rem;
    

    > label {
      margin-top: 0;
    }

    > a {
      white-space: nowrap; 
    }
  }

  .export-button {

    a, a.visited {
      color: #0071BA;
    }
  }

  .table-responsive {
    overflow-x: auto;
  }

  .task-table {

    width: 100%;

    .metrics-table__label {
      min-width: 15rem;
    }

    .metrics-table__button {
      min-width: 10rem;
    }

    .task-open {
      color: #487E40;
      margin-right: $size-M;
    }

    .delete-task {
      color: #CD2026;
    }

    .task-change-owner {
      margin-right: $size-default;
    }

    .task-change-owner:visited, .task-add-participant:visited {
      color: $color-primary;
    }
  }

  .announcement-description, #announcement-title {
    width: 100%;
    max-width: initial;
  }

  #announcement-title {
    height: 6.5rem;

    @include media($M-down) {
      height: 9rem;
    }
  }

  @include media($SM-down) {
    .usa-button-secondary {
      margin: 0 0 1.5rem 0;
    }
  }

  @media screen and (min-width: 62rem) {
    .usa-width-three-fourths.type {
      text-align: right;
    }
    .usa-width-one-fourth.period {
      float: right;
      text-align: right;
    }
    .task-metrics .usajobs-form .filter, .task-metrics .usajobs-form .group {
      width: 15rem;
    }
  }

  @media screen and (min-width: 1201px) {
    .usa-width-three-fourths.type {
      width: 80.41059%;
      text-align: right;
    }

    .usa-width-one-fourth.period {
      width: 16.23176%;
      text-align: right;
    }
  }
}

.usa-width-three-fourths.type, .usa-width-one-fourth.period {
  white-space: nowrap;
  text-align: left;

  .filter {
    width: 100%;
  }
  
  label {
    width: 5rem;
  }
}
