//OPOP Profile stuff...may need to move

@media screen and (min-width: 37.5em) {
    .usajobs-opop-section__edit {
        top: 1.5rem;
        right: 1.5rem;
      }
    }
    
    .usajobs-opop-section-edit, .usajobs-opop-section-edit a:visited {
        position: absolute;
        top: 3rem;
        right: 3rem;
        text-decoration: none;
        color: #0D71B9;
    }

.usajobs-open-opps-profile h1, .usajobs-open-opps-profile h2 {
    margin-top: 0;
}

.usajobs-open-opps-profile__body {
    // display: flex;
}

.usajobs-open-opps-participated__body {
    @include media($ML) {
        padding: 0 1.5rem 3rem;
    }
}

.task-activity-wrapper {
    margin-bottom: 6rem;
}

.usajobs-open-opps-participated__section {
    padding-top: 1.5rem; 
}
    
@media screen and (min-width: 62em) {
    .usajobs-opop-profile-title {
        width: 31.7615653177%;
        margin-right: auto;
    }
}

@media screen and (min-width: 62em) {
    .usajobs-opop-profile-details {

        margin-right: auto;
        width: 63.5231306354%;
    }
}

@media screen and (min-width: 62em) {
    .profile-name-role {
        margin-top: 3rem;
    }
}

.profile-jobtitle {
    clear: left;
}

.default-user-icon-profile {
    height: 176.67px;	
    width: 176.67px;
}

.usajobs-opop-profile-name {
    display: block;
    float: left;
    color: #212121;
    margin-top: 1.5rem; 
}

.role-label {
    background-color: #FAD980; //TODO: get variables
    color: #212121;
    padding: 0 1rem;
    font-weight: normal;
    font-size: 1.6rem;
    display: block;
    float: left;
    margin-top: 1.2rem;
    margin-left: 1rem;
}

.skill-label {
    background-color: #E7F4E4;  //TODO: get variables
    color: #212121;
    padding: 1rem;
}

.main-content a {
    text-decoration: none;
}

.open-opps-row {
    border-bottom: 0.5px solid #212121;
    @include media($M) {
        padding: $size-default 0;
        text-align: left;
    }
}

.open-opps-row.header {
    font-weight: bold;
}

.open-opps-title, .open-opps-title a,.open-opps-title:visited {
    width: 2.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #006FBB;
}

.emaillink {
    color: #0D71B9;
}


