//OPOP Profile stuff...may need to move

.usajobs-open-opps-opportunity .usajobs-open-opps-profile__body .usajobs-opop-intro-hiring-paths__section-title {
  margin-bottom: $size-SM;
}

.usajobs-open-opps-profile {
    margin-top: $size-M;

    h1, h2 {
        margin-top: 0;
    }
}

@media screen and (min-width: 37.5em) {
    .usajobs-opop-section__edit {
        top: 1.5rem;
        right: 1.5rem;
      }
    }

    .usajobs-opop-section-edit, .usajobs-opop-section-edit a:visited {
        position: absolute;
        top: 3rem;
        right: 3rem;
        text-decoration: none;
        color: #0D71B9;
    }

.usajobs-open-opps-participated__body {
    @include media($ML) {
        padding: 0 $size-M $size-default $size-M;
    }

    h2 {
      margin-bottom: $size-default;
    }
}

.task-activity-wrapper {
    margin-bottom: 6rem;
}

.usajobs-open-opps-participated__section {
    padding-top: 1.5rem;
}

@media screen and (min-width: 62em) {
    .usajobs-opop-profile-title {
        width: 31.7615653177%;
        margin-right: auto;
    }
}

@media screen and (min-width: 62em) {
    .usajobs-opop-profile-details {

        margin-right: auto;
        width: 63.5231306354%;
    }
}

@media screen and (min-width: 62em) {
    .profile-name-role {
        margin-top: 3rem;
    }
}

.profile-jobtitle {
    clear: left;
}

.usajobs-open-opps-opportunity .usajobs-opop-profile-title .default-user-icon-profile {
    height: 15rem;
    width: 15rem;
    margin-top: 1rem;
    background-position: center;
    background-size: contain;
    border-radius: 100%;
}

.usajobs-opop-profile-name {
    display: block;
    float: left;
    color: #212121;
    margin-top: 1.5rem;
}

.role-label {
    background-color: #FAD980; //TODO: get variables
    color: #212121;
    padding: 0 1rem;
    font-weight: normal;
    font-size: 1.6rem;
    display: block;
    float: left;
    margin-top: 1.2rem;
    margin-left: 1rem;
}

.skill-label {
    background-color: #E7F4E4;  //TODO: get variables
    color: #212121;
    padding: 0.8rem 1rem;
    font-size: 1.4rem;
    font-weight: 600;
}

.main-content a {
    text-decoration: none;
}

.open-opps-row {
    border-bottom: 0.5px solid #212121;
    @include media($M) {
        padding: $size-default 0;
        text-align: left;
    }
}

.open-opps-row.header {
    font-weight: bold;
}

.open-opps-title, .open-opps-title a,.open-opps-title:visited {
    width: 2.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #006FBB;
}

.profile-email {
  margin-bottom: $size-M;
}

.emaillink {
    color: #0D71B9;
}

.profile-biography {
  margin-bottom: $size-M;
}

.usajobs-open-opps-opportunity .usajobs-opop-profile-details .profile-share {
  margin-bottom: $size-default;
}

.profile-badges {
    list-style-type: none;
    padding: 0;
  }
  
  .profile-badges::after {
    clear: both;
    content: "";
    display: block;
  }
  
  .profile-badge {
    display: inline-block;
    text-align: center;
    text-transform: capitalize;
    float: left;
    margin-right: 1.5rem;
  
    img {
      min-height: 70px;
      width: 9.2rem;
      height: 9.2rem;
    }
  
    p {
      max-width: 10rem;
      margin-top: 0;
    }
  }

//Markdown edit buttons
.usajobs-open-opps-profile .markdown-edit button {
  margin-right: 0;
  background-color: #dfdfdf;
  color: #505050;
}

.usajobs-open-opps-profile .markdown-edit button:hover {
  margin-right: 0;
  background-color: #505050;
  color: #dfdfdf;
}

.usajobs-open-opps-profile .markdown-edit button.btn-preview {
  margin-right: 0;
  background-color: #dd361a;
  color: #fff;
}

.usajobs-open-opps-profile .markdown-edit textarea#bio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0.1rem solid #5b616b;
  border-radius: 0;
  box-sizing: border-box;
  color: #212121;
  display: block;
  font-size: 1.7rem;
  line-height: 1.3;
  margin: 0.2em 0;
  max-width: 46rem;
  padding: 1rem 0.7em;
  width: 100%;
}

.usajobs-open-opps-profile .usajobs-fieldset h2 {
  margin-top: $size-M;
}

.usajobs-open-opps-profile .usajobs-fieldset h2.acct-info {
  margin-top: $size-XL;
}

.usajobs-button_bar--slim, .usajobs-button-bar--slim {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin: 3rem 0 6rem;
    border-top: 1px solid #d6d7d9;
}

.usajobs-button_bar__body, .usajobs-button-bar__body {
    max-width: 160rem;
    margin: 0 auto;
    padding: 3rem;
}

.usajobs-button_bar__body .usa-button, .usajobs-button_bar__body .usa-button-big, .usajobs-button-bar__body .usa-button, .usajobs-button-bar__body .usa-button-big {
    margin: 0;
}

.usajobs-button_bar--slim .usajobs-button_bar__body, .usajobs-button_bar--slim .usajobs-button-bar__body, .usajobs-button-bar--slim .usajobs-button_bar__body, .usajobs-button-bar--slim .usajobs-button-bar__body {
    padding-left: 0;
    padding-right: 0;
}

form [type=submit], form [type=submit] {
    display: initial;
}

//skills

.skills-interests {
  position: relative;
}

.skill-aside p {
  background-color: #e1f3f8;
  width: 32rem;
  padding: $size-S $size-default;
  margin-right: $size-default;
  position: absolute;
  left: calc(100% + 19rem);

  &.skills {
    top: 7rem;
  }

  &.interests {
    top: 24.5rem;
  }
}

