.tips {
    background-color: #e1f3f8;
    padding: 1rem 1.5rem;
    margin-top: 0;
    margin-right: 1.5rem;   
}

.tips-left {
    @extend .tips;
    width: 32rem;
    left: calc(50% + 15rem);
    position: absolute;
}

.usa-form-xl, .usa-form-xl label {
    max-width: 56rem;
}

