
@import 'base-shared';
@import 'card';

.usajobs-open-opps-opportunity {
  position: relative;
  box-shadow: -7px 0 3px -3px rgba(0, 0, 0, 0.12), -3px 0 2px -2px rgba(0, 0, 0, 0.24);

  @include card-v4();

  @include media($M) {
    margin: 0 0 $size-default;
  }

  @include media($L) {
    padding: $size-default;
  }

  h3 {
    margin-top: 0;
  }

  &__body {
    padding-bottom: 8.1rem;
  }

  & &__title {
    @include h3();
    display: block;
    margin: 0;
    font-weight: bold;
    color: $color-primary;
    line-height: 1;
    text-decoration: none;
    overflow-wrap: break-word; // This prevents whack titles from breaking the card
  }

  &-item__header {
    min-height: 17rem;
  }

  &-item__title {
    line-height: 1;
  }

  & &__desc {
    margin: $size-base 0;

    @include media($ML) {
      margin: $size-S 0;
    }
  }

  & &__agency-only {
    margin-top: 0;
    font-weight: bold;
    font-style: italic;

    @include media($ML) {
      margin: $size-S 0 $size-default;
    }
  }

  &__details {
    @include unstyledList();
  }

  &__detail-item {
    color: $color-gray;
  }

  .usajobs-pill--opportunity-status.opportunity-page {
    margin: $size-M auto;
    display: inline-block;
    width: 12rem;
  }

  &::after {
    clear: both;
    content: "";
    display: block;
    box-shadow: 7px 0 3px -3px rgba(0, 0, 0, 0.12), 3px 0 2px -2px rgba(0, 0, 0, 0.24);
  }

  .center {
    text-align: center;
    padding-top: 8px;

    .circle {
      width: 6.5rem;
      height: 6.5rem;
      border-radius: 50%;
    }

    p {
      font-size: 1.4rem;
      line-height: 1;
      margin: 0.5rem 0;
    }
  }

  .skill-label {
    margin: 0 0.5rem 0.8rem 0;
    display: inline-block;
  }

  .usajobs-opop-actions__col-sub-actions {
    text-align: right;

    a {
      margin-right: $size-default;
    }

    :last-child {
      margin-right: 0;
    }
  }

  .usajobs-opop__task-intro {
    display: inline-block;
    float: right;
    padding: 1.5rem;
    padding-top: 0;
    background-color: $color-cool-blue-lightest;
  }

  .comment-list-wrapper {

    h3 {
      margin-top: 0;
      margin-bottom: $size-S;
    }

    blockquote {
      padding: 10px 20px;
      margin: 0 0 20px;
      font-size: 1.7rem;
      border-left: 5px solid $color-gray-lighter;
      background-color: $color-gray-lightest;

      blockquote {
        border-color: $color-gray-light;
        background-color: $color-gray-lighter;
      }
    }

    .comment-form-container {
      position: relative;

      div.comment-input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 0.1rem solid #5b616b;
        border-radius: 0;
        box-sizing: border-box;
        color: #212121;
        display: block;
        font-size: 1.7rem;
        min-height: 4.4rem;
        height: auto;
        line-height: 1.3;
        margin: 0.2em 0;
        padding: 1rem 0.7em;

        float: left;
        width: calc(100% - 15rem);
        max-width: calc(100% - 15rem);
      }

      .comment-submit {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        margin: 0.3rem 0 0 0;
        padding: 1.3rem 2rem 1.4rem 2rem;
        float: left;
        width: 15rem;
      }

      &::after {
        clear: both;
        content: "";
        display: table;
      }
    }

    #comment-list {
      list-style: none;
      padding: 0;


      .project-people {
        border-radius: 50%;
        width: 40px;
        height: 40px;
      }

      li[data-topic='true'] {
        cursor: pointer;
        cursor: hand;
      }

      ul.comment-list > li {
        list-style: none;
        position: relative;
      }

      .comment-list-wrapper ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
      }

      .comment-form {
        margin-left: 40px;
        margin-bottom: 10px;
      }

      .comment-form-topic {
        margin-bottom: 20px;
      }

      li.border-left {
        margin-bottom: 5px;
      }

      .add-comment-button {
        float: right;
      }

      .user-username {
        font-weight: bold;
      }

      .comment-metadata {
        font-size: 1.4rem;
        padding-top: 3px;
        color: $color-gray;
      }

      .comment-item {
        width: 100%;
        overflow: hidden;
        // display: inline-table;
        padding-top: 5px;
      }

      .comment-image {
        float: left;
        // display: table-cell;
        vertical-align: top;
        max-height: 40px;
        max-width: 40px;
        height: 40px;
        width: 40px;
      }

      .comment-inner {
        padding: 5px;
        // display: table-cell;
        width: 100%;
        vertical-align: top;
        margin-left: 45px;
      }

      .comment-alert-empty {
        display: none;
      }

      .comment-content {
        position: relative;
        -ms-word-break: break-all;
        /* Be VERY careful with this, breaks normal words wh_erever */
        word-break: break-all;
        /* Non standard for webkit */
        word-break: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
      }

      .comment-expand,
      .comment-contract {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
      }

      .comment-expand > .content,
      .comment-contract > .content {
        font-size: 10px;
      }

      .comment-expand {
        display: none;
      }

      // .comment-input {
      //   padding-top: 5px;
      //   padding-bottom: 5px;
      //   position: relative;
      //   height: auto;
      //   min-height: 30px;
      // }

      form.comment-submit .input-group-btn {
        vertical-align: bottom;
      }

      #comment-empty {
        border-left: 2px solid #cd2026;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        padding-left: $size-default;
      }

      a.delete-comment {
        float: right;
        margin-top: 5px;
        background-color: $color-gray-light;
        border-radius: 50%;
        // border: 1px solid $color-gray;
        color: #fff;
        // font-size: 7px;
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
        padding: 1px 9px;
      }

      #comment-form-target {
        margin-top: 5px;
      }
    }
  }
}

.usajobs-rightrail {

  .usajobs-open-opps-opportunity-progress__container {
    display: flex;

    .usajobs-open-opps-opportunity-progress__step {
      //display: inline-block;
      text-align: center;
      width: 9rem;
      margin-bottom: $size-default;
      flex-grow: 1;
      flex-shrink: 1;

      .progress-label {
        line-height: 1;
        margin: $size-S auto 0 auto;
        max-width: 90px;
      }
    }

    .usajobs-open-opps-opportunity-progress__assigned {
      background-color: $color-gray-lighter;
      -webkit-font-smoothing: antialiased;
      margin: $size-default 0 0 0;
      padding: 0;
      display: inline-block;
      width: 65px;
      height: 65px;
      line-height: 65px;
      border-radius: 50%;
      color: #fff;
      //box-shadow: 0 0 0 2px none inset;
      text-decoration: none;
      text-align: center;

      &.has-step {
        background-color: $color-green;
      }

      &::after {
        position: relative;
        display: inline-block;
        width: 4.1rem;
        height: 4.1rem;
        padding-top: 0.9rem;
        margin-left: 0;
        content: url(../img/icons/white/svg/user-plus.svg);
        color: #fff;
      }
    }

    .usajobs-open-opps-opportunity-progress__in-progress {
      background-color: $color-gray-lighter;
      -webkit-font-smoothing: antialiased;
      margin: $size-default 0 0 0;
      padding: 0;
      display: inline-block;
      width: 65px;
      height: 65px;
      line-height: 65px;
      border-radius: 50%;
      color: #fff;
      //box-shadow: 0 0 0 2px none inset;
      text-decoration: none;
      text-align: center;

      &.has-step {
        background-color: $color-gold-light;
      }

      &::after {
        position: relative;
        display: inline-block;
        width: 3.6rem;
        height: 3.6rem;
        padding-top: 1.3rem;
        margin-left: 0;
        content: url(../img/icons/white/svg/sync.svg);
        color: #fff;
      }
    }

    .usajobs-open-opps-opportunity-progress__completed {
      background-color: $color-gray-lighter;
      -webkit-font-smoothing: antialiased;
      margin: $size-default 0 0 0;
      padding: 0;
      display: inline-block;
      width: 65px;
      height: 65px;
      line-height: 65px;
      border-radius: 50%;
      color: #fff;
      //box-shadow: 0 0 0 2px none inset;
      text-decoration: none;
      text-align: center;

      &.has-step {
        background-color: $color-primary-alt;
      }

      &::after {
        position: relative;
        display: inline-block;
        width: 3.6rem;
        height: 3.6rem;
        padding-top: 1.2rem;
        margin-left: 0;
        content: url(../img/icons/white/svg/check.svg);
        color: #fff;
      }
    }

    .progress-spacer {
      height: 0.3rem;
      width: 7.2rem;
      background-color: $color-gray-lighter;
      content: ' ';
      //display: inline-block;
      margin-bottom: 3rem;
      flex-grow: 8;
      flex-shrink: 8;
      align-self: center;
    }
  }

  .continue-accepting-applicants {
    background-color: $color-primary-alt-lightest;
    margin-top: $size-default;
    margin-bottom: $size-M;

    .continue-accepting-applicants__toggle {
      color: #000;
      text-decoration: none;
      display: flex;
      padding: $size-default;

      .continue-accepting-applicants__label {
        flex: 1;
      }

      .continue-accepting-applicants__toggle-container {
        position: relative;
        width: 86px;
        cursor: pointer;

        &:after {
          display: inline-block;
          height: 2.4rem;
          width: 27.4375px;
          content: url(../img/toggle-on.svg);
          position: absolute;
          right: 2.8rem;
        }

        .continue-accepting-applicants__toggle-labelon {
          float: right;
          font-weight: 600;
        }
      }

      .toggle-off {

        &:after {
          content: url(../img/toggle-off.svg);
        }

        .continue-accepting-applicants__toggle-labeloff {
          font-weight: 600;
        }

        .continue-accepting-applicants__toggle-labelon {
          font-weight: normal;
        }
      }
    }
  }

  .project-people__assign, .project-people__remove {
    margin: 0.5rem 0 0 0;
    padding: 0;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    color: #fff;
    background-color: inherit;
    box-shadow: 0 0 0 2px none inset;
    background-color: $color-green-light;
    text-decoration: none;
    vertical-align: sub;

    &:after {
      position: relative;
      display: inline-block;
      width: 1.6rem;
      height: 1.6rem;
      //background-size: 12px 12px;
      margin-top: 0.3rem;
      margin-left: 0;
      color: #fff;
    }
  }

  .project-people__assign {
    &:after {
      content: url(../img/icons/white/svg/plus.svg);
    }
  }

  .project-people__remove {
    background-color: $color-gray-lighter;

    &:after {
      margin-top: 0;
      content: url(../img/icons/close/times.svg);
    }
  }

  .usajobs-assistive-text {
    position: absolute !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    width: 1px !important;
    height: 1px !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
  }

  .project-people__not-available {
    color: $color-gray-light;
    font-size: 1.9rem;
    font-style: italic;
    font-weight: 600;
    margin-top: $size-XXL;
    margin-bottom: $size-XXL;
    text-align: center;
  }

  .assigned-participants-wrapper {

    .project-people__assign-instruction {
      color: $color-gray-light;
      font-size: 1.9rem;
      font-style: italic;
      font-weight: 600;
      margin-top: $size-XXL;
      margin-bottom: $size-XXL;
      text-align: center;
    }

    .project-people__assign {
      position: absolute;
      top: -0.4rem;
      right: 1rem;
      margin: 0;
      vertical-align: initial;
      background-color: $color-gray-light;

      &:after {
        position: relative;
        display: inline-block;
        width: 1.6rem;
        height: 1.6rem;
        //background-size: 12px 12px;
        margin-top: 0.3rem;
        margin-left: 0;
        content: url(../img/icons/white/svg/times.svg);
        color: #fff;
      }
    }

    .project-people__assign-empty {
      margin: 0.5rem 0 0 0;
      padding: 0;
      display: inline-block;
      width: 30px;
      height: 30px;
      line-height: 30px;
      border-radius: 50%;
      color: #fff;
      background-color: inherit;
      box-shadow: 0 0 0 2px none inset;
      background-color: $color-green-light;
      text-decoration: none;
      vertical-align: sub;

      &:after {
        position: relative;
        display: inline-block;
        width: 1.6rem;
        height: 1.6rem;
        //background-size: 12px 12px;
        margin-top: 0.3rem;
        margin-left: 0;
        content: url(../img/icons/white/svg/plus.svg);
        color: #fff;
      }
    }
  }

  #nextstep, #complete {
    display: block;
    margin-right: 0;

    &.disabled {
      background-color: $color-gray-lightest;
      color: $color-gray-light;
      cursor: default;
    }

    &.hidden {
      display: none;
    }
  }

  #complete {
    background-color: $color-primary-alt;
    color: #000;
  }

  #apply {
    display: block;
    margin-right: 0;
  }

  .project-people__wrapper {
    margin-top: 15px;
    margin-bottom: $size-default;

    &::after {
      clear: both;
      content: "";
      display: block;
    }

    .project-people-show-div {
      text-align: center;
      padding-top: 8px;
      display: inline-block;
      float: left;
      min-width: 105px;
      margin-bottom: $size-M;
      position: relative;

      .project-people {
        width: 6.5rem;
        height: 6.5rem;
        border-radius: 50%;
        display: block;
        text-align: center;
        margin: 0 auto 0.5rem auto;
      }

      .project-people-show-label {
        line-height: 1;
        margin: 0 auto;
        max-width: 90px;
      }

      .project-people__assign, .project-people__remove {
        position: absolute;
        top: -0.4rem;
        right: 1rem;
        margin: 0;
        vertical-align: initial;
      }
    }
  }

  .usajobs-open-opps-opportunity__cancel {
    display: block;
    width: 100%;
    padding: 0 0 .5rem 0;
    text-align: right;
    color: $color-secondary;
  }
}

.usajobs-open-opps-opportunity-requestor {
  display: flex;
  margin-top: $size-M;
  align-items: center;

  &__wrapper {
    position: absolute;
    bottom: $size-default;
    width: calc(100% - 3rem);
  }

  &__figure {
    flex-shrink: 0;
    padding: 0 0 $size-base 0;

    @include media($L) {
      padding-bottom: 0;

      img {
        width: 4.6rem;
        height: 4.6rem;
        background-position: center;
        background-size: contain;
        border-radius: 100%;
      }
    }
  }

  &__body {
    flex: 1;
    min-width: 0;
    padding: 0 $size-S;
  }

  &__by {
    margin: 0;
    font-size: $small-font-size;
    color: $color-base;
    display: block;
  }

  & &__name {
    margin: 0;
    line-height: 0.75;
  }

  &__status {
    flex: 1;

    .usajobs-pill--opportunity-status {
      margin: 0 0 0 auto;
    }
  }
}
