// Typography

$em-base:             10px;
$base-font-size-px:   17px;
$base-font-size:      1.7rem;
$xsmall-font-size:    1.2rem;
$small-font-size:     1.4rem;
$lead-font-size:      1.9rem;
$title-font-size:     5.2rem;

$h1-font-size:  4.4rem;
$h2-font-size:  3.4rem;
$h3-font-size:  2.4rem;
$h4-font-size:  1.9rem;
$h5-font-size:  1.6rem;
$h6-font-size:  1.3rem;

$base-line-height:    1.5;
$heading-line-height: 1.3;
$lead-line-height:    1.7;

$font-sans:           'Source Sans Pro', 'Helvetica';
$font-serif:          'Merriweather', 'Georgia';

$font-normal:         400;
$font-bold:           700;
