<section class="usajobs-canvas">
  <div class="usajobs-content-gutter usajobs-open-opps-search">
    <main class="main-content usajobs-content-well" id="main-content" aria-label="Search results" aria-hidden="false">
      <div class="usajobs-grid usajobs-open-opps-search__box">
        <div class="usa-width-one-whole">
          <div class="search__box-search">
            <h1>Search for opportunities</h1>
            <p class="search__box-content">Gain experience with hands-on training, share your expertise and work with others across the government.</p>
            <p class="search__box-content">What is <a href="https://usajobs.github.io/openopps-help/" target="_blank"><span class="underline">Open Opportunities</span>? <span class="sr-only">Opens in a new window</span><i class="fas fa-external-link-alt"></i></a></p>
          </div>
          <div class="search__box-acquisition">
            <h1>Acquisition Open Opportunities</h1>
            <h3 id="search__box-subtitle">You're now viewing Acquisition opportunities only.</h3>
            <p class="search__box-content">Gain experience with hands-on training, share your expertise and work with others across the government.</p>
            <p class="search__box-content">What is <a href="https://usajobs.github.io/openopps-help/" target="_blank"><span class="underline">Open Opportunities</span>? <span class="sr-only">Opens in a new window</span><i class="fas fa-external-link-alt"></i></a></p>
          </div>
            <label for="search" class="search__box-label">
            <span class="fas fa-search search-icon"></span>
            Keywords
          </label>
          <div class="usajobs-grid-full">
            <div class="usa-width-two-thirds">
              <input type="text" id="search" title="Search" class="usajobs-open-opps-search__input" value="<%- term %>" placeholder="Find opportunities by topic, skill, career field, agency or series">
            </div>
            <div class="usa-width-one-third">
              <button id="search-button" class="usa-button usa-button-primary-alt usajobs-nav__search-button">Search</button>
            </div>
          </div>
        </div>
      </div>
      <div id="usajobs-search-pills"></div>
      <h4 id="results-count"></h4>
      <div class="usajobs-open-opps-search-results" id="task-list">
        <div class="usajobs-open-opps-search-results__loading" id="search-results-loading">
          <span class="fas fa-circle-notch fa-spin fa-5x fa-fw"></span>
          <span class="sr-only">Loading</span>
        </div>
      </div>
      <div id="task-page"></div>
    </main>

    <div id="usajobs-search-tab-bar">
      <nav class="usajobs-search-tab-bar" data-object="search-tab-bar">
          <div class="usajobs-search-tab-bar__body" id="search-tab-bar-controls">
              <a href="javascript:void(0);" id="search-tab-bar-filter" class="usajobs-search-tab-bar__link usajobs-search-tab-bar__filters" data-behavior="search-tab-bar.toggle-filters"
              aria-controls="task-filters" aria-expanded="false" title="Filter">
                  <button class="usa-button-secondary-inverse usajobs-search-tab-bar__filters-default" aria-hidden="false">
                    <span class="usajobs-icon--center">
                      <svg class="fa fa-sliders-h fa-w-18" title="Filter" aria-labelledby="fa-title-16" data-prefix="fas" data-icon="sliders-h"
                      role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><title id="fa-title-16">Filter</title>
                        <span class="fas fa-sliders-h" title="Filter"></span>
                  </span>
                  <span class="usajobs-filter">Filter</span>
                  <span class="usajobs-search-tab-bar__filter-count-container" aria-hidden="false">
                      <span id="search-tab-bar-filter-count" class="usajobs-search-tab-bar__filter-count"><%= appliedFilterCount %></span>
                  </span>
                  </button>
                  <button class="usa-button-primary usajobs-search-tab-bar__filters-expanded" data-behavior="search-tab-bar.show-results" aria-expanded="false">
                      View results
                  </button>
              </a>
          </div>
      </nav>
    </div>

    <aside class="usajobs-rightrail" id="rightrail">
      <div class="find-people">
        <h4>Find people to help you complete your next project.</h4>
        <p class="no-margin-bottom">Anyone can create an opportunity. <a href="https://usajobs.github.io/openopps-help/opportunity/" target="_blank">Learn how <span class="sr-only">Opens in a new window</span><i class="fas fa-external-link-alt"></i></a></p>
        <a href="javascript:void(0)" id="create-opportunity" class="usa-button usa-button-secondary add-opportunity"><i class="fa fa-plus"></i> <span>Create opportunity</span></a>
        <p>Connect with people who share similar skills or invite someone to apply to your opportunity. <a href="javascript:void(0)" id="search-people" class="search-people"><span class="fas fa-users"></span> Search people</a></p>
      </div>
      <div id="task-filters"></div>
    </aside>
  </div>
</section>
