<section class="usajobs-canvas">
  <div class="usajobs-content-gutter usajobs-open-opps-search">
    <main class="main-content usajobs-content-well" id="main-content" aria-label="Search results">
      <div class="usajobs-grid usajobs-open-opps-search__title">
        <div class="usa-width-one-whole">
          <input type="text" id="search" title="Search" class="usajobs-open-opps-search__input" placeholder="<%- placeholder %>" value="<%- term %>">
          <span class="fa fa-search search-icon"></span>
        </div>
      </div>
      <div class="usajobs-open-opps-search-results" id="task-list">
        <div class="usajobs-open-opps-search-results__loading" id="search-results-loading">
          <span class="fas fa-circle-notch fa-spin fa-5x fa-fw"></span>
          <span class="sr-only">Loading</span>
        </div>
      </div>
      <div class="" id="task-page"></div>
    </main>

    <aside class="usajobs-rightrail" id="rightrail">
      <div class="find-people">
        <h4>Find people to help you complete your next project.</h4>
        <p class="no-margin-bottom">Anyone can create an opportunity. <a href="" target="_blank">Learn how <span class="sr-only">Opens in a new window</span><i class="fas fa-external-link-alt"></i></a></p>
        <a href="#createOpportunity" id="create-opportunity" class="usa-button usa-button-secondary add-opportunity" data-toggle="modal" data-backdrop="static" style="<% if (!user) { %>display: none;<% } %>"><i class="fa fa-plus"></i> <span>Create opportunity</span></a>
        <p>Connect with people who share similar skills or invite someone to apply to your opportunity. <a href="" target="_blank" class="external-link-alt"><span class="fas fa-users" focusable="false"></span> Search people</a></p>
      </div>

      <div class="usajobs-open-opps-opportunity">
        <h3>Filters</h3>
        <h4 class="usajobs-search-filters__title">Status</h4>
        <a class="usajobs-search-filters__select-toggle" href="javascript:void(0);" id="select-all-filters">Select all</a>

        <ul id="stateFilters" class="usa-unstyled-list">
          <% _.each(ui.states, function (t) { %>
            <% if (!t.hide || (user && user.isAdmin)) { %>
              <li>
                <input type='checkbox' id='state<%- t.label %>' value='<%- t.value %>' <% if(filters.indexOf(t.value) > -1) { %>checked<% } %>>
                <label for='state<%- t.label %>' class="<%- t.value %>-filter">
                  <%- t.label %>
                </label>
              </li>
            <% } %>
          <% }); %>
        </ul>

        <ul id="search-projs" class="nav nav-pills nav-stacked nav-search">
        </ul>
        <ul id="search-tags" class="nav nav-pills nav-stacked nav-search">
        </ul>

        <div class="search-clear" style="display: none;">
          <div class="align-right">
            <a href="#" id="search-clear" class="btn btn-sm btn-c0"><i class="fa fa-remove"></i> Clear Search Criteria</a>
          </div>
        </div>

        <% if (agencyName) { %>
        <h4 class="usajobs-search-filters__title agency">Agency</h4>
          <input id="js-restrict-task-filter" class="restrict-participation" type="checkbox" name="restrict">
          <label for="js-restrict-task-filter">Restrict to <%- agencyName %></label>
        <% } %>
      </div>
    </aside>
  </div>
</section>
