<section class="usajobs-canvas">
  <div class="usajobs-content-gutter usajobs-open-opps-search">
    <main class="main-content usajobs-content-well" id="main-content" aria-label="Search results">
      <div class="usajobs-grid usajobs-open-opps-search__box">
        <div class="usa-width-one-whole">
          <h1>Search for opportunities</h1>
          <p class="search__box-content">Gain experience with hands-on training, share your expertise and work with others across the government.</p>
          <p class="search__box-content">Learn more about <a href="https://usajobs.github.io/openopps-help/" target="_blank"><span class="underline">Open Opportunities</span> <span class="sr-only">Opens in a new window</span><i class="fas fa-external-link-alt"></i></a></p>
          <label for="search" class="search__box-label">
            <span class="fas fa-search search-icon"></span>
            Keywords
          </label>
          <div class="usajobs-grid-full">
            <div class="usa-width-two-thirds">
              <input type="text" id="search" title="Search" class="usajobs-open-opps-search__input" placeholder="<%- placeholder %>" value="<%- term %>">
            </div>
            <div class="usa-width-one-third">
              <button class="usa-button usa-button-primary-alt usajobs-nav__search-button">Search</button>
            </div>
          </div>
        </div>
      </div>
      <div class="usajobs-open-opps-search-results" id="task-list">
        <div class="usajobs-open-opps-search-results__loading" id="search-results-loading">
          <span class="fas fa-circle-notch fa-spin fa-5x fa-fw"></span>
          <span class="sr-only">Loading</span>
        </div>
      </div>
      <div class="" id="task-page"></div>

      <div id="usajobs-search-tab-bar">
        <nav class="usajobs-search-tab-bar" data-object="search-tab-bar">
            <div class="usajobs-search-tab-bar__body" id="search-tab-bar-controls">
                <a href="javascript:void(0);" id="search-tab-bar-filter" class="usajobs-search-tab-bar__link usajobs-search-tab-bar__filters" data-behavior="search-tab-bar.toggle-filters" aria-controls="usajobs-search-filters" aria-expanded="false" title="Filter">
                    <div class="usajobs-search-tab-bar__filters-default usa-button usa-button-secondary-inverse">
                        <span class="usajobs-icon--center">
                            <svg class="fa fa-sliders-h fa-w-18" title="Filter" aria-labelledby="fa-title-16" data-fa-processed="" data-prefix="fas" data-icon="sliders-h" 
                            role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><title id="fa-title-16">Filter</title>
                              <span class="fas fa-sliders-h" title="Filter"></span>
                        </span>
                        <span class="usajobs-filter">Filter</span>
                        <span class="usajobs-search-tab-bar__filter-count-container" aria-hidden="false">
                            <span id="search-tab-bar-filter-count" class="usajobs-search-tab-bar__filter-count">1</span>
                        </span>
                    </div>
                    <button class="usa-button-primary usajobs-search-tab-bar__filters-expanded" data-behavior="search-tab-bar.show-results" aria-expanded="false">
                        View results
                    </button>
                </a>
            </div>
        </nav>
    </div>

    </main>
    <aside class="usajobs-rightrail" id="rightrail">
      
    <div class="usajobs-search-filters" id="usajobs-search-filters" aria-hidden="true">
        <div id="usajobs-search-filter-nav" data-object="search-filter-nav">
            <div class="usajobs-search-filter-nav usajobs-search-filter-nav--filters">
                <div class="usajobs-search-filter-nav__body">
                    <span class="fas fa-sliders-h" title="Filters"></span> Filters
                    <span class="usajobs-search-filter-nav__results">5 opportunities found</span>
                    <a href="javascript:void(0);" class="usajobs-search-filter-nav__back" data-behavior="search-filter-nav.close" aria-controls="usajobs-search-filters" title="Filters">
                        <span class="sr-only">Close</span> <svg class="fa fa-times fa-w-12" title="Close" aria-labelledby="fa-title-20" data-fa-processed="" 
                        data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><title id="fa-title-20">Close</title>
                        </svg><span class="fas fa-times" title="Close"></span>
                    </a>
                </div>
            </div>
      </div>


      <div class="find-people">
        <h4>Find people to help you complete your next project.</h4>
        <p class="no-margin-bottom">Anyone can create an opportunity. <a href="https://usajobs.github.io/openopps-help/opportunity/" target="_blank">Learn how <span class="sr-only">Opens in a new window</span><i class="fas fa-external-link-alt"></i></a></p>
        <a href="#createOpportunity" id="create-opportunity" class="usa-button usa-button-secondary add-opportunity" data-toggle="modal" data-backdrop="static" style="<% if (!user) { %>display: none;<% } %>"><i class="fa fa-plus"></i> <span>Create opportunity</span></a>
        <p>Connect with people who share similar skills or invite someone to apply to your opportunity. <a href="/profiles"><span class="fas fa-users"></span> Search people</a></p>
      </div>

      <div class="usajobs-open-opps-opportunity usajobs-search-filters__scroll-container">
          <a href="https://usajobs.github.io/openopps-help/" class="usajobs-opop-section__help" target="_blank">
            <span class="fas fa-question-circle" title="Help"></span> Help
        </a>
        <h3>Filters</h3>
        <h4 class="usajobs-search-filters__title">Status</h4>
        <a class="usajobs-search-filters__select-toggle" href="javascript:void(0);" id="select-all-filters">Select all</a>

        <ul id="stateFilters" class="usa-unstyled-list">
          <% _.each(ui.states, function (t) { %>
            <% if (!t.hide || (user && user.isAdmin)) { %>
              <li>
                <input type='checkbox' id='state<%- t.label %>' value='<%- t.value %>' <% if(filters.indexOf(t.value) > -1) { %>checked<% } %>>
                <label for='state<%- t.label %>' class="<%- t.value %>-filter">
                  <%- t.label %>
                </label>
              </li>
            <% } %>
          <% }); %>
        </ul>

        <ul id="search-projs" class="nav nav-pills nav-stacked nav-search">
        </ul>
        <ul id="search-tags" class="nav nav-pills nav-stacked nav-search">
        </ul>

        <div class="search-clear" style="display: none;">
          <div class="align-right">
            <a href="#" id="search-clear" class="btn btn-sm btn-c0"><i class="fa fa-remove"></i> Clear Search Criteria</a>
          </div>
        </div>

        <h4 class="usajobs-search-filters__title skill">Skill</h4>
        <input type="text" id="skill" title="Skill" />

        <h4 class="usajobs-search-filters__title career">Career field</h4>
        <input type="text" id="career" title="Career field" />

        <h4 class="usajobs-search-filters__title">Series</h4>
        <input type="text" id="series" title="Series" />

        <h4 class="usajobs-search-filters__title time">Time commitment</h4>
        <a class="usajobs-search-filters__select-toggle" href="javascript:void(0);" id="select-all-time-filters">Select all</a>
        <ul id="stateFilters" class="usa-unstyled-list">
          <li>
              <input id="one-time" type="checkbox" name="time">
              <label for="one-time">One time</label>
          </li>
          <li>
              <input id="ongoing" class="restrict-participation" type="checkbox" name="time" />
              <label for="ongoing">Ongoing</label>
          </li>
          <li>
              <input id="full-time" class="restrict-participation" type="checkbox" name="time" />
              <label for="full-time">Full time detail</label>
          </li>
        </ul>

        <h4 class="usajobs-search-filters__title location">Location</h4>
        <a class="usajobs-search-filters__select-toggle" href="javascript:void(0);" id="select-all-locations-filters">Select all</a>
        <ul id="stateFilters" class="usa-unstyled-list">
            <li>
              <input id="virtual" type="checkbox" name="location">
              <label for="virtual">Virtual</label>
            </li>
            <li>
              <input id="in-person" class="restrict-participation" type="checkbox" name="location" />
              <label for="in-person">In person</label>
            </li>
          </ul>

        <% if (agencyName) { %>
          <h4 class="usajobs-search-filters__title agency">Agency</h4>
            <input id="js-restrict-task-filter" class="restrict-participation" type="checkbox" name="restrict" />
            <label for="js-restrict-task-filter">Restrict to <%- agencyName %></label>
        <% } %>
      </div>
    </aside>
  </div>
</section>
